<include file="header"/>

<body>
    <!-- 页面需要引进的css文件 -->
    <link href="__PUBLIC__/Api/css/quiz_king.css" rel="stylesheet" type="text/css">
<style>
.li_pl{padding-left: 1.8rem;}
.li_pl_2{padding-left: 5.2rem;}
</style>
    
        <div class="section-con">
            <div class="section">
                <div class="bg-default title">
                    <h1>推荐怎么玩?</h1>
                </div>
                <div class="title-con">
                    <ul>
                        <li>1、注册成功后，即可免费参与推荐；</li>
                        <li>2、足球亚盘：周一至周四每天可推荐5场，周五至周日每天可推荐10场</li>
                        <li>3、足球竞彩：周一至周四每天可推荐5场，周五至周日每天可推荐10场</li>
                        <li>4、篮球亚盘：周一至周四每天可推荐5场，周五至周日每天可推荐10场 </li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <div class="bg-default title">
                    <h1>如何获取积分?</h1>
                </div>
                <div class="title-con">
                    <ul>
                        <li>1、推荐时系统自动提供100积分进行推荐，不会扣除原账户积分</li>
                        <li class="li_pl">足球亚盘：赢 = 推荐指数X投注积分；赢半 = （推荐指数X积分）/2；</li> 
                        <li class="li_pl">足球竞彩：赢 = （推荐指数-1）X投注积分；</li>
                        <li class="li_pl">篮球亚盘：赢 = 推荐指数X投注积分；</li>
                        <li class="li_pl">输、输半、平都不扣积分；</li>
                        <li>2、玩推荐时填写分析、分享推荐均可获得对应积分</li>
                        <li>3、坚持每日签到，完成宝箱任务，解锁我的成就都可获得丰富积分</li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <div class="bg-default title">
                    <h1>如何获取{$currency}？</h1>
                </div>
                <div class="title-con">
                    <ul>
                        <li>1、积分兑换{$currency}；</li>
                        <li>2、推荐周榜和月榜排名前10名、季榜前5名奖励{$currency}；</li>
                        <li>3、充值购买{$currency}</li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <div class="bg-default title">
                    <h1>积分、{$currency}有什么用？</h1>
                </div>
                <div class="title-con">
                    <ul>
                        <li>积分达到5000可兑换{$currency}(1000积分=1{$currency})，{$currency}可购买其他会员发布的推荐内容或提现</li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <div class="bg-default title">
                    <h1>怎么是销售分成？</h1>
                </div>
                <div class="title-con">
                    <ul>
                        <li>发布推荐内容被其他会员购买后，可获得50%分成</li>
                        <li class="text-red">严禁注册多个ID推荐，若发现作弊等情况，将取消获奖资格；本推荐最终解释权归<if condition="$pkg eq 'master'">彩票推荐大师<else />全球体育</if>所有。</li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="rank-con">





<div class="rank-tit" style="padding-top: 0">
                <div class="title">等级划分</div>
            </div>

<div class="table-con rank-divide">
                <table class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <td width="10%">等级</td>
                            <td width="">升级条件</td>
                            <td width="25%">玩法</td>
                            <td width="18%">定价</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="imgIcon"><img src="__PUBLIC__/Api/images/icon/ic_lv0@2x.png" alt=""></td>
                            <td>新用户注册</td>
                            <td>足球、篮球</td>
                            <td>0{$currency}</td>
                        </tr>
                        <tr>
                            <td class="imgIcon"><img src="__PUBLIC__/Api/images/icon/ic_lv1@2x.png" alt=""></td>
                            <td>发布10场以上推荐，胜率30%以上</td>
                            <td>足球、篮球</td>
                            <td>2{$currency}</td>
                        </tr>
                        <tr>
                            <td class="imgIcon"><img src="__PUBLIC__/Api/images/icon/ic_lv2@2x.png" alt=""></td>
                            <td>发布10场以上推荐，胜率50%以上</td>
                            <td>足球、篮球</td>
                            <td>4{$currency}</td>
                        </tr>
                        <tr>
                            <td class="imgIcon"><img src="__PUBLIC__/Api/images/icon/ic_lv3@2x.png" alt=""></td>
                            <td>发布10场以上推荐，胜率55%以上</td>
                            <td>足球、篮球</td>
                            <td>8{$currency}</td>
                        </tr>
                        <tr>
                            <td class="imgIcon"><img src="__PUBLIC__/Api/images/icon/ic_lv4@2x.png" alt=""></td>
                            <td>发布15场以上推荐，胜率60%以上</td>
                            <td>足球、篮球</td>
                            <td>16{$currency}</td>
                        </tr>
                        <tr>
                            <td class="imgIcon"><img src="__PUBLIC__/Api/images/icon/ic_lv5@2x.png" alt=""></td>
                            <td>发布15场以上推荐，胜率65%以上</td>
                            <td>足球、篮球</td>
                            <td>32{$currency}</td>
                        </tr>
                        <tr>
                            <td class="imgIcon"><img src="__PUBLIC__/Api/images/icon/ic_lv6@2x.png" alt=""></td>
                            <td>发布20场以上推荐，胜率70%以上</td>
                            <td>足球、篮球</td>
                            <td>64{$currency}</td>
                        </tr>
                        <tr>
                            <td class="imgIcon"><img src="__PUBLIC__/Api/images/icon/ic_lv7@2x.png" alt=""></td>
                            <td>发布20场以上推荐，胜率75%以上</td>
                            <td>足球、篮球</td>
                            <td>128{$currency}</td>
                        </tr>
                        <tr>
                            <td class="imgIcon"><img src="__PUBLIC__/Api/images/icon/ic_lv8@2x.png" alt=""></td>
                            <td>发布30场以上推荐，胜率80%以上</td>
                            <td>足球、篮球</td>
                            <td>256{$currency}</td>
                        </tr>
                        <tr>
                            <td class="imgIcon"><img src="__PUBLIC__/Api/images/icon/ic_lv9@2x.png" alt=""></td>
                            <td>发布40场以上推荐，胜率85%以上</td>
                            <td>足球、篮球</td>
                            <td>512{$currency}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:left; padding:0.6rem;text-indent:2rem">
                                <p>(1)足球亚盘、足球竞彩和篮球亚盘规则一样,但等级和价格分开计算。</p>
                                <p>(2)从推荐第一场赛事算起，一周为一个周期，每期达到升级条件则升级成功；</p>
                                <p>(3)维持条件则保持等级，不满足条件则降一级，以下一级胜率及场次为标准，进行降级处理；</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>





            <div class="rank-title">
                <div class="title titleF">足球胜率排行榜</div>
            </div>
           <div class="ic-con">
                <div class="ic">
                    <img src="__PUBLIC__/Api/images/cup-football-week.png">
                    周榜分别统计亚盘和竞彩当天起前7日的推荐，按胜率排行，连续3天没有推荐，或参与推荐数不够15场，则会掉出排行榜，重新推荐即可恢复排行。
                </div>
                <div class="table-con">
                    <table class="table table-bordered" width="100%">
                        <tbody>
                            <tr bgcolor="#97683a">
                                <td colspan="3" style="color:#fff" class="title">周榜奖励</td>
                            </tr>
                            <tr bgcolor="#f7f7f7">
                                <td width="33.333%">排名</td>
                                <td width="33.333%">亚盘奖励</td>
                                <td width="33.333%">竞彩奖励</td>
                            </tr>
                            <tr bgcolor="#f7f7f7">
                                <td width="33.333%">第1名</td>
                                <td width="33.333%">奖励<span class="text-red">388</span>币</td>
                                <td width="33.333%">奖励<span class="text-red">288</span>币</td>
                            </tr>
                            <tr bgcolor="#f7f7f7">
                                <td width="33.333%">第2名</td>
                                <td width="33.333%">奖励<span class="text-red">188</span>币</td>
                                <td width="33.333%">奖励<span class="text-red">168</span>币</td>
                            </tr>
                            <tr bgcolor="#f7f7f7">
                                <td width="33.333%">第3名</td>
                                <td width="33.333%">奖励<span class="text-red">88</span>币</td>
                                <td width="33.333%">奖励<span class="text-red">88</span>币</td>
                            </tr>
                            <tr bgcolor="#f7f7f7">
                                <td width="33.333%">第4名-第10名</td>
                                <td width="33.333%">奖励<span class="text-red">38</span>币</td>
                                <td width="33.333%">奖励<span class="text-red">38</span>币</td>
                            </tr>
                            <tr bgcolor="#ffffe2">
                                <td colspan="3" style="text-align: left;padding:0.6rem 1rem;text-indent:2rem">周胜率＜60%，或当周连续3天没推荐的用户取消领奖资格，每周一派发奖励</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           
        <div class="ic-con">
            <div class="ic">
                <img src="__PUBLIC__/Api/images/cup-football-month.png">
                月榜分别统计亚盘和竞彩当天起前30日的推荐，按胜率排行，连续5天没有推荐，或参与推荐数不够50场，则会掉出排行榜，重新推荐即可恢复排行
            </div>
            <div class="table-con">
                <table class="table table-bordered" width="100%">
                    <tbody>
                        <tr bgcolor="#989a9d">
                            <td colspan="3" style="color:#fff" class="title">月榜奖励</td>
                        </tr>
                        <tr bgcolor="#f7f7f7">
                            <td width="33.333%">排名</td>
                            <td width="33.333%">亚盘奖励</td>
                            <td width="33.333%">竞彩奖励</td>
                        </tr>
                        <tr bgcolor="#f7f7f7">
                            <td width="33.333%">第1名</td>
                            <td width="33.333%">奖励<span class="text-red">888</span>币</td>
                            <td width="33.333%">奖励<span class="text-red">688</span>币</td>
                        </tr>
                        <tr bgcolor="#f7f7f7">
                            <td width="33.333%">第2名</td>
                            <td width="33.333%">奖励<span class="text-red">488</span>币</td>
                            <td width="33.333%">奖励<span class="text-red">288</span>币</td>
                        </tr>
                        <tr bgcolor="#f7f7f7">
                            <td width="33.333%">第3名</td>
                            <td width="33.333%">奖励<span class="text-red">288</span>币</td>
                            <td width="33.333%">奖励<span class="text-red">188</span>币</td>
                        </tr>
                        <tr bgcolor="#f7f7f7">
                            <td width="33.333%">第4名-第10名</td>
                            <td width="33.333%">奖励<span class="text-red">88</span>币</td>
                            <td width="33.333%">奖励<span class="text-red">68</span>币</td>
                        </tr>
                        <tr bgcolor="#ffffe2">
                            <td colspan="3" style="text-align: left;padding:0.6rem 1rem;text-indent:2rem">月胜率＜55%，或当月连续5天没推荐的用户取消领奖资格，每月1日派发奖励</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       
        <div class="ic-con">
            <div class="ic">
                <img src="__PUBLIC__/Api/images/cup-football-season.png">
                季榜分别统计亚盘和竞彩当天起前90日的推荐，按胜率排行，连续5天没有推荐，或参与推荐数不够150场，则会掉出排行榜，重新推荐即可恢复排行。
            </div>
            <div class="table-con">
                <table class="table table-bordered" width="100%">
                    <tbody>
                        <tr bgcolor="#f1c83a">
                            <td colspan="3" style="color:#fff" class="title">季榜奖励</td>
                        </tr>
                        <tr bgcolor="#f7f7f7">
                            <td width="33.333%">排名</td>
                            <td width="33.333%">亚盘奖励</td>
                            <td width="33.333%">竞彩奖励</td>
                        </tr>
                        <tr bgcolor="#f7f7f7">
                            <td width="33.333%">第1名</td>
                            <td width="33.333%">奖励<span class="text-red">1288</span>币</td>
                            <td width="33.333%">奖励<span class="text-red">1088</span>币</td>
                        </tr>
                        <tr bgcolor="#f7f7f7">
                            <td width="33.333%">第2名</td>
                            <td width="33.333%">奖励<span class="text-red">688</span>币</td>
                            <td width="33.333%">奖励<span class="text-red">488</span>币</td>
                        </tr>
                        <tr bgcolor="#f7f7f7">
                            <td width="33.333%">第3名</td>
                            <td width="33.333%">奖励<span class="text-red">388</span>币</td>
                            <td width="33.333%">奖励<span class="text-red">288</span>币</td>
                        </tr>
                        <tr bgcolor="#f7f7f7">
                            <td width="33.333%">第4名-第5名</td>
                            <td width="33.333%">奖励<span class="text-red">288</span>币</td>
                            <td width="33.333%">奖励<span class="text-red">188</span>币</td>
                        </tr>
                        <tr bgcolor="#ffffe2">
                            <td colspan="3" style="text-align: left;padding:0.6rem 1rem;text-indent:2rem">季胜率＜65%奖金减半，每季第一天派发奖励</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--<div class="rank-title">-->
                <!--<div class="title titleL">篮球胜率排行榜</div>-->
            <!--</div>-->
           <!--<div class="ic-con">-->
                <!--<div class="ic">-->
                    <!--<img src="__PUBLIC__/Api/images/cup-basketball-week.png">-->
                    <!--周榜当天起前7日的推荐，按胜率排行，连续3天没有推荐，或参与推荐数不够15场，则会掉出排行榜，重新推荐即可恢复排行。-->
                <!--</div>-->
                <!--<div class="table-con">-->
                    <!--<table class="table table-bordered" width="100%">-->
                        <!--<tbody>-->
                            <!--<tr bgcolor="#97683a">-->
                                <!--<td colspan="2" style="color:#fff" class="title">周榜奖励</td>-->
                            <!--</tr>-->
                            <!--<tr bgcolor="#f7f7f7">-->
                                <!--<td width="50%">排名</td>-->
                                <!--<td width="50%">亚盘奖励</td>-->
                            <!--</tr>-->
                            <!--<tr bgcolor="#f7f7f7">-->
                                <!--<td>第1名</td>-->
                                <!--<td>奖励<span class="text-red">388</span>币</td>-->
                            <!--</tr>-->
                            <!--<tr bgcolor="#f7f7f7">-->
                                <!--<td>第2名</td>-->
                                <!--<td>奖励<span class="text-red">188</span>币</td>-->
                            <!--</tr>-->
                            <!--<tr bgcolor="#f7f7f7">-->
                                <!--<td>第3名</td>-->
                                <!--<td>奖励<span class="text-red">88</span>币</td>-->
                            <!--</tr>-->
                            <!--<tr bgcolor="#f7f7f7">-->
                                <!--<td>第4名-第10名</td>-->
                                <!--<td>奖励<span class="text-red">38</span>币</td>-->
                            <!--</tr>-->
                            <!--<tr bgcolor="#ffffe2">-->
                                <!--<td colspan="2" style="text-align: left;padding:0.6rem 1rem;text-indent:2rem">周胜率＜60%，或当周连续3天没推荐的用户取消领奖资格，每周一派发奖励</td>-->
                            <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
           <!---->
        <!--<div class="ic-con">-->
            <!--<div class="ic">-->
                <!--<img src="__PUBLIC__/Api/images/cup-basketball-month.png">-->
                <!--月榜当天起前30日的推荐，按胜率排行，连续5天没有推荐，或参与推荐数不够50场，则会掉出排行榜，重新推荐即可恢复排行。-->
            <!--</div>-->
            <!--<div class="table-con">-->
                <!--<table class="table table-bordered" width="100%">-->
                    <!--<tbody>-->
                        <!--<tr bgcolor="#989a9d">-->
                            <!--<td colspan="2" style="color:#fff" class="title">月榜奖励</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#f7f7f7">-->
                            <!--<td width="50%">排名</td>-->
                            <!--<td width="50%">亚盘奖励</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#f7f7f7">-->
                            <!--<td>第1名</td>-->
                            <!--<td>奖励<span class="text-red">888</span>币</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#f7f7f7">-->
                            <!--<td>第2名</td>-->
                            <!--<td>奖励<span class="text-red">488</span>币</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#f7f7f7">-->
                            <!--<td>第3名</td>-->
                            <!--<td>奖励<span class="text-red">288</span>币</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#f7f7f7">-->
                            <!--<td>第4名-第10名</td>-->
                            <!--<td>奖励<span class="text-red">88</span>币</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#ffffe2">-->
                            <!--<td colspan="2" style="text-align: left;padding:0.6rem 1rem;text-indent:2rem">月胜率＜55%，或当月连续5天没推荐的用户取消领奖资格，每月1日派发奖励</td>-->
                        <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
       <!---->
        <!--<div class="ic-con">-->
            <!--<div class="ic">-->
                <!--<img src="__PUBLIC__/Api/images/cup-basketball-season.png">-->
                <!--季榜当天起前30日的推荐，按胜率排行，连续5天没有推荐，或参与推荐数不够150场，则会掉出排行榜，重新推荐即可恢复排行。-->
            <!--</div>-->
            <!--<div class="table-con">-->
                <!--<table class="table table-bordered" width="100%">-->
                    <!--<tbody>-->
                        <!--<tr bgcolor="#f1c83a">-->
                            <!--<td colspan="2" style="color:#fff" class="title">季榜奖励</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#f7f7f7">-->
                            <!--<td width="50%">排名</td>-->
                            <!--<td width="50%">亚盘奖励</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#f7f7f7">-->
                            <!--<td>第1名</td>-->
                            <!--<td>奖励<span class="text-red">1288</span>币</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#f7f7f7">-->
                            <!--<td>第2名</td>-->
                            <!--<td>奖励<span class="text-red">688</span>币</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#f7f7f7">-->
                            <!--<td>第3名</td>-->
                            <!--<td>奖励<span class="text-red">388</span>币</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#f7f7f7">-->
                            <!--<td>第4名-第5名</td>-->
                            <!--<td>奖励<span class="text-red">288</span>币</td>-->
                        <!--</tr>-->
                        <!--<tr bgcolor="#ffffe2">-->
                            <!--<td colspan="2" style="text-align: left;padding:0.6rem 1rem;text-indent:2rem">季胜率＜65%奖金减半，每季第一天派发奖励</td>-->
                        <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->

    <div class="warn text-red">
                <p>注意：</p>
                <p>1、获得周、月和季排名系统赠送的{$currency}，可提现。</p>
                <p>2、周一至周五每日处理提款，法定节假日除外。</p>
                <p>3、足球亚盘胜率 = [ 赢的场次 + 赢半的场次 ] / [ 赢的场次 + 赢半的场次 
      + 输的场次 + 输半的场次 ] * 100%</p>
                <p>4、竞彩胜率 = 赢 / [ 赢 + 输 ] * 100%</p>
                <br>
                <br>
            </div>

        </div>
    </div>
</body>
</html>
