<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <title>猎球者官网fox008主页|猎球网</title>
    <meta name="keywords" content="fox008，猎球者官网，owl008猎球者，猎球者分析，猎仇者，猎球网"/>
    <meta name="description" content="猎球者fox008官网为彩民提供最精准的猎球者分析，大量足彩专家免费推介五大联赛竞彩赛事预测。猎仇者fox008还免费提供即时比分和赛事直播。"/>

    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="__PUBLIC__/Home/images/seo/16X16.png">
    <!--引入本页所需css-->
    <link rel="stylesheet"
          href="{:SITE_URL}fox008.__DOMAIN__/min/?b=Public&f=Home/css/reset.css,Home/css/seo/bootstrap.css,Plugs/jquery.validate.simple.css,Home/css/index/index.css,Home/css/login/register.css,Home/css/seo/seo.css,Home/css/common.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/Public/Plugs/bootstrap/js/html5shiv.js"></script>
    <![endif]-->
    <style>
        .home{ padding: 0; }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?0452415b61a2145478f9493dac7e2a81";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
        var DOMAIN = "__DOMAIN__";
    </script>
    <script type="text/javascript"
            src="{:SITE_URL}fox008.__DOMAIN__/min/?b=Public&f=Home/js/seo/jquery-1.11.1.min.js,Plugs/jshow.utils.js,Home/js/seo/bootstrap_all.js,Plugs/jquery.validate.simple.js,Plugs/bootstrap/js/modal.manager.plugin1.0.js,Home/js/seo/jquery.SuperSlide.2.1.1.js,Home/js/seo/jquery.tmpl.min.js"></script>


</head>
<body>
<!-- 顶部开始 -->
<div class="s_header">
    <div class="s_top"></div>
    <div class="s_nav">
        <ul class="clearfix">
            <div class="logo"><a href="{:SITE_URL}fox008.__DOMAIN__" ><img src="__PUBLIC__/Home/images/seo/s_logo.png" alt="猎球者官网"></a></div>
            <li class="on"><a href="{:SITE_URL}fox008.__DOMAIN__" target="_blank">首页</a></li>
            <li><a href="//www.__DOMAIN__/list_n/10.html" target="_blank">推荐市场</a></li>
            <li><a href="//www.__DOMAIN__/list_n/6.html" target="_blank">竞彩亚盘</a></li>
            <li><a href="//www.__DOMAIN__/list_n/6.html" target="_blank">足彩分析</a></li>
            <li><a href="//www.__DOMAIN__/list_n/10.html" target="_blank">专家分析</a></li>
            <li><a href="//bf.__DOMAIN__/" target="_blank">即时比分</a></li>
            <li><a href="//www.__DOMAIN__/Api/Index/introduce.html" target="_blank">猎球者fox008下载</a></li>
        </ul>
    </div>
</div>
<!-- 顶部结束 -->


<!-- 内容 s-->
<div class="home_bg">
    <div class="home">


        <!-- 关注 -->
        <div class="s_focus clearfix">
            <div class="fl fc_img">

                <div id="slideBox" class="slideBox">
                <div class="hd">
                 <ul><li>1</li><li>2</li><li>3</li></ul>
                </div>
                    <div class="bd">
                        <ul>
                            <li>
                                <div class="pic"><a href="//www.__DOMAIN__/analysts.html" target="_blank"><img
                                        src="__PUBLIC__/Home/images/seo/shuffling_1.jpg"/></a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="//www.__DOMAIN__/Api/Index/introduce.html" target="_blank"><img
                                        src="__PUBLIC__/Home/images/seo/shuffling_2.jpg"/></a></div>
                            </li>
                            <li>
                                <div class="pic"><a href="//jc.__DOMAIN__" target="_blank"><img
                                        src="__PUBLIC__/Home/images/seo/shuffling_3.jpg"/></a></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="fr fc_main">
                <div class="p_1 clearfix">
                    <h1 class="fl">猎球者官网</h1>
                    <a href="#"  data-toggle="modal" data-target=".myLogin" register = "1">
                        <span id="focusText"><if condition="$focus eq '1'">已关注<else/>关注</if></span>
                    </a>
                </div>
                <p class="p_2">
                    猎球者fox008是面对竞彩用户的专业比赛数据分析工具。足彩预测和足球分析的准确率特别高。fox008猎球者官网推荐市场有各种免费独家猛料参考，还提供国家竞彩赛程和赛果资讯。

                </p>

                <div class="fcm_foot" style="padding-top: 0">
                    <div class="fl s_login">
                       <nav class="login_nav"><em class="on" id="reg_btn">注 册</em><em id="login_btn">登 录</em></nav>

                       <div id="reg_con" class="c_demo" style="display: block;">
                           <div class="pull-right form">
                            <form id="reg_first" novalidate="novalidate">
                                <div class="item">
                                    <label></label>
                                    <input type="password" class="hidden">
                                    <input id="reg_username" type="text" class="form-control login-input required field-success" name="reg_username" autocomplete="off" data-msg-required="请输入手机号码" placeholder="手机号码">
                                </div>
                                <div class="item">
                                    <div class="pull-left input-con input-position-relative captcha">
                                        <input id="reg_ranks" class="form-control required" name="reg_captcha" type="text" placeholder="验证码" data-msg-required="请输入验证码">
                                    </div>
                                    <div class="pull-left reanks-con">
                                    <a href="javascript:;" onclick="pageSendMobileMsg();" class="btn btn-orange page_code"><span id="pageSendMobileMsg"></span>发送验证码</a>
                                    </div>
                                </div>

                                <div class="login-btn" style="margin-top: 10px;float: left;width: 100%">
                                  <input class="btn btn-orange" type="submit" value="一秒注册">
                                </div>
                                <div class="else_login">
                                    <a href="//www.qqty.com/User/sdk_login/type/qq.html" target="_blank;"><img src="/Public/Home/images/login/qq.png" original="/Public/Home/images/login/qq.png">QQ登录</a>
                                    <a href="//www.qqty.com/User/sdk_login/type/sina.html" target="_blank;"><img src="/Public/Home/images/login/sina.png" original="/Public/Home/images/login/sina.png">微博登录</a>
                                    <a href="//www.qqty.com/User/sdk_login/type/weixin.html" target="_blank;" style="padding-right: 0px;"><img src="/Public/Home/images/login/wx.png" original="/Public/Home/images/login/wx.png">微信登录</a>
                                </div>
                            </form>
                           </div>
                       </div>

                       <div id="reg_con2" class="c_demo" style="display: none;">
                           <div class="pull-right form">
                            <form id="reg_sec" id="reg_complete" novalidate="novalidate">
                                <div class="item">
                                    <label></label>
                                    <input type="password" class="hidden">
                                    <input id="reg_nick_name" type="text" class="form-control login-input required field-success" name="reg_nick_name" autocomplete="off" data-msg-required="请输入用户呢称" placeholder="用户呢称">
                                </div>
                                <div class="item">
                                    <label></label>
                                    <input type="password" class="hidden">
                                    <input id="reg_pass" type="text" class="form-control login-input required field-success" name="reg_pass" autocomplete="off" data-msg-required="请设置密码" placeholder="设置密码">
                                </div>
                                <div class="item">
                                    <label></label>
                                    <input type="password" class="hidden">
                                    <input id="reg_pass_comf" type="text" class="form-control login-input required field-success" name="reg_pass_comf" autocomplete="off" data-msg-required="请确认密码" placeholder="确认密码">
                                </div>

                                <div class="login-btn" style="margin-top: 10px;float: left;width: 100%">
                                  <input class="btn btn-orange" type="submit" value="完成">
                                </div>
                            </form>
                           </div>
                       </div>

                       <div id="login_con" class="c_demo" style="display: none;">
                           <div class="pull-right form">
                            <form id="page_login" novalidate="novalidate">
                                <div class="item">
                                    <label></label>
                                    <input type="password" class="hidden">
                                    <input id="p_username" type="text" class="form-control login-input required field-success" name="p_username" autocomplete="off" data-msg-required="请输入手机号码" placeholder="手机号码">
                                </div>
                                <div class="item">
                                    <label></label>
                                    <input type="password" class="hidden">
                                    <input id="p_password" type="password" name="p_password" class="form-control pwd-input itxt-error required field-success" autocomplete="off" data-msg-required="请输入密码" placeholder="登录密码">
                                </div>
                                <div class="remeber">
                                <div class="checkbox" style="margin: 8px 0">
                                   <!--  <label style="color:#b4b4b4">
                                        <input id="p_remember" type="checkbox" name="remember" id="autoLogin"> 下次自动登录
                                    </label> -->
                                    <a href="//www.qqty.com/User/re_phone.html"><label style="color:#8a8a8a;float: right;" target="_blank"> 忘记密码？</label></a>
                                    <div class="msg-warn">
                                    <b></b>
                                    公共场所不建议自动登录，以防账号丢失
                                    </div>
                                </div>
                                </div>

                                <div class="login-btn">
                                  <input class="btn btn-orange" type="submit" value="登录">
                                </div>
                                <div class="else_login" style="padding-top: 10px!important">
                                    <a href="//www.qqty.com/User/sdk_login/type/qq.html" target="_blank;"><img src="/Public/Home/images/login/qq.png" original="/Public/Home/images/login/qq.png">QQ登录</a>
                                    <a href="//www.qqty.com/User/sdk_login/type/sina.html" target="_blank;"><img src="/Public/Home/images/login/sina.png" original="/Public/Home/images/login/sina.png">微博登录</a>
                                    <a href="//www.qqty.com/User/sdk_login/type/weixin.html" target="_blank;" style="padding-right: 0px;"><img src="/Public/Home/images/login/wx.png" original="/Public/Home/images/login/wx.png">微信登录</a>
                                </div>
                            </form>
                           </div>
                       </div>

                    </div>

                    <div class="fr"><img width="160px" height="160px" src="__PUBLIC__/Home/images/seo/s_ewm.jpg" alt="猎球者官网">
                    </div>
                </div>
      </div>
      <!-- 关注 e-->

        <!-- 主要内容 s-->
        <div class="infor-con clearfix">

            <!-- item_left s-->
            <div class="item_left">

                <!-- foot-item s-->
                <div class="football-item clearfix">

                    <div class="fitem-title clearfix">
                        <div class="fitem-left">
                            <h2 class="s_title">免费推荐</h2>
                        </div>
                        <div class="fitem-line more pull-right more-icon">
                            <a target="_blank" class="pull-left" href="//www.__DOMAIN__/list_n/6.html"
                               rel="nofollow">更多</a>
                            <i class="pull-left myIcon"></i>
                        </div>
                    </div>
                    <!-- 新闻 start-->
                    <div class="www-list">
                        <ul>
                            <volist name="publishEliteList" id="item">
                                <li>
                                    <a href="{:U('/info_n/'.$item['id'].'')}"
                                       target="_blank"
                                       title="{$item['seo_title']}">
                                        {$item['seo_title']}
                                    </a>
                                </li>
                            </volist>

                        </ul>
                    </div>
                    <!-- 新闻 end-->
                </div>
                <!-- foot-item e-->

                <!-- foot-item s-->
                <div class="football-item clearfix">

                    <div class="fitem-title clearfix">
                        <div class="fitem-left">
                            <h2 class="s_title">北单推荐</h2>
                        </div>
                        <div class="fitem-line more pull-right more-icon">
                            <a target="_blank" class="pull-left" href="//www.__DOMAIN__/list_n/55.html"
                               rel="nofollow">更多</a>
                            <i class="pull-left myIcon"></i>
                        </div>
                    </div>
                    <!-- 新闻 start-->
                    <div class="www-list">
                        <ul>
                            <volist name="publishNorthList" id="item">
                                <li>
                                    <a href="{:U('/info_n/'.$item['id'].'')}"
                                       target="_blank"
                                       title="{$item['seo_title']}">
                                        {$item['seo_title']}
                                    </a>
                                </li>
                            </volist>
                        </ul>
                    </div>
                    <!-- 新闻 end-->
                </div>
                <!-- foot-item e-->

                <!-- foot-item s-->
                <div class="football-item clearfix">

                    <div class="fitem-title clearfix">
                        <div class="fitem-left">
                            <h2 class="s_title">足球情报</h2>
                        </div>
                        <div class="fitem-line more pull-right more-icon">
                            <a target="_blank" class="pull-left" href="//www.__DOMAIN__/list_n/football.html"
                               rel="nofollow">更多</a>
                            <i class="pull-left myIcon"></i>
                        </div>
                    </div>
                    <!-- 新闻 start-->
                    <div class="www-list">
                        <ul>
                            <volist name="publishFbList" id="item">
                                <li>
                                    <a href="{:U('/info_n/'.$item['id'].'')}"
                                       target="_blank"
                                       title="{$item['seo_title']}">
                                        {$item['seo_title']}
                                    </a>
                                </li>
                            </volist>
                        </ul>
                    </div>
                    <!-- 新闻 end-->
                </div>
                <!-- foot-item e-->


            </div>
            <!-- item_left e-->

            <!-- con_right s -->
            <div class="con_right fr">
                <div class="fitem-title clearfix">
                    <div class="fitem-left" style="top:-12px;margin-left: -2px">
                        <h2 class="gaos">推荐高手</h2>
                    </div>
                    <div class="fitem-line more pull-right more-icon">
                        <a target="_blank" class="pull-left" href="//jc.__DOMAIN__/rank.html"
                           rel="nofollow" register = "1">更多</a>
                    </div>
                </div>
                <!-- 推荐高手 s  -->
                <div id="myGs" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <ol class="carousel-indicators">
                        <li data-target="#myGs" data-slide-to="0" class="active"></li>
                        <li data-target="#myGs" data-slide-to="1" class=""></li>
                        <li data-target="#myGs" data-slide-to="2" class=""></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item killer active">
                            <ul class="gsUl clearfix s_gsUl" style="width: 310px;height: 243px;">
                                <volist name="killer" id="item" offset="0" length='6'>
                                    <li class="clearfix">
                                        <a target="_blank" href="{:U('/userindex/'.$item['user_id'].'')}" register = "1">
                                            <div class="pull-left face">
                                                <img src="{$item.face}">
                                            </div>
                                            <div class="pull-left name">
                                                <h4 class="clearfix"><span class="pull-left">{$item.nick_name}</span><i
                                                        class="pull-right myIcon lv{$item.lv}"></i></h4>
                                                <p class="p1">周胜率：{$item.winrate}%</p>
                                                <p class="p2">
                                                    <span>近{$item.tenNum}中{$item.WinNum}</span>
                                                    <if condition="$item.winning gt 1">
                                                        <span class="span2">{$item.winning}连胜</span>
                                                    </if>
                                            </div>
                                        </a>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                        <div class="item killer">
                            <ul class="gsUl clearfix s_gsUl" style="width: 310px;height: 243px;">
                                <volist name="killer" id="item" offset="6" length='6'>
                                    <li class="clearfix">
                                        <a target="_blank" href="{:U('/userindex/'.$item['user_id'].'')}" register = "1">
                                            <div class="pull-left face">
                                                <img src="{$item.face}">
                                            </div>
                                            <div class="pull-left name">
                                                <h4 class="clearfix"><span class="pull-left">{$item.nick_name}</span><i
                                                        class="pull-right myIcon lv{$item.lv}"></i></h4>
                                                <p class="p1">周胜率：{$item.winrate}%</p>
                                                <p class="p2">
                                                    <span>近{$item.tenNum}中{$item.WinNum}</span>
                                                    <if condition="$item.winning gt 1">
                                                        <span class="span2">{$item.winning}连胜</span>
                                                    </if>
                                            </div>
                                        </a>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                        <div class="item killer">
                            <ul class="gsUl clearfix s_gsUl" style="width: 310px;height: 243px;">
                                <volist name="killer" id="item" offset="12" length='6'>
                                    <li class="clearfix">
                                        <a target="_blank" href="{:U('/userindex/'.$item['user_id'].'')}" register = "1">
                                            <div class="pull-left face">
                                                <img src="{$item.face}">
                                            </div>
                                            <div class="pull-left name">
                                                <h4 class="clearfix"><span class="pull-left">{$item.nick_name}</span><i
                                                        class="pull-right myIcon lv{$item.lv}"></i></h4>
                                                <p class="p1">周胜率：{$item.winrate}%</p>
                                                <p class="p2">
                                                    <span>近{$item.tenNum}中{$item.WinNum}</span>
                                                    <if condition="$item.winning gt 1">
                                                        <span class="span2">{$item.winning}连胜</span>
                                                    </if>
                                            </div>
                                        </a>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 推荐高手 e  -->


                <div class="pull-right rightCon">
                    <div class="data-graph pull-right">
                        <!-- Nav tabs -->
                        <div class="fitem-title clearfix">
                    <div class="fitem-left" style="top:-12px;margin-left: -2px">
                        <h2 class="gaos">足球排行榜</h2>
                    </div>
                    <div class="fitem-line more pull-right more-icon">
                        <a target="_blank" class="pull-left" href="//jc.__DOMAIN__/rank.html"
                           rel="nofollow" register = "1">更多</a>
                    </div>
                </div>
                        <!-- Nav tabs -->
                        <div class="tabCon">
                            <!-- Tab panes -->
                            <div class="tab-content" style="display: block;">
                                <ul class="clearfix time-tab time-tab-one">
                                    <li class="current"><a href="javascript:void(0);" >日榜</a></li>
                                    <li class=""><a href="javascript:void(0);" >周榜</a></li>
                                    <li class=""><a href="javascript:void(0);" >月榜</a></li>
                                    <li class=""><a href="javascript:void(0);" >季榜</a></li>
                                </ul>
                                <div class="rank-list-con rank-list-con-one score-list">
                                    <div class="rank-list" style="display: block;">
                                        <div class="tabList" tabindex="0" style="overflow-y: hidden; outline: none;">
                                            <table class="table">
                                                <tbody>
                                                <volist name="footRedList" id="item">
                                                    <tr>
                                                        <td width="25"><span class="nb <if condition=" $item.ranking lt
                                                                             4">bg-orange
                                                            <else/>
                                                            bg-gray</if>">{$item.ranking}</span></td>
                                                        <td width="35">
                                                            <a target="_blank"
                                                               href="{:U('/userindex/'.$item['user_id'].'')}"
                                                               class="face-r" register = "1">
                                                                <img src="{$item.face}"
                                                                     width="30" height="30">

                                                            </a>
                                                        </td>
                                                        <td width="160" class="text-l">
                                                            <a target="_blank"
                                                               href="{:U('/userindex/'.$item['user_id'].'')}"
                                                               class="clearfix" register = "1">
                                                                <strong class="pull-left">{$item.nick_name|msubstr=###,0,6}</strong>
                                                                <i class="pull-left tdLv myIcon lv{$item.lv}"></i>
                                                            </a>
                                                        </td>
                                                        <td width="54" class="text-red">
                                                            <div class="gz">
                                                                <span><i>{$item.winrate}%</i></span>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </volist>


                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="l_more"><a target="_blank" href="//jc.__DOMAIN__/rank.html"
                                                               class="text-center" register = "1">查看更多&gt;</a></div>
                                    </div>
                                    <div class="rank-list" style="display: none;">
                                        <div class="tabList" tabindex="1" style="overflow-y: hidden; outline: none;">
                                            <table class="table">
                                                <tbody>
                                                <volist name="footWinWeek" id="item">
                                                    <tr>
                                                        <td width="25"><span class="nb <if condition=" $item.ranking lt
                                                                             4">bg-orange
                                                            <else/>
                                                            bg-gray</if>">{$item.ranking}</span></td>
                                                        <td width="35">
                                                            <a target="_blank"
                                                               href="{:U('/userindex/'.$item['user_id'].'')}"
                                                               class="face-r" register = "1">
                                                                <img src="{$item.face}"
                                                                     width="30" height="30">
                                                            </a>
                                                        </td>
                                                        <td width="160" class="text-l">
                                                            <a target="_blank"
                                                               href="{:U('/userindex/'.$item['user_id'].'')}"
                                                               class="clearfix" register = "1">
                                                                <strong class="pull-left">{$item.nick_name|msubstr=###,0,6}</strong>
                                                                <i class="pull-left tdLv myIcon lv{$item.lv}"></i>
                                                            </a>
                                                        </td>
                                                        <td width="54" class="text-red">
                                                            <div class="gz">
                                                                <span><i>{$item.winrate}%</i></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </volist>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="l_more"><a target="_blank" href="//jc.__DOMAIN__/rank/1/1.html"
                                                               class="text-center" register = "1">查看更多&gt;</a></div>
                                    </div>
                                    <div class="rank-list" style="display: none;">
                                        <div class="tabList" tabindex="2" style="overflow-y: hidden; outline: none;">
                                            <table class="table">
                                                <tbody>
                                                <volist name="footWinMonth" id="item">
                                                    <tr>
                                                        <td width="25"><span class="nb <if condition=" $item.ranking lt
                                                                             4">bg-orange
                                                            <else/>
                                                            bg-gray</if>">{$item.ranking}</span></td>
                                                        <td width="35">
                                                            <a target="_blank"
                                                               href="{:U('/userindex/'.$item['user_id'].'')}"
                                                               class="face-r" register = "1">
                                                                <img src="{$item.face}"
                                                                     width="30" height="30">
                                                            </a>
                                                        </td>
                                                        <td width="160" class="text-l">
                                                            <a target="_blank"
                                                               href="{:U('/userindex/'.$item['user_id'].'')}"
                                                               class="clearfix" register = "1">
                                                                <strong class="pull-left">{$item.nick_name|msubstr=###,0,6}</strong>
                                                                <i class="pull-left tdLv myIcon lv{$item.lv}"></i>
                                                            </a>
                                                        </td>
                                                        <td width="54" class="text-red">
                                                            <div class="gz">
                                                                <span><i>{$item.winrate}%</i></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </volist>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="l_more"><a target="_blank" href="//jc.__DOMAIN__/rank/1/2.html"
                                                               class="text-center" register = "1">查看更多&gt;</a></div>
                                    </div>
                                    <div class="rank-list" style="display: none;">
                                        <div class="tabList" tabindex="3" style="overflow-y: hidden; outline: none;">
                                            <table class="table">
                                                <tbody>
                                                <volist name="footWinSeason" id="item">
                                                    <tr>
                                                        <td width="25"><span class="nb <if condition=" $item.ranking lt
                                                                             4">bg-orange
                                                            <else/>
                                                            bg-gray</if>">{$item.ranking}</span></td>
                                                        <td width="35">
                                                            <a target="_blank"
                                                               href="{:U('/userindex/'.$item['user_id'].'')}"
                                                               class="face-r" register = "1">
                                                                <img src="{$item.face}"
                                                                     width="30" height="30">
                                                            </a>
                                                        </td>
                                                        <td width="160" class="text-l">
                                                            <a target="_blank"
                                                               href="{:U('/userindex/'.$item['user_id'].'')}"
                                                               class="clearfix" register = "1">
                                                                <strong class="pull-left">{$item.nick_name|msubstr=###,0,6}</strong>
                                                                <i class="pull-left tdLv myIcon lv{$item.lv}"></i>
                                                            </a>
                                                        </td>
                                                        <td width="54" class="text-red">
                                                            <div class="gz">
                                                                <span><i>{$item.winrate}%</i></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </volist>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="l_more"><a target="_blank" href="//jc.__DOMAIN__/rank/1/3.html"
                                                               class="text-center" register = "1">查看更多&gt;</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tab panes -->
                            <!-- Tab panes -->
                            <div class="tab-content" style="display: none;">
                                <ul class="clearfix time-tab time-tab-two">
                                    <li class="current"><a href="javascript:void(0);">日榜</a></li>
                                    <li class=""><a href="javascript:void(0);">周榜</a></li>
                                    <li class=""><a href="javascript:void(0);">月榜</a></li>
                                    <li class=""><a href="javascript:void(0);">季榜</a></li>
                                </ul>
                                <div class="rank-list-con rank-list-con-two score-list">
                                    <div class="rank-list" style="display: block;">
                                        <div class="tabList" tabindex="4" style="overflow-y: hidden; outline: none;">
                                            <table class="table">
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="l_more"><a target="_blank" href="//jc.__DOMAIN__/rank/2/4.html"
                                                               class="text-center" register = "1">查看更多&gt;</a></div>
                                    </div>
                                    <div class="rank-list" style="display: none;">
                                        <div class="tabList" tabindex="5" style="overflow-y: hidden; outline: none;">
                                            <table class="table">
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="l_more"><a target="_blank" href="//jc.__DOMAIN__/rank/2/1.html"
                                                               class="text-center" register = "1">查看更多&gt;</a></div>
                                    </div>
                                    <div class="rank-list" style="display: none;" z>
                                        <div class="tabList" tabindex="6" style="overflow-y: hidden; outline: none;">
                                            <table class="table">
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="l_more"><a target="_blank" href="//jc.__DOMAIN__/rank/2/2.html"
                                                               class="text-center" register = "1">查看更多&gt;</a></div>
                                    </div>
                                    <div class="rank-list" style="display: none;">
                                        <div class="tabList" tabindex="7" style="overflow-y: hidden; outline: none;">
                                            <table class="table">
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="l_more"><a target="_blank" href="//jc.__DOMAIN__/rank/2/3.html"
                                                               class="text-center" register = "1">查看更多&gt;</a></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Tab panes -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- con_right s -->

            <!-- 快速导航 s-->
            <div class="fast_nav clearfix">
                <div class="fn_title">快速导航：</div>
                <ul>
                    <li><a href="{:SITE_URL}fox008.__DOMAIN__" target="_blank">Fox008</a></li>
                    <li>|</li>
                    <li><a href="//www.__DOMAIN__/list_n/10.html" target="_blank">足彩分析</a></li>
                    <li>|</li>
                    <li><a href="//www.__DOMAIN__/list_n/6.html" target="_blank">免费推荐</a></li>
                    <li>|</li>
                    <li><a href="//www.__DOMAIN__/list_n/6.html" target="_blank">亚盘竞彩</a></li>
                    <li>|</li>
                    <li><a href="//www.__DOMAIN__/list_n/55.html" target="_blank">单关</a></li>
                    <li>|</li>
                    <li><a href="//bf.__DOMAIN__/" target="_blank">即时比分</a></li>
                    <li>|</li>
                    <li><a href="//www.__DOMAIN__/Video.html" target="_blank">足球直播</a></li>
                    <li>|</li>
                    <li><a href="{:SITE_URL}fox008.__DOMAIN__" target="_blank">猎仇者</a></li>
                    <li>|</li>
                    <li><a href="//owl008.__DOMAIN__" target="_blank">fox008猎球者下载</a></li>
                </ul>
            </div>


        </div>
        <!-- 主要内容 e-->


        <!-- 友情链接开始 -->
        {$foxSeo|htmlspecialchars_decode}
        <!-- 友情链接结束 -->


    </div>
</div>
<!-- 内容 e-->
<style>
    .modal-content{overflow-y:hidden;}
    .else_login a{padding: 0 6px 0 5px}
</style>


<!-- 登录模态窗口 -->
<div id="login_main"></div>
<!-- 登录模态窗口 -->


<!-- 模态窗口开始 注册 s-->
<div id="reg_main"></div>
<!-- 模态窗口开始 注册 e -->

<!-- 底部版权信息开始 -->
<div class="footer">
    <p>fox008<strong>猎球者官网</strong>为彩民捕捉足彩预测,各路懂球帝高手推荐竞彩赛事。猎仇者有独家视觉的竞彩足球分析、竞彩亚盘、单关、大小球等各类足彩分析为用户提供精准预测，实现盈利。
    </p>
    <p>
    备案：<a href="//www.miibeian.gov.cn" target="_blank;"  >粤ICP备15006399号-3</a>
    </p>
</div>
<!-- 底部版权信息结束 -->

<style>
    .m_reg {
        width: 580px;
    }

    .form-con {
        padding: 10px 60px 20px 60px;
    }

    /*登录*/
    .m_login {
        width: 362px
    }

    .modal-body-jc {
        padding: 20px 50px 60px 50px;
    }
    .form #nick_name,#passd,#com_passd {
        width: 220px;
    }
    
    .carousel-indicators .active{width: 32px;height: 6px}
    .btn-orange{width: 100%;border-radius: 4px}
    .page_code{width: 94px!important;} 
    .form .field-msg{top: -35%}
    .form .form-in{margin-bottom:16px;}
</style>
<!-- Small modal -->


</body>
</html>
<script type="text/javascript" src="{:SITE_URL}fox008.__DOMAIN__/min/?b=Public&f=Home/js/seo/seo.js"></script>
<script type="text/javascript">
        jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true,interTime:30000});
        $(".else_login a:nth-child(3)").css("padding-right", "0");

        //注册登录切换
        $(function(){
            $('#reg_btn').click(function(){
                $('.login_nav em').removeClass('on');
                $(this).addClass('on');
                $('.c_demo').hide();
                $('#reg_con').show();
            });
            $('#login_btn').click(function(){
                $('.login_nav em').removeClass('on');
                $(this).addClass('on');
                $('.c_demo').hide();
                $('#login_con').show();
            });

            // 手机号码验证
            jQuery.validator.addMethod("isMobile", function(value, element) {
                var length = value.length;
                var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
                return this.optional(element) || (length == 11 && mobile.test(value));
            }, "请正确填写您的手机号码");

            // 密码验证
            jQuery.validator.addMethod("isPass", function(value, element) {
                var length = value.length;
                var pass = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,15}$/;
                return this.optional(element) || (length > 5 && pass.test(value));
            }, "密码由至少6个数字和字母混合组成");

            var url =  document.domain.replace('www.','').split(".").length-1 > 1 ? '/login.html' : '/Common/login.html';
            /**登录start**/
            $("#page_login").validate({
                onkeyup : false,
                rules: {
                    p_username : {
                        required: true,
                        minlength: 11,
                        isMobile :true,
                        remote: {
                            url: "loginMobile.html",
                            type: "post",
                            data: {
                                fieldValue: function() {
                                    return $( "#p_username" ).val();
                                },
                            },
                        }
                    },
                    p_password: {
                        required: true,

                    },
                },
                messages : {
                    p_username : {

                        required : '请输入手机号',
                        minlength : '手机号格式不正确',
                        isMobile :'手机号格式不正确',
                        remote : '手机号不存在或被禁用',
                    },
                    p_password: {
                        required: "请输入密码",

                    },
                },
                submitHandler:function(form){
                    var username = $('#p_username').val();
                    var password = $('#p_password').val();
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: {'username':username,'password':password},
                        success: function(data){
                            if(data.status){
                                window.location.reload();
                            }else{
                                _alert('温馨提示',data.info);
                            }
                        }
                    });
                }
            });
            /**登录end**/
            /**注册第一步start**/
            $('#reg_first').validate({
                onkeyup : false,
                rules: {
                    reg_username : {
                        required: true,
                        minlength: 11,
                        isMobile :true,
                        remote: {
                            url: "checkMobile.html",
                            type: "post",
                            data: {
                                fieldValue: function() {
                                    return $( "#reg_username" ).val();
                                },
                            },
                        }
                    },
                    reg_captcha: {
                        required: true,
                    },
                },
                messages : {
                    reg_username : {

                        required : '请输入手机号',
                        minlength : '手机号格式不正确',
                        isMobile :'手机号格式不正确',
                        remote : '手机号已被注册',
                    },
                    reg_captcha: {
                        required: "请输入验证码",
                    },
                },
                submitHandler:function(form){
                    var form = $(form);
                    var data = form.serialize();
                    $.ajax({
                        type: "POST",
                        url: 'first_register.html',
                        data: data,
                        success: function(data){
                            if(data.status){
                                $('#reg_con').css({
                                    display: 'none',
                                });
                                $('#reg_con2').css({
                                    display: 'block',
                                });
                            }else{
                                _alert('温馨提示',data.info);
                            }
                        }
                    });
                }
            });
            /**注册第一步end**/
            /**注册第二步start**/
            $('#reg_sec').validate({
                onkeyup : false,
                rules: {
                    reg_nick_name : {
                        required: true,
                        minlength: 2,
                        maxlength: 10,
                        remote: {
                            url: "checkNickName.html",
                            type: "post",
                            data: {
                                fieldValue: function() {
                                    return $( "#reg_nick_name" ).val();
                                },
                            },
                        }
                    },
                    reg_pass: {
                        required: true,
                        minlength: 6,
                        isPass: true,
                    },
                    reg_pass_comf: {
                        required: true,
                        equalTo: "#reg_pass"

                    },
                },
                messages : {
                    reg_nick_name : {

                        required : '请输入昵称',
                        minlength : '昵称由2-10字符组成',
                        maxlength :'昵称由2-10字符组成',
                        remote : '昵称已被注册',
                    },
                    reg_pass: {

                        required: "请输入密码",
                        minlength: "密码由至少6个数字和字母混合组成",
                        isPass:"密码由至少6个数字和字母混合组成",
                    },
                    reg_pass_comf: {
                        required: "请输入确认密码",
                         equalTo: "两次密码输入不一致",
                    },
                },
                submitHandler:function(form){
                    var form = $(form);
                    var data = form.serialize();
                    $.ajax({
                        type: "POST",
                        url: 'sec_register.html',
                        data: data,
                        success: function(data){
                            if(data.status){
                                window.location.reload();
                            }else{
                                _alert('温馨提示',data.info);
                            }
                        }
                    });
                }
            });
            /**注册第二步end**/
        });

        /** * 发送手机验证码**/
        function pageSendMobileMsg(){
          var mobile = $('#reg_username').val();
          //验证手机
          if(mobile == ""){
            _alert('温馨提示',"请输入手机号码！");
            return false;
          }
          if (!/^1[3456789]{1}\d{9}$/.test(mobile)){
            _alert('温馨提示',"手机号码格式不正确，请重新输入！");
            return false;
          }
          $.ajax({
            url: "sendMobileMsg.html",
            type:'post',
            data:{'mobile':mobile,'msgType':'registe'},
            dataType: "json",
            beforeSend:function(XMLHttpRequest)
              {
                $("#pageSendMobileMsg").parent().html("<span id='pageSendMobileMsg'></span>正在发送…").removeAttr("onclick").attr("disabled","disabled");
              },
            success: function(data){
              if(data.status){
                _alert('温馨提示',data.info);
                pageDaojishi(60);
                return;
              }else{
                $("#pageSendMobileMsg").parent().html("<span id='pageSendMobileMsg'></span>获取验证码").attr("onclick",'pageSendMobileMsg()').removeAttr("disabled");
                _alert('温馨提示',data.info);
              }
            }
          });
        }
        /** 倒计时**/
        function pageDaojishi(S)
        {
            if (S>0)
            {
                var S = S-1;
                $("#pageSendMobileMsg").parent().html("<span id='pageSendMobileMsg'></span>秒后重发").removeAttr("onclick").attr("disabled","disabled");
                $("#pageSendMobileMsg").html(S);
                setTimeout("daojishi("+S+")",1000);
                return;
            }
            else
            {
                $("#pageSendMobileMsg").parent().html("<span id='pageSendMobileMsg'></span>获取验证码").attr("onclick",'pageSendMobileMsg()').removeAttr("disabled");
            }
        }

</script>
