<link href="__PUBLIC__/Plugs/emoji/emoji.css?cb=<?=time()?>" rel="stylesheet" type="text/css" />
<div class="pageContent">
    <form method="post" action="__URL__/save" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <input type="hidden" name="id" value="{$vo.id}" />
        <input type="hidden" name="user_id" value="{$vo.user_id}" />
        <input type="hidden" name="report_user" value="{$vo.report_user}" />
        <div class="pageFormContent" layoutH="58">
                <div style="width:97%; border:1px solid #CCC; min-height:155px;padding:10px;">

                    <div class="unit" >
                        {$vo['nick_name']} &nbsp;&nbsp; {$vo['create_time']|date="Y-m-d H:s",###}
                    </div>

                    <div class="unit" style="width: 99%;height: 125px;letter-spacing:1px;line-height: 1.5em;overflow:auto;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$vo['content']}
                    </div>

                </div>
                
                <div class="unit"></div>

                <div class="unit" style="width:97%; border:1px solid #CCC;min-height:210px;padding:10px;">

                    <div class="unit" style="padding-top:10px;">
                        <label>屏蔽回帖：</label>
                        <input <if condition="$vo.status eq 1">checked</if> name="status" type="radio" value="1" />否
                        <input <if condition="$vo.status eq 0">checked</if> name="status" type="radio" value="0" />是
                    </div>

                    <div class="unit" style="padding-top:10px;">
                        <label>屏蔽用户：</label>
                        <input name="community_status" type="radio" value="0" <if condition="$vo['community_status'] eq 0 or $vo['community_status'] lt time()">checked</if> />否
                        <input name="community_status" type="radio" value="1" <if condition="!in_array($vo['community_status'],[0,2]) and $vo['community_status'] gt time()">checked</if> />禁言一天
                        <input name="community_status" type="radio" value="2" <if condition="$vo.community_status eq 2">checked</if> />永久
                    </div>
                    <div class="unit">
                        <label>举报原因：</label>
                        <textarea class="large bLeft" disabled rows="2" cols="57">{$vo.report_content}</textarea>
                    </div>
                    <if condition="$vo.is_report neq 1">
                        <div class="unit">
                            <label>回复举报：</label>
                            <input type="checkbox" name="is_reply" value="1" onclick="isShow(this)" />
                        </div>
                        <div class="unit reply">
                            <label>回复内容：</label>
                            <textarea class="large bLeft" name="reply" rows="2" cols="57">尊敬的用户，您举报的用户【{$vo.nick_name}】的评论，经审核确实存在不合法言论，已被管理员屏蔽！</textarea>
                        </div>
                    <else/>
                        <br/>
                        <div class="unit">
                            <label>&nbsp;</label>
                            <span style="color: green;">已处理回复！</span>
                        </div>
                    </if>
                </div>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>
<script>
$(function(){
    $(".reply").hide();
})
function isShow(obj){
    if($(obj).is(':checked')==false){
        $(".reply").hide();
    }else{
        $(".reply").show();
    }
}
</script>


