/**
 * 资讯评论页css样式文件
 * 
 * @author Chensiren <245017279@qq.com>
 *
 * @since  2016-03-10
**/
body{ background: #fff;}
/*导航*/
.nav-game-bg{ width: 100%; min-width: 1000px; height: 68px; line-height: 68px; background: #171717;}
.nav-game-con { width: 1000px; margin: 0 auto;}
.nav-game-con ul{ margin-bottom: 0;}
.game-logo img{padding-right: 30px; } 
.nav-game-con .nav-game { width: auto; margin-left: 40px;}
.nav-game-con .nav-game ul li{ height: 68px; float: left; text-align: center; position: relative; background: url(../../images/game-nav-line.png) no-repeat 0 center; padding-left: 2px;}
.nav-game-con .nav-game .on a { background: #0b0b0b; color: #10af63;}
.nav-game-con .nav-game ul li a { position: relative; display: block; height: 68px; padding: 0 26px; color: #fff; font-size: 16px; line-height: 68px; text-decoration: none;transition: all 0.3s;}
.nav-game-con .nav-game ul li a:hover{ background: #0b0b0b; color: #10af63;}
.game-login ul li{ float: left; margin-right: 15px; color: #fff;}
.game-login ul li a{ color: #fff; transition: ease 0.3s;}
.game-login ul li a:hover{ color: #10af63;}

/* 主体盒子 */
.main{ width: 1024px; margin: 0 auto; padding: 12px 0; }
/* 当前位置 */
.position{ height: 38px; line-height: 38px; font-size: 12px;}
.position .now a{ font-size: 12px;}
.title h3{ margin-top: 15px;}
.position h5{ font-size: 36px; font-family: 黑体; font-weight: bold;}
.link_small { width: 32px; height: 16px; margin-left: 200px; margin-top: -47px; position: absolute;}
/* 左边部分 */
.cont{ width: 690px; margin-top: 123px; padding-bottom: 45px; float: left;}
.cont .cont-ban{ width: 690px;}
.ban img{ width: 100%; height: 480px;}
.ban-w{ margin-top: 20px;}
.ban-w span{ font-size: 16px; font-family: 黑体;line-height: 30px; color:#333333;}
.ban-b{ margin-top: 25px;}
.ban-b span{ margin-right: 14px; font-size:18px;}
.ban-b img{ margin-left: 10px;}
.ban-c{ margin-top: 20px;}
.ban-c span{ margin-right: 5px;　font-size: 18px;}
.ban-c img{margin-right: 7px; width: 30px; height: 30px; border-radius: 50%; }
.add{ width: 45px; height: 30px; border: 1px solid #999999; border-radius: 15px; text-align: center; margin-left: 260px; margin-top: -28px;}
.add span{ color: #999999; line-height: 30px;}

.cont-s{ margin-top: 38px; width: 690px; }
.cont-s img{width: 60px; height: 55px; margin-top: 10px;}
.tal textarea{ margin-left: 80px; margin-top: -65px; width: 610px; height: 110px;}
.tal img{width: 50px; height: 50px; border-radius: 50%; }
.disc{ width: 60px; height: 33px; background-color: #169bee; text-align: center; margin-left: 630px; margin-top: 10px;}
.disc span a{ color: #fff; font-size: 16px; line-height: 33px;}

.cont-l{width: 690px; }
.cont-l li{ width: 100%; border: 1px solid #e0e0e0; margin-top: 40px; border-left: none; border-right: none; border-top: none;}
.cont-l li img{ width: 62px; height: 62px; border-radius: 50%;}
.cont-top{ padding-top: 20px; padding-bottom: 20px;}
.deta{ width: 88%; margin-left: 80px; margin-top: -60px; font-size: 12px; color: #b3b3b3;}
.deta .change{color: #275fbd;}
.deta-o{ width: 560px; float: left;}
.deta-t{margin-left: 560px; position: relative;}
.deta-l{margin-left: 100px; margin-top: 30px; font-size: 12px; position: relative; text-align: center;}
.last{ text-align: center; width:100%; height: 80px; margin-top: 40px; color: #b3b3b3;}
/*右边内容*/
.right{ width: 305px; float: left; margin-left: 28px; margin-top: 20px;}
.nam{ width: 305px; border: 1px solid #e0e0e0; border-top: none; border-left: none; border-right: none; }

.nam img{ margin-top: 15px; width: 77px; height: 77px;}
.nam h3{ font-size: 26px; line-height: 14px; margin-left: 97px; margin-top: -55px;}
.line-o{width: 305px; height: 4px; background-image:-webkit-linear-gradient(to right, #159ce4, #01af63); background-image:linear-gradient(to right,#01af63,#159ce4);}
.s-s{width: 60px; height: 20px; border: 1px solid #169bee; margin-left: 107px; margin-top: 15px; border-radius: 5px;}
.s-s a{ color: #169bee;}

.nam p{color: #b3b3b3; font-size: 14px; margin-top: 20px;}
.nam img{ width: 78px; height: 76px; border-radius: 50%; }

.numb{width: 305px; height: 100px; padding-top: 10px; }
.numb-l{ text-align: center;}
.numb-l span{ margin-top: 25px; font-size: 30px; text-align: center; padding: 0px 20px; position: relative;}
.numb-t span{ margin-left: 76px; font-size: 16px;}
.line-s{ width: 2px; height: 40px; border: 1px solid #e0e0e0; margin-left: 145px; margin-top: -10px;}

.table{ width: 305px; height: 564px; margin-top: 0px;}
.table h4{font-size: 24px; line-height: 40px; height: 40px; }
.table-s tr{ border: 1px solid #e0e0e0;}
.table-s td{ width: 55px; height: 70px; text-align: center;}
.table-s td img{ width: 20px; height: 30px;}
.table-s td em
.table-s .t-o{ width: 55px; color: #4d4d4d; font-size: 12px;}
.table-s .t-o p{ color: #999999; font-size: 12px;}
.table-s .t-t{ width: 90px; font-size: 12px;}
.table-s .t-h{ width: 30px; font-size: 18px;}
.table-s .t-q{ width: 55px; color: #999999;}
.table-s .t-q img{ width: 18px; height: 15px;}