<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
    <block name="seo">
        <title>全球体育_即时比分,足球比分,赛事直播,足彩推荐|全球体育网qqty.com</title>
        <meta name="keywords" content="足球比分,篮球比分,足球推荐,赛事直播,比分直播,竞彩足球"/>
        <meta name="description" content="即时比分,赛事直播,最及时的足球比分都能在全球体育网上获取.专业足球分析师为用户提供的足彩推荐都是独家猛料,为彩民畅赢五大联赛."/>
    </block>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="__PUBLIC__/Home/images/icon/16X16.ico">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/Plugs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/font-awesome.css">
    <link rel="stylesheet" href="__PUBLIC__/Plugs/jquery.validate.simple.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="__PUBLIC__/Plugs/bootstrap/js/html5shiv.js"></script>
    <![endif]-->
    <script>var DOMAIN = "__DOMAIN__";</script>
    <block name="css"></block>
    <script type="text/javascript" src="__PUBLIC__/Plugs/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Plugs/jshow.utils.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Plugs/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Plugs/jquery.validate.simple.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Plugs/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Plugs/bootstrap/js/bootstrap_all.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Plugs/bootstrap/js/modal.manager.plugin1.0.js"></script>
</head>
<block name="body"></block>