<!-- 登录模态窗口 -->
<div class="modal fade myLogin" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">用户登录</h4>
            </div>
            <div class="modal-body modal-body-jc">
                <form id="ajaxLogin">
                    {:get_form_token()}
                    <div class="item item-fore1">
                        <label for="loginname" class="login-label name-label"></label>
                        <input type="password" class="hidden"/>
                        <input id="loginname" type="text" class="itxt" name="username" tabindex="1" autocomplete="off" placeholder="输入手机号">
                        <span class="clear-btn"></span>
                    </div>
                    <div class="item item-fore1 item-fore2">
                        <label class="login-label pwd-label" for="nloginpwd"></label>
                        <input type="password" class="hidden"/>
                        <input type="password" id="nloginpwd" name="password" class="itxt itxt-error" tabindex="2" autocomplete="off" placeholder="登录密码">
                        <span class="clear-btn"></span>
                    </div>
                    <div class="clearfix remeber">
                        <div class="pull-left">
                            <label for="checkbox"><input id="checkbox" type="checkbox" name="remember"> 保持登录</label>
                         </div>
                         <div class="pull-right">
                            <a target="_blank" href="{:U('User/register')}">免费注册</a>
                            &nbsp;|&nbsp;
                            <a target="_blank" href="{:U('User/re_phone')}">忘记密码？</a>
                         </div>
                    </div>
                    <div class="login-btn">
                        <input class="btn btn-orange" type="submit" value="登录">
                    </div>

                     <div class="else_login"><a href="{:U('User/sdk_login',['type'=>qq])}" target="_blank;"><img src="__PUBLIC__/Home/images/login/qq.png" >QQ登录</a><a href="{:U('User/sdk_login',['type'=>sina])}" target="_blank;"><img src="__PUBLIC__/Home/images/login/sina.png" >微博登录</a><a href="{:U('User/sdk_login',['type'=>weixin])}" target="_blank;"><img src="__PUBLIC__/Home/images/login/wx.png" >微信登录</a></div>
                     <script>
                         $(".else_login a:nth-child(3)").css("padding-right","0")
                     </script>
                </form>
                <input type="hidden" name="userId" value="{$userId}">
                <input type="hidden" name="balance" value="">
            </div>
        </div>
    </div>
</div>
<!-- 登录模态窗口 -->
<script>
    var url =  document.domain.replace('www.','').split(".").length-1 > 1 ? '/login.html' : '/Common/login.html';
    //点击登陆
    $("#ajaxLogin").validate({
        onkeyup:false,

        rules: {
            username: {required: true},
            password: {required: true}
        },

        messages : {
            username: {required: '请输入手机号码'},
            password: {required: '请输入登录密码'}
        },
        submitHandler:function(form){
            var form = $(form);
            var data = form.serialize();
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType:'json',
                success: function(data){
                  if(data.status){
                    window.location.reload();
                  }else{
                    $("input[name='password']").val('');
                    var html = "<label class='field-msg field-error' for='nloginpwd'>"+data.info+"</label>";
                    $("input[name='password']").after(html);
                  }
                }
            });
        }
    })
</script>