<include file="Public:header"/>
<style type="text/css">
	.link-con {width: 750px; margin:150px auto 250px;}
	.link-con .right-list{ width: 438px; padding-top: 30px;}
	.link-con .right-list h3{ font-size: 24px; margin-bottom: 30px;}
	.link-con .right-list li{ color: #999999; margin-bottom: 10px;}
	.link-con .right-list a{ color: #10af63; text-decoration: none;}
	.link-con .right-list a:hover{ color: #ff7e00;}
</style>
<body>
	<div class="body">
    <!-- 顶部开始 -->
    <include file="Public:top_index" />
    <!-- 顶部结束 -->
        <div class="link-con clearfix">
            <div class="pull-left">
                <img src="__PUBLIC__/Home/images/error/images/prompt.png" alt="">
            </div>
        	<div class="pull-right right-list">
            	<h3>正在建设中，敬请期待！</h3>
                <ul>
                	<li>您可以尝试：</li>
                    <li>1、返回 <a href="javascript:history.go(-1)">上一页</a></li>
                    <li>2、快速进入
                    <a href="//www.__DOMAIN__/">首页、</a>
                    <a href="//jc.__DOMAIN__">资讯快报、</a>
                    <a href="//photo.__DOMAIN__">精彩图库、</a>
                    <a href="//score.__DOMAIN__">足球比分、</a>
                    <a href="//nba.__DOMAIN__">篮球比分。</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 底部版权信息开始 -->
    <include file="Public:footer" />
    <!-- 底部版权信息结束 -->

</body>
</html>
