<extend name="Public/tpl-detail" /> 
<block name="append">
<!--    <script src="__PUBLIC__/Plugs/echarts.simple.min.js"></script> -->
    <!-- 本页需要引用的css --> 
    <link rel="stylesheet" href="__CSS__/odds.css?v=201806061535">
    <link rel="stylesheet" href="__CSS__/bk/odds.css">
</block>
<!-- 导航 s-->
<block name="nav">
    <include file="DetailsBk/subnavBk"/>
</block>
<!-- 导航 e-->
<!-- 内容 s -->
<block name="content">
    <section class="odds_con clearfix">

        <!-- 导航切换 s-->
        <nav class="odd_nav clearfix" id="odds">
            <ul>
                <li><a href="{:U('DetailsBk/odds_asia',array('scheid'=>$scheid))}">亚赔</a></li>
                <li><a href="{:U('DetailsBk/odds_euro',array('scheid'=>$scheid))}">欧赔</a></li>
                <li class="on"><a href="{:U('DetailsBk/odds_bigs',array('scheid'=>$scheid))}">大小</a></li>
            </ul> 
        </nav>
        <!-- 导航切换 e-->

        <table class="tb_odds_bigs" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th colspan="2">公司</th>
                    <th colspan="3">初盘</th>
                    <th colspan="2">即时盘</th>
                </tr>
            <volist name='data' id='v'>
                <tr>
                    <td>{$v.0}</td>
                    <td>{$v.2}</td>
                    <td>{$v.3}</td>
                    <td>{$v.4}</td>
                    <td <gt name='v.5' value='$v.2'>class='red'</gt><lt name='v.5' value='$v.2'>class='green'</lt>>{$v.5}</td>
                    <td <gt name='v[6]' value='$v[3]'>class='red'</gt><lt name='v[6]' value='$v[3]'>class='green'</lt>>{$v.6}</td>
                    <td <gt name='v[7]' value='$v[4]'>class='red'</gt><lt name='v[7]' value='$v[4]'>class='green'</lt>>{$v.7}</td>
                </tr>
            </volist>
            </tbody>
        </table> 
    </section>
    <!-- 内容 e -->


</block>