<!-- <include file="Public:pagerForm" /> -->
<form id="pagerForm" action="__URL__/currentAccount" method="post">
    <input type="hidden" name="pageNum" value="{$_REQUEST['pageNum']|default=1}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_REQUEST._order}"/>
    <input type="hidden" name="_sort" value="{$_REQUEST._sort}"/>
    <volist name="map" id="m">
    <input type="hidden" name="{$key}" value="{$_REQUEST[$key]}"/>
    </volist>
</form>

<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" method="post">
	<input type="hidden" name="startTime" value="{$_REQUEST.startTime}">
	<input type="hidden" name="endTime" value="{$_REQUEST.endTime}">
	<input type="hidden" name="user_id" value="{$_REQUEST.user_id}">
	<input type="hidden" name="type" value="{$_REQUEST.type}">
	<input type="hidden" name="inviteFriend" value="{$_REQUEST.inviteFriend}">
	<div class="searchBar">
		<ul class="searchContent">
			<li>
				<label >上级ID：</label>
				<input type="text" name="superior_id" value="{$_REQUEST.superior_id}"/>
			</li>
			<li>
				<label >下级ID：</label>
				<input type="text" name="user_id" value="{$_REQUEST.user_id}"/>
			</li>
			<li>
				<label>创建时间：</label>
				<input type="text" readonly="true" datefmt="yyyy-MM-dd H:m:s" class="date textInput readonly valid" value="{$_REQUEST.startTime}" name="startTime" size="15">至
				<input type="text" readonly="true" datefmt="yyyy-MM-dd H:m:s" class="date textInput readonly valid" value="{$_REQUEST.endTime}" name="endTime" size="15">
			</li>
			<li>
				<label>是否有效：</label>
				<select name="type" onchange="$(form).submit()" class="combox">
					<option value="">全部</option>
					<option <if condition="$_REQUEST.type eq '1'">selected </if> value="1">有效</option>
					<option <if condition="$_REQUEST.type eq '2'"> selected </if> value="2">无效</option>
				</select>
			</li>
		</ul>
		<div class="subBar">
			<ul>
				<li>
					<div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div>
				</li>
			</ul>
		</div>
	</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<notempty name="backUrl">
				<li >
					<a class="icon" href="{$backUrl}" target="navTab" mask="false"><span>返回</span></a>
				</li>
			</notempty>
			<li>
				<a class="icon" href="__URL__/currentAccount.html?Export=3&{:http_build_query($_REQUEST)}"  warn="导出"><span>导出</span></a>
			</li>
		</ul>
	</div>

	<table class="table" width="100%" layoutH="138">
		<thead>
		<tr>
			<th>ID</th>
			<th>上级用户ID</th>
			<th>上级用户名</th>
			<th>获得金币</th>
			<th>等级</th>
			<th>下级用户ID</th>
			<th>下级用户名</th>
			<th>是否有效</th>
			<th>变更前金币<span style="font-size:10px">(可提或无效)</span></th>
			<th>变更后金币<span style="font-size:10px">(可提或无效)</span></th>
			<th>待考核前金币</th>
			<th>待考核后金币</th>
			<th>创建时间</th>
		</tr>
		</thead>
		<tbody>
		<volist id="vo" name="list">
			<tr target="sid_user" rel="{$vo['id']}">
				<td>{$vo['id']}</td>
				<td>{$vo['superior_id']}</td>
				<td><a href="__ADMIN__/FrontUser/index/id/{$vo['superior_id']}" target="navTab">{$vo['parentUserName']|default="--"}({$vo['parentNick_name']|default="--"})</a></td>
				<td>{$vo['coin']}</td>
				<td>{$vo['userlv']}</td>
				<td>{$vo['user_id']}</td>
				<td><a href="__ADMIN__/FrontUser/index/id/{$vo['user_id']}" target="navTab">{$vo['username']}({$vo['nick_name']})</a></td>
				<td><if condition="$vo['type'] eq 1">有效<else />无效</if></td>
				<td>{$vo['before_coin']}</td>
				<td>{$vo['after_coin']}</td>
				<td>{$vo['before_await']}</td>
				<td>{$vo['after_await']}</td>
				<td>{:date('Y-m-d H:i:s',$vo['create_time'])}</td>
			</tr>
		</volist>
		</tbody>
	</table>

    <include file="Public:pagerNum" />

</div>


