<extend name="Public/base" />
<block name="append">
    <!-- 本页需要引用的css --> 
    <link rel="stylesheet" href="__CSS__/guess.css?v=201806061837">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="__CSS__/swiper_gonggao.css">
    <style>
  .swiper-container {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #dddddd;
    }
    .mach_begin {
    color: #1490d8;
}
</style>
</block>
<!-- 二级头部 e -->
<!-- 导航 s-->
<block name="nav">

</block>
<!-- 导航 e-->
<block name="content">
       <section class="com_nodata">
        <img src="__IMAGES__/icon/betfair_notmore.png" alt="正在开发中">
        <p>正在开发中!</p>
    </section>
</block>