<form id="pagerForm" action="__URL__" method="post">
    <input type="hidden" name="pageNum" value="{$_REQUEST['pageNum']|default=1}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_REQUEST['_order']}"/>
    <input type="hidden" name="_sort" value="{$_REQUEST['_sort']|default='1'}"/>
    <input type="hidden" name="listRows" value="{$_REQUEST['listRows']}"/>
    <volist name="map" id="m">
    <input type="hidden" name="{$key}" value="{$_REQUEST[$key]}"/>
    </volist>
</form>


<div class="page">
    <div class="pageHeader">
        <form onsubmit="return navTabSearch(this);" action="__URL__" method="post">
        <div class="searchBar">
            <ul class="searchContent">
                <li style="width:350px">
                    <label>请求时间：</label>
                    <input type="text" readonly="true" datefmt="yyyy-MM-dd H:m:s" class="date textInput readonly valid" value="{$_REQUEST.startTime}" name="startTime" size="15">至
                    <input type="text" readonly="true" datefmt="yyyy-MM-dd H:m:s" class="date textInput readonly valid" value="{$_REQUEST.endTime}" name="endTime" size="15">
                </li>
                <li>
                    <label>模块：</label>
                    <input type="text" name="module" value="{$_REQUEST.module}"/>
                </li>
                <li>
                    <label>控制器：</label>
                    <input type="text" name="controller" value="{$_REQUEST.controller}"/>
                </li>
                <li>
                    <label>方法：</label>
                    <input type="text" name="action" value="{$_REQUEST.action}"/>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
                    <!-- <li><a class="button" href="__URL__/search" target="dialog" mask="true" title="高级检索"><span>高级检索</span></a></li> -->
                </ul>
            </div>
        </div>
        </form>
    </div>

    <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                <li><a class="add" href="__URL__/logConf" target="dialog" mask="true" width="500" height="300"><span>配置</span></a></li>
<!--                 <li><a class="delete" href="__URL__/foreverdelete/id/{sid_node}/navTabId/__DWZ__" target="ajaxTodo"  title="你确定要删除吗？" warn="请选择节点"><span>删除</span></a></li>
                <li><a class="edit" href="__URL__/edit/id/{sid_node}" target="dialog" mask="true" warn="请选择节点" width="700" height="460"><span>修改</span></a></li>
                <li><a title="确实要删除这些记录吗?" target="selectedTodo" target="dialog" rel="id[]" href="__URL__/delAll" class="delete" ><span>批量删除</span></a></li> -->
            </ul>
        </div>
        <table class="list" width="100%" layoutH="116">
            <thead>
            <tr>
                <th width="60"><input type="checkbox" group="id[]" class="checkboxCtrl">id</th>
                <th width="50">请求参数</th>
                <th width="50">响应数据</th>
                <th width="50">请求时间</th>
                <th width="30">响应时间</th>
                <th width="50">模块</th>
                <th width="50">控制器</th>
                <th width="50">方法</th>
                <th width="50">操作</th>
            </tr>
            </thead>
            <tbody>
                <volist id="vo" name="list">
                    <tr target="sid_node">
                        <td>{$vo['id']}</td>
                        <td title='{$vo['request']}'>{$vo['request']|msubstr=###,0,50}</td>
                        <td title='{$vo['response']}'>{$vo['response']|msubstr=###,0,50}</td>
                        <td>{$vo['request_time']|date="Y-m-d  H:i:s",###}</td>
                        <td>{$vo['response_time']|date="Y-m-d  H:i:s",###}</td>
                        <td>{$vo['module']}</td>
                        <td>{$vo['controller']}</td>
                        <td>{$vo['action']}</td>
                        <td><a href="__URL__/edit/id/{$vo['id']}" class="viewParam" target="dialog" mask="true" width="700" height="450">查看参数</a></td>
                    </tr>
                </volist>
            </tbody>
        </table>
        <include file="Public:pagerNum" />
    </div>
</div>
