<div class="pageContent j-resizeGrid" style="width: 806px;">
	<table class="table" layoutH="135" style="width:600px;" targetType="dialog" >
		<thead>
			<tr>
				<th width="20%">行为标识</th>
				<th>行为描述</th>
				<th>选择</th>

			</tr>
		</thead>
		<tbody>
		<tr>
			<td width="50">0</td>
			<td>点击消息只是进入APP</td>
			<td width="50">
				<a class="btnSelect" title="选择" href="javascript:" onclick="$.bringBack({ module: 0, desc:'点击消息只进入APP，请在【指定参数值】选项框输入任意值，不为空即可'})">选择</a>
			</td>
		</tr>
		<tr>
			<td width="50">1</td>
			<td>点击消息进入某条资讯详情页</td>
			<td width="50">
				<a class="btnSelect" title="选择" href="javascript:" onclick="$.bringBack({ module: 1, desc:'点击消息进入某条资讯详情页，请在【指定参数值】选项框输入资讯ID'})">选择</a>
			</td>
		</tr>
		<tr>
			<td width="50">2</td>
			<td>点击消息进入某个图集</td>
			<td width="50">
				<a class="btnSelect" title="选择" href="javascript:" onclick="$.bringBack({ module: 2, desc:'进入图集，请在【指定参数值】选项框输入图集ID'})">选择</a>
			</td>
		</tr>
		<tr>
			<td width="50">9</td>
			<td>直接进入外链</td>
			<td width="50">
				<a class="btnSelect" title="选择" href="javascript:" onclick="$.bringBack({ module: 9, desc:'打开外链，请在【指定参数值】选项框输入连接地址'})">选择</a>
			</td>
		</tr>
		<tr>
			<td width="50">10</td>
			<td>进入某个用户个人中心</td>
			<td width="50">
				<a class="btnSelect" title="选择" href="javascript:" onclick="$.bringBack({ module: 10, desc:'进入个人中心，请在【指定参数值】选项框输入用户ID'})">选择</a>
			</td>
		</tr>
		<!--<tr>-->
			<!--<td width="50">11</td>-->
			<!--<td>进入足球赛事详情</td>-->
			<!--<td width="50">-->
				<!--<a class="btnSelect" title="选择" href="javascript:" onclick="$.bringBack({ module: 1, desc:'进入足球赛事详情'})">选择</a>-->
			<!--</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td width="50">12</td>-->
			<!--<td>进入系统消息</td>-->
			<!--<td width="50">-->
				<!--<a class="btnSelect" title="选择" href="javascript:" onclick="$.bringBack({ module: 1, desc:'进入系统消息'})">选择</a>-->
			<!--</td>-->
		<!--</tr>-->
		<tr>
			<td width="50">13</td>
			<td>进入帖子详情</td>
			<td width="50">
				<a class="btnSelect" title="选择" href="javascript:" onclick="$.bringBack({ module: 13, desc:'进入帖子详情，请在【指定参数值】选项框输入帖子ID'})">选择</a>
			</td>
		</tr>
		<tr>
			<td width="50">14</td>
			<td>进入系统消息</td>
			<td width="50">
				<a class="btnSelect" title="选择" href="javascript:" onclick="$.bringBack({ module: 14, desc:'进入系统消息,，请在【指定参数值】选项框输入用户ID'})">选择</a>
			</td>
		</tr>
		</tbody>
	</table>

</div>