<style>
    .searchContent label{width: auto}
    .searchContent li{width: auto !important;margin-right: 12px;}
</style>
<form id="pagerForm" action="__URL__/vipList" method="post">
	<input type="hidden" name="pageNum" value="{$_REQUEST['pageNum']|default=1}"/>
	<input type="hidden" name="numPerPage" value="{$numPerPage}"/>
	<input type="hidden" name="_order" value="{$_REQUEST._order}"/>
	<input type="hidden" name="_sort" value="{$_REQUEST._sort}"/>
	<volist name="map" id="m">
    <input type="hidden" name="{$key}" value="{$_REQUEST[$key]}"/>
    </volist>
</form>

<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="__URL__/vipList" method="post">
	<div class="searchBar">
		<ul class="searchContent">
			<li>
				<label>到期时间：</label>
				<input type="text" readonly="true" datefmt="yyyy-MM-dd" class="date textInput readonly valid" value="{$_REQUEST.startTime}" name="startTime" size="10">至
				<input type="text" readonly="true" datefmt="yyyy-MM-dd" class="date textInput readonly valid" value="{$_REQUEST.endTime}" name="endTime" size="10">
			</li>
			<li>
				<label >昵称：</label>
				<input type="text" name="nick_name" value="{$_REQUEST.nick_name}"/>
			</li>
			<li>
				<label>是否到期：</label>
				<select name="vip_type" class="combox" onchange="$(form).submit()">
					<option value="" selected>全部</option>
					<option value="0" <if condition="$_REQUEST.vip_type eq '0'">selected</if> >未到期</option>
					<option value="1" <if condition="$_REQUEST.vip_type eq '1'">selected</if> >已到期</option>
				</select>
			</li>
		</ul>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li>
                <span style='color:red;padding-left:0px;'>
                    统计开通总人数：{$totalCount|default=0} 
                </span>
            </li>
            <li style="margin-left:20px;">
                <a class="icon" href="__URL__/vipList.html?Export=1&totalCount={$totalCount}&{:http_build_query($_REQUEST)}"  warn="导出">
                    <span>导出</span>
                </a>
            </li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="138">
		<thead>
		<tr>
			<th width="2%" orderField="id" <if condition="$_REQUEST._order eq 'id'">class="{$_REQUEST._sort}"<else/>class="desc"</if>>用户ID</th>
			<th width="2%">头像</th>
			<th width="5%">昵称</th>
			<th width="7%" orderField="predictive_model_vip" <if condition="$_REQUEST._order eq 'predictive_model_vip'">class="{$_REQUEST._sort}"<else/>class="desc"</if>>会员到期时间（点击查看开通记录）</th>
			<th width="5%">是否到期</th>
			<th width="5%" orderField="reg_time" <if condition="$_REQUEST._order eq 'reg_time'">class="{$_REQUEST._sort}"<else/>class="desc"</if>>注册时间</th>
			<th width="5%" orderField="login_time" <if condition="$_REQUEST._order eq 'login_time'">class="{$_REQUEST._sort}"<else/>class="desc"</if>>上次登录</th>
			<th width="4%">登录ip</th>
			<th width="4%">登录版本</th>
			<th width="4%" orderField="login_count" <if condition="$_REQUEST._order eq 'login_count'">class="{$_REQUEST._sort}"<else/>class="desc"</if>>登录次数</th>
		</tr>
		</thead>
		<tbody>
		<notempty name="list">
			<volist id="vo" name="list">
				<tr target="sid_record" rel="{$vo['id']}">
					<td>{$vo['id']}</td>
					<td><a target="_blank" href="{$vo.head|frontUserFace=###}"><img width="30" height="30" src="{$vo.head|frontUserFace=###}"></a></td>
					<td>{$vo['nick_name']}</td>
	                <td style="font-weight: bold;">
	                	<notempty name="vo.predictive_model_vip">
	                	<a href="__ADMIN__/AccountLog/index/user_id/{$vo.id}/checkOpenVip/1"  target="navTab" mask="true" rel="2{:time()}{$vo['id']}" title="金币-{$vo['nick_name']}">
	                		{$vo['predictive_model_vip']|date="Y-m-d",###}
	                	</a>
	                	<else/>
	                		无记录
	                	</notempty>
	                </td>
	                <td>
	                	<if condition="$vo['predictive_model_vip'] lt strtotime(date(Ymd))">
	                		已到期
	                		<else/>
	                		未到期
	                	</if>
	                </td>
	                <td>{$vo['reg_time']|date="Y-m-d H:i:s",###}</td>
					<td><notempty name="vo.login_time">{$vo['login_time']|date="Y-m-d  H:i:s",###}<else/>无记录</notempty></td>
					<td>{$vo['last_ip']}</td>
					<td>{$vo['last_login_ver']}</td>
					<td>{$vo['login_count']}</td>
				</tr>
			</volist>
		</notempty>
		</tbody>
	</table>
    <include file="Public:pagerNum" />
</div>


