<style>
    .searchContent label{width: auto}
    .searchContent li{width: auto !important;margin-right: 12px;}
</style>
<form id="pagerForm" action="__URL__/RankBetting" method="post">
	<input type="hidden" name="pageNum" value="{$_REQUEST['pageNum']|default=1}"/>
	<input type="hidden" name="numPerPage" value="{$numPerPage}"/>
	<input type="hidden" name="_order" value="{$_REQUEST._order}"/>
	<input type="hidden" name="_sort" value="{$_REQUEST._sort}"/>
	<volist name="map" id="m">
    <input type="hidden" name="{$key}" value="{$_REQUEST[$key]}"/>
    </volist>
</form>

<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="__URL__/RankBetting" method="post">
	<input type="hidden" name="gameType" value="{$_REQUEST.gameType}"/>
	<div class="searchBar">
		<ul class="searchContent">
			<li>
				<label>上榜日期：</label>
				<input size="11" type="text" readonly="true" datefmt="yyyyMMdd" class="date textInput readonly valid" value="{$_REQUEST.listDate}" name="listDate"><a class="inputDateButton" href="javascript:;">选择</a>
			</li>
			<li >
				<label>手机号：</label>
				<input name="username" value="{$_REQUEST.username}" type="text" placeholder="用户名"/>
			</li>
			<li >
				<label>昵称：</label>
				<input name="nick_name" value="{$_REQUEST.nick_name}" type="text" placeholder="昵称"/>
			</li>
			<li>
				<label>榜类型：</label>
				<select name="dateType" class="combox" onchange="$(form).submit()">
					<option value="" selected>全部</option>
					<option value="1" <if condition="$_REQUEST.dateType eq '1'">selected</if> >周榜</option>
					<option value="2" <if condition="$_REQUEST.dateType eq '2'">selected</if> >月榜</option>
					<option value="3" <if condition="$_REQUEST.dateType eq '3'">selected</if> >季榜</option>
					<option value="4" <if condition="$_REQUEST.dateType eq '4'">selected</if> >日榜</option>
				</select>
			</li>
 			<li>
				<label>排名筛选：</label>
				<select name="rank" class="combox" onchange="$(form).submit()">
					<option value="" selected>全部</option>
					<option value="10" <if condition="$_REQUEST.rank  eq '10'">selected</if> >前10名</option>
					<option value="50" <if condition="$_REQUEST.rank  eq '50'">selected</if> >前50名</option>
					<option value="100" <if condition="$_REQUEST.rank  eq '100'">selected</if> >前100名</option>
				</select>
			</li>
		</ul>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="icon" href="__URL__/breakRankBetting/dateType/4" target="ajaxTodo" title="你确定要刷新排行榜吗？"><span>刷新前1天排行榜</span></a></li>
			<li><a class="icon" href="__URL__/breakRankBetting/dateType/1" target="ajaxTodo" title="你确定要刷新排行榜吗？"><span>刷新前7天排行榜</span></a></li>
			<li><a class="icon" href="__URL__/breakRankBetting/dateType/2" target="ajaxTodo" title="你确定要刷新排行榜吗？"><span>刷新前30天排行榜</span></a></li>
			<li><a class="icon" href="__URL__/breakRankBetting/dateType/3" target="ajaxTodo" title="你确定要刷新排行榜吗？"><span>刷新前90天排行榜</span></a></li>
			<li><a class="add" href="__URL__/breakRankBetting/dateType/4/export/1" rel="1" target="navTab"><span>前1天排行预览</span></a></li>
			<li><a class="add" href="__URL__/breakRankBetting/dateType/1/export/1" rel="7" target="navTab"><span>前7天排行预览</span></a></li>
			<li><a class="add" href="__URL__/breakRankBetting/dateType/2/export/1" rel="30" target="navTab"><span>前30天排行预览</span></a></li>
			<li><a class="add" href="__URL__/breakRankBetting/dateType/3/export/1" rel="90" target="navTab"><span>前90天排行预览</span></a></li>
		</ul>
	</div>

	<table class="table" width="100%" layoutH="138">
		<thead>
		<tr>
			<th width="5%" <if condition="($_REQUEST._order eq '') or ($_REQUEST._order neq 'id')"> class="desc"</if> orderField="id" <if condition="$_REQUEST._order eq 'id'">class="{$_REQUEST._sort}"</if>>ID</th>
			<th width="5%">榜类型</th>
			<th width="10%">时间</th>
			<th width="5%" <if condition="($_REQUEST._order eq '') or ($_REQUEST._order neq 'ranking')"> class="desc"</if> orderField="ranking" <if condition="$_REQUEST._order eq 'ranking'">class="{$_REQUEST._sort}"</if>>排名</th>
			<th width="15%">昵称</th>
			<th width="9%">竞猜场数</th>
			<th width="9%">赢</th>
			<th width="8%">输</th>
			<th width="8%">胜率</th>
			<th width="8%">总积分</th>
			<th width="5%">操作</th>
		</tr>
		</thead>
		<tbody>
		<notempty name="list">
			<volist id="vo" name="list">
				<tr target="sid_record" rel="{$vo['id']}">
					<td>{$vo['id']}</td>
					<td>
					<switch name="vo.dateType">
				        <case value="1">周榜</case>
				        <case value="2">月榜</case>
				        <case value="3">季榜</case>
				        <case value="4">日榜</case>
				    </switch>
				    </td>
				    <td>{:returnDate($vo['listDate'],$vo['dateType'])} {$vo['listDate']}（周{$vo.listDate|returnWeek}）</td>
					<td>{$vo['ranking']}</td>
					<td><a href="{:U('__ADMIN__/AccountLog/index/',['user_id' =>$vo['user_id']])}" title="{$vo['nick_name']}" target="navTab" rel="1{:time()}{$vo['id']}" title="{$vo['nick_name']}-交易明细">{$vo['nick_name']}（{$vo.username|is_show_mobile}）</a></td>
					<td>{$vo['gameCount']}</td>
					<td>{$vo['win']}</td>
					<td>{$vo['transport']}</td>
					<td>{$vo['winrate']}%</td>
					<td>{$vo['pointCount']}</td>
					<td>
						<a href="__ADMIN__/BettingList/index/user_id/{$vo['user_id']}/dateType/{$vo.dateType}/listDate/{$vo.listDate}" target="navTab" rel="2{:time()}{$vo['id']}" title="{$vo['nick_name']}-竞猜记录">查看</a>
					</td>
				</tr>
			</volist>
		</notempty>
		</tbody>
	</table>

	<include file="Public:pagerNum" />


</div>


