<include file="Public:pagerForm" />

<div class="pageHeader">
    <form rel="pagerForm" onsubmit="return navTabSearch(this);" action="__URL__/index" method="post">
        <input type="hidden" name="startTime" value="{$_REQUEST.startTime}">
        <input type="hidden" name="endTime" value="{$_REQUEST.endTime}">
        <input type="hidden" name="act_name" value="{$_REQUEST.act_name}">
        <input type="hidden" name="nickname" value="{$_REQUEST.nickname}">
    <div class="searchBar">
        <ul class="searchContent">
            <li>
                <label>发起时间：</label>
                <input type="text" readonly="true" datefmt="yyyy-MM-dd HH:mm" class="date textInput readonly valid"
                       value="{$_REQUEST.startTime}" name="startTime" size="16">至
                <input type="text" readonly="true" datefmt="yyyy-MM-dd HH:mm" class="date textInput readonly valid"
                       value="{$_REQUEST.endTime}" name="endTime" size="16">
            </li>
            <li>
                <label>活动名：</label>
                <input type="text"name="act_name" value="{$_REQUEST.act_name}">
            </li>
            <li>
                <label>发起者昵称：</label>
                <input type="text"name="nickname" value="{$_REQUEST.nickname}">
            </li>
            <li style="width: 200px;">
                <label>审核状态：</label>
                <select name="check_status" class="combox" onchange="$(form).submit()">
                    <option value="" selected>全部</option>
                    <option value="1" <if condition="$_REQUEST.check_status  eq '1'">selected</if> >已通过</option>
                    <option value="-1" <if condition="$_REQUEST.check_status  eq '-1'">selected</if> >不通过</option>
                    <option value="2" <if condition="$_REQUEST.check_status  eq '2'">selected</if> >待审核</option>
                </select>
            </li>
            <li style="width: 200px;">
                <label>竞猜结果：</label>
                <select name="result" class="combox" onchange="$(form).submit()">
                    <option value="" selected>全部</option>
                    <option value="1" <if condition="$_REQUEST.result  eq '1'">selected</if> >胜</option>
                    <option value="-1" <if condition="$_REQUEST.result  eq '-1'">selected</if> >负</option>
                    <option value="2" <if condition="$_REQUEST.result  eq '2'">selected</if> >未结</option>
                </select>
            </li>
        </ul>
        <div class="subBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
            </ul>
        </div>
    </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <!--<li>-->
                <!--<a class="icon" href="__URL__/coin_settle" posttype="string" rel="id[]" target="selectedTodo" warn="请选择记录" title="你确定要结算，并发放这些金币吗?">-->
                    <!--<span>批量发放金币</span>-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a title="确实要禁用用户的发起活动吗?" target="selectedTodo" target="dialog" rel="id[]" href="__URL__/forbid" class="delete">
                    <span>批量禁用</span>
                </a>
            </li>

            <li>
                <a title="请先确认赛事结算是否正确，是否已经审核通过，确定执行此操作吗？" target="AjaxTodo" warn="请选择记录" target="dialog" href="__URL__/coin_settle" class="add">
                    <span>金币发放</span>
                </a>
            </li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="138">
        <thead>
        <tr>
            <th width="3%"><input type="checkbox" group="id[]" class="checkboxCtrl">ID</th>
            <th width="5%">用户昵称</th>
            <th width="12%">所属活动</th>
            <th width="4%">助力好友数</th>
            <th width="3%">累积Q币</th>
            <!--<th width="3%">最大助力人数</th>-->
            <th width="3%">审核状态</th>
            <th width="3%">竞猜结果</th>
            <th width="3%">发放Q币</th>
            <th width="7%">金币发放时间</th>
            <th width="7%">竞猜结算时间</th>
            <th width="7%">发起时间</th>
            <th width="2%">状态</th>
            <th width="3%">操作</th>
        </tr>
        </thead>
        <tbody>
        <notempty name="list">
            <volist id="vo" name="list">
                <tr target="sid_record" rel="{$vo['id']}" >
                    <td {$vo['bg']}><input name="id[]" value="{$vo['id']}" type="checkbox">{$vo['id']}</td>
                    <td>
                        <a title="点击查看玩法详情" href="__ADMIN__/CupquizGamble/index/user_id/{$vo.user_id}"  target="navTab" mask="true" style="color:darkgreen;">{$vo['nick_name']}
                        </a>
                    </td>
                    <td >{$vo['title']}</td>
                    <td> <a title="点击查看助力详情" href="__ADMIN__/CupquizHelper/index/act_id/{$vo.id}"  target="navTab" mask="true" style="color:darkgreen;"> 查看（{$vo['help_num']}）
                    </a></td>
                    <td <if condition="$vo.qcoin gt '0'">style="color: #2E4EFF"<else/></if>>{$vo['qcoin']}</td>
                    <!--<td>{$vo['limit_num']}</td>-->
                    <td>
                        <switch name="vo.check_status">
                            <case value="1"><div style="color:green;">通过</div></case>
                            <case value="-1"><div style="color:red;">不通过</div></case>
                            <case value="0"><div style="color:darkgrey;">待审核</div></case>
                            <case value=""><div style="color:darkgrey;">待审核</div></case>
                        </switch>
                    </td>
                    <td>
                        <switch name="vo.result">
                            <case value="1"><div style="color:green;">胜</div></case>
                            <case value="-1"><div style="color:darkgrey;">负</div></case>
                            <case value="0"><div style="color:darkgrey;">-</div></case>
                        </switch>
                    </td>
                    <td>
                        <switch name="vo.is_send_coin">
                            <case value="0"><div style="color:darkgrey;">未发放</div></case>
                            <case value="-1"><div style="color:red;">不发放</div></case>
                            <case value="1">
                                <div >
                                    <a title="点击查看金币明细" href="__ADMIN__/AccountLog/index/user_id/{$vo.user_id}"  target="navTab" mask="true" style="color:darkgreen;">已发放（{$vo['send_coin']}）
                                    </a>

                                </div>
                            </case>
                        </switch>

                    </td>

                    <td><if condition="$vo.send_coin_time neq ''">{$vo['send_coin_time']|date="Y-m-d H:i:s",###}<else/>-</if></td>

                    <td><if condition="$vo.result_time neq ''">{$vo['result_time']|date="Y-m-d H:i:s",###}<else/>-</if></td>
                    <td>{$vo['add_time']|date="Y-m-d H:i:s",###}</td>

                    <td>{$vo.status|getStatus}</td>
                    <td>
                        <a href="__URL__/edit/id/{$vo.id}" target="dialog" mask="true" height="400" width="960"title="{$vo.name}编辑" rel="editPage">编辑</a>
                    </td>
                </tr>
            </volist>
        </notempty>
        </tbody>
    </table>

    <include file="Public:pagerNum" />

</div>
<script>
    //隐藏和显示对应题目的选项
    function show(id,obj){
        var show = $(obj).attr("show");
        if(show == 0){
            $(".action-"+id).show();
        }else{
            $(".action-"+id).hide();
        }
        //记录是否已展开
        var new_show = show == 0 ? 1 : 0;
        $(obj).attr("show",new_show);
    }
</script>


