<div class="themeNavCon">
    <div class="themeNavBox">
        <div class="clearfix themeNavIn">
            <div class="pull-left themeLogo"><a href="javascript:void(0);"><img src="__IMAGES__/ypRadar/theme-logo.png" width="142" height="35" title="赢盘雷达"></a></div>
            <div class="pull-left themeNav">
                <ul class="clearfix">
                    <li class="pull-left <eq name="param['urlSign']" value="all">on</eq>"><a href="{:U('/radar@sporttery')}" title="全部"><span>全部</span> </a></li>
                    <li class="pull-left <eq name="param['urlSign']" value="mrjx">on</eq>"><a href="{:U('/mrjx@sporttery')}" title="每日极限"><span>每日极限</span></a></li>
                    <li class="pull-left <eq name="param['urlSign']" value="lrjy">on</eq>"><a href="{:U('/lrjy@sporttery')}" title="冷热交易"><span>冷热交易</span></a></li>
                    <li class="pull-left <eq name="param['urlSign']" value="ypdk">on</eq>"><a href="{:U('/ypdk@sporttery')}" title="赢盘对抗"><span>赢盘对抗</span></a></li>
                    <li class="pull-left <eq name="param['urlSign']" value="jccy">on</eq>"><a href="{:U('/jccy@sporttery')}" title="竞彩差异"><span>竞彩差异</span> </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>