/**
 * 全彩首页2017
 * 
 * @author Chensiren <245017279@qq.com>
 * 
 * @since  2017-04-10
**/


/* 主体内容 */
.home,.main{ width: 1000px; margin: 0 auto; background: #fff;}
.main{ padding-top: 20px;} 

/* 焦点内容 */
.focus-con .focus-new{ width: 370px;}
.focus-con .new-con{padding-bottom: 12px;}
.focus-con .new-con h3{  font-size: 18px; margin-bottom:10px; margin-top:0px;}
.focus-con .new-con h3 a{ color: #2a6cb8;}
.focus-con .new-con h3 a.live{ background: url(../../images/index/live-icon.png) no-repeat 0 center; padding-left: 30px;}
.focus-con .new-con .new-list ul{margin-bottom: 0;}
.focus-con .new-con .new-list ul li a{float: left;}
.focus-con .new-con .new-list ul li{ float: left; margin: 0 0 11px 0px; width: 100%; overflow: hidden;}

.focus-con .focus-banner{ width: 620px; }
.focus-banner .carousel-control { display: none; height: 50px; width: 50px; background: #000; opacity: 0.5;filter: alpha(opacity=50); top: 50%; margin-top: -25px; font-size: 100px;}
.focus-con .focus-banner .carousel-control:hover{opacity: 0.75; filter: alpha(opacity=75);}
.focus-banner .carousel span{ display: block; width: 11px; height: 20px; margin: 15px auto; line-height: 99em; overflow: hidden; font-size: 0; background: url(../../images/index/banner-nav.png) no-repeat 0 0;}
.focus-banner .carousel .right .banner_arrow{ background-position: -12px 0;}
.focus-banner .carousel-indicators{ margin-bottom: 0; left: 98%!important;  bottom: 10px!important;text-align: right; z-index: 999; width: 30%;  }
.carousel-indicators li {
    border: none;
    background-color: #fff;
    -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.5);  
    -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.5);  
    box-shadow:inset 0 0 2px rgba(0,0,0,0.5);  
    margin: 0 5px;
}
.carousel-indicators .active { background-color: #2e76c7; border: 1px solid #2e76c7; box-shadow: none; margin: 0 5px!important}
@media screen and (min-width: 768px){
.carousel-indicators {
    bottom: 10px; 
}
@media screen and (min-width: 768px){
#myGs .carousel-indicators {
    bottom: -10px; 
}
}

.fbanner_title{position: absolute;bottom: 0; left: 0;z-index: 99; background: rgba(0,0,0,0.6); height: 45px; line-height: 45px;width: 100% }
.fbanner_title a{ color: #fff; padding-left: 20px; font-size: 16px;}
#myGs01 .fbanner_title,#myGs02 .fbanner_title,#myGs03 .fbanner_title{ height: 28px; line-height: 28px;}
#myGs01 .fbanner_title a,#myGs02 .fbanner_title a,#myGs03 .fbanner_title a{ color: #fff; padding-left: 10px; font-size: 12px;}
#myGs01 .carousel-indicators,#myGs02 .carousel-indicators,#myGs03 .carousel-indicators{ margin-bottom: 0; left: 98%!important;  bottom: 5px!important;text-align: right; z-index: 999; width: 30%; }

/* videoList */
.video-title-con{ border-bottom: 1px solid #e5e5e5;}
.video-title-con .tl,.video-title-con .tr{ height: 60px;}
.video-title-con .tl{ padding: 16px 0;}
.video-title-con h3{ margin: 0;}
.video-title-con .videoIcon{ width: 28px; height: 28px; background:url(../../images/index/vedio-icon.png) no-repeat 0 center; margin-right: 10px;}
.video-title-con .tr ul li{ float: left; margin-left: 40px;}
.video-title-con .tr ul li a{ font-size: 16px; line-height: 60px;}
.video-title-con .tr ul li.on a{ color: #2d74c3;}
.video-list-con{ padding-top: 20px;}
.video-list-con ul li{ width: 196px; height: 110px; float: left; margin: 0  0 15px 15px; overflow: hidden;}
.video-list-con ul li.nom{ margin: 0;}
.video-list-con ul li a{display: block; position: relative; width: 100%; font-weight: 500; z-index: 2;}
.video-list-con ul li .title{ width: 100%; height: 26px; line-height: 26px; position: absolute; left: 0; bottom: 0; padding:0 10px; background: rgba(0,0,0,0.37);overflow: hidden;
text-overflow: ellipsis; white-space: nowrap; color: #fff;}
.video-list-con ul li .play-icon{ display: block; width: 26px; height: 16px; position: absolute; right: 10px; top: 10px; background:url(../../images/index/play-icon.png) no-repeat 0 center;}
.video-list-con ul li a img{-webkit-transform: scale(1) translateZ(0); -webkit-transition: -webkit-transform .75s; transform: scale(1) translateZ(0); transition: transform .75s;}
.video-list-con ul li a:hover img{-webkit-transform: scale(1.2) translateZ(0); -webkit-transition: -webkit-transform .75s cubic-bezier(0,1,.75,1); transform: scale(1.2) translateZ(0); transition: transform .75s cubic-bezier(0,1,.75,1);}
.video-list-con ul li .playBtn{ display: block; width: 40px; height: 40px; position: absolute; left: 50%; margin: -20px; top: 50px; background:url(../../images/index/playBtn.png) no-repeat 0 center; filter: alpha(opacity=0); opacity: 0; -webkit-transform: scale(.7); -webkit-transition-property: opacity,-webkit-transform;-webkit-transition-duration: .5s; transform: scale(.7); transition-property: opacity,transform; transition-duration: .5s; zoom: 1;}
.video-list-con ul li a:hover .playBtn{background: 0 0\9; filter: progid:dximagetransform.microsoft.alphaimageloader(src="http://imgcache.gtimg.cn/mediastyle/yqq/img/cover_play.png", sizingmethod="crop") alpha(opacity=90); opacity: .9; -webkit-transform: scale(1); -webkit-transition-property: opacity,-webkit-transform; -webkit-transition-duration: .5s; transform: scale(1); transition-property: opacity,transform; transition-duration: .5s; cursor: pointer;}

/*public*/
.infor-con{ padding-top: 20px;}
.fitem-title{ width: 100%; height: 64px; border-bottom: 2px solid #2e76c7; position: relative;margin-bottom: 25px;}
.fitem-left{ position: absolute; left: 0; top: -1px;}
.fitem-title h4{ width: 206px; height: 64px; padding-top: 20px; padding-left: 28px;  text-align: center; color: #fff; font-size: 24px; background: url(../../images/index/big-title-bg.png) no-repeat 0 0; margin: 0;}
.fitem-title h4 span{ padding-top: 3px;}
.fitem-left .tj{ width: 35px; height: 35px; background: url(../../images/index/tj-icon.png) no-repeat 0 center; margin-right: 4px;}
.fitem-left .qb{ width: 35px; height: 35px; background: url(../../images/index/qb-icon.png) no-repeat 0 center; margin-right: 4px;}
.fitem-left .zx{ width: 35px; height: 35px; background: url(../../images/index/zx-icon.png) no-repeat 0 center; margin-right: 4px;}
.fitem-left .tp{ width: 35px; height: 35px; background: url(../../images/index/tp-icon.png) no-repeat 0 center; margin-right: 4px;}
.fitem-line{ margin-top: 36px;}
.fitem-line li{ float: left;}
.fitem-line li a{ padding: 0 14px;}
.fitem-line li.on a{ color:#2a6cb8}
.more-icon{ margin-left: 36px;}
.more-icon i{ width: 20px; height: 20px; background: url(../../images/index/more-icon.png) no-repeat 0 0;}

.tjBox{margin-bottom: 20px;}
.tjLeft{ width: 300px; border: 1px solid #e5e5e5;}
.tjLeft .title{ height: 54px; line-height: 54px; background: #2e76c7; text-align: center;}
.tjLeft .title span{ font-size: 20px; color: #fff; background: url(../../images/index/graph-icon.png) no-repeat 0 center; padding-left: 36px;}
.tjLeft .rankList{ padding: 0 10px 0 10px;}
.tjLeft .rankList ul li{ border-bottom: 1px solid #e5e5e5;}
.tjLeft .rankList ul li.last{  border-bottom: none 0;}
.tjLeft .rankList ul li a{ padding: 12px 0;}
.tjLeft .rankList ul li a:hover,.tjLeft .rankList ul li a:hover .name{ color: #cc1818;}
.tjLeft .rankList ul li a div{ height: 26px;  line-height: 26px;}
.tjLeft .rankList .rank,.tjLeft .rankList .percent{ width: 50px;}
.tjLeft .rankList .faceImg,.tjLeft .rankList .faceImg img{ width: 26px; height: 26px; border-radius: 50%; overflow: hidden;}
.tjLeft .rankList .faceImg{ margin-right: 5px;}
.tjRight{ width: 676px; border: 1px solid #f5f5f5; border-top: none 0; background: #ffffff;}
.tjRight .tabNav { margin-bottom: 12px;}
.tjRight .tabNav ul li{ float: left; width: 20%; border-top: 2px solid #f5f5f5;}
.tjRight .tabNav ul li.on{ border-color: #2e76c7;}
.tjRight .tabNav ul li a{ display: block; height: 54px; line-height: 54px; text-align: center; font-size: 20px; background: #f5f5f5;}
.tjRight .tabNav ul li.on a{background: #ffffff; color: #2e76c7;}
.tabContent{ height: 495px;}
.tabContent .tabItem ul li{ width: 314px; border: 1px solid #e5e5e5; float: left; margin: 10px;}
.tabContent .tabItem .uState{ width: 120px; margin: 0 auto; padding-top: 80px;}
.tabContent .tabItem .uState .uImg{ margin-bottom: 10px;}
.tabContent .tabItem .uState a{ width: 100%; border-radius: 3px;}

.uIforImg{width: 72px; height: 72px; border-radius: 10px; overflow: hidden; text-align: center; background: #f7f7f7; margin-right: 10px;}
.uIforImg img{ width: 100%; height: 100%;}
.uIforBox{ display: block; height: 182px; padding: 10px; position: relative; background: #f5f7fa;}
.uIforBox:hover{ background: #e6e8eb;}
.uIfor h4{ font-size: 24px;}
.uIfor p{ font-size: 18px;}
.uIforBox .uInt{ height: 90px; font-size: 12px; overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;-moz-box-orient: vertical; }

.rateIcon{ width: 75px; height: 75px; position: absolute; right: 0; top: 0;}
.rate8{background: url(../../images/index/z8.png) no-repeat 0 0;}
.rate9{background: url(../../images/index/z9.png) no-repeat 0 0;}
.rate10{background: url(../../images/index/z10.png) no-repeat 0 0;}
.uIforBottom{ height: 38px; background: #fff;}
.carLeft{ padding: 5px 0 0 5px;}
.carNum{ background: url(../../images/index/car-icon.png) no-repeat 0 center; padding-left: 20px;}
.perCon{ font-size: 12px; color: #999;}
.perCon .percent{ width: 112px; height: 4px; border-radius: 2px; position: relative; background: #e5e5e5; margin: 6px 5px 6px 0;}
.perCon .expand{height: 4px; border-radius: 2px; position: absolute; left: 0; top: 0; background: #df595a;}
.carRight{ width: 140px; height: 38px; line-height: 38px; text-align: center; font-size: 18px; background: url(../../images/index/car-price-bg.png) no-repeat 0 0;}
.moreLink{ text-align: center;}

/* qb/zx */
.zqBox .zqLeft{ width: 660px;}
.zqBox .zqRight{ width: 312px;}
.newsCon .newsLeft,.newsCon .newsRight{ width: 310px;}
.newsTitle{ background: url(../../images/index/news-title-bg.png) no-repeat 0 center; padding-left: 14px;}
.newsMore{ margin-top: 10px;}
.newsList{ margin-bottom: 11px;}
.newsList ul li{width: 310px; padding-right: 5px; height: 33px; line-height: 33px; overflow: hidden;text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; -ms-text-overflow: ellipsis; white-space: nowrap; -moz-white-space: nowrap; -ms-white-space: nowrap; -o-white-space: nowrap; -webkit-white-space: nowrap;}
.newsList ul li a{padding-left: 10px; background:url(../../images/common/li.jpg) no-repeat 0 center;}
.newsList ul li a:hover{ text-decoration: underline !important; }
.newsHot a{ display: block; background: #f5f7fa;}
.newsHot a:hover{ background: #e6e8eb;}
.newsHot .newsHotIfor{ padding: 0 10px 10px;height: 75px;}
.itemList ul li{ margin-bottom: 20px; height: 90px;webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
.itemList ul li:hover{ background: #f5f5f5;}
.itemList .rec_img{ width: 124px; height: 86px;}
.itemList .rec_right{ width: 186px; padding-left: 10px;}
.itemList .mlc_title{ font-size: 14px;margin-top: 2px;line-height: 18px;}
.itemList .mlc_des{ line-height: 18px;height: 45px; font-size: 12px; color: #999; overflow : hidden; text-overflow: ellipsis; line-clamp: 3; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;-moz-line-clamp: 3; -moz-box-orient: vertical;}

/* latest */
.bigShot{ margin-bottom: 20px; padding-top: 18px;}
.shotBox{ border: 1px solid #e5e5e5; padding: 0 15px;}
.shotTitle{ border-bottom: 2px solid #e5e5e5; }
.shotTitle h4{ font-size: 20px; margin: 0; padding: 10px 0; position: relative;}
.shotTitle h4:after{ width: 100%; height: 3px; background: #2e76c7; position: absolute; bottom: -3px; left:0; z-index: 1; pointer-events: none; position: absolute; content: '';
 -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}
.shotTitle .shotMore{ margin-top: 15px;}
.shotBox ul li{ padding: 12px 0; border-bottom: 1px solid #e5e5e5;}
.shotBox .last{ border-bottom: none 0;}
.shotBox .faceImg{ width: 44px; height: 44px; border-radius: 50%; overflow: hidden;}
.shotBox .faceImg img{ width: 100%; height: 100%;}
.shotBox .uShot{ margin-left: 16px;}
.shotBox .uShot span{ padding-left: 10px;}

/*Boutique Gallery*/
.photosBox .row{margin-left: -7px; margin-right: -7px;}
.photosBox .imgBox{ width: 188px; height: 280px; line-height: 280px; text-align: center; overflow: hidden; background: #fff;}
.photosBox .col-xs-3{margin: 7px; padding:0; overflow:hidden; background: #f2f5f7; width: 188px; border-radius: 4px; border: 1px solid #edefee; overflow: hidden;}
.photosBox .imgText{ height: 40px; line-height: 40px; padding: 0 15px; overflow:hidden; text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;-moz-box-orient:vertical;}
.photosBox ul li img{ -webkit-transform: scale(1) translateZ(0); -webkit-transition: -webkit-transform .75s; transform: scale(1) translateZ(0); transition: transform .75s;}
.photosBox ul li a:hover img{-webkit-transform: scale(1.2) translateZ(0); -webkit-transition: -webkit-transform .75s cubic-bezier(0,1,.75,1); transform: scale(1.2) translateZ(0); transition: transform .75s cubic-bezier(0,1,.75,1);}

/* friend-link */
.fs-link ul{ padding-top: 18px;}
.fs-link ul li{ float: left; margin-right: 5px; margin-bottom: 11px;}
.fs-link ul li a{ color: #555;}
.fs-link ul li a:hover{ color: #ff7e00;}
.friend-con .stat-title{ background: url(../../images/index/b-line.png) repeat-x left center;margin-top: 15px; padding: 0;}
.friend-con .stat-title h4{ color: #333; text-align: center;}
.friend-con .stat-title h4 span{ background: #fff; padding: 0 10px;}

