<extend name="Public:header"/>
<block name="seo">
    <title>关于我们_全球体育_即时比分,足球比分,赛事直播,足彩推荐|全球体育网qqty.com</title>
    <meta name="keywords" content="英超直播、NBA直播、直播吧、A8直播、足球直播、极速直播、jrs直播、中超直播、比分直播、赛事直播、体育直播网、CBA直播"/>
    <meta name="description" content="全球体育是最好的体育视频直播网站、主要提供英超直播、NBA直播、直播吧、A8直播、足球直播、极速直播、jrs直播、中超直播、比分直播、赛事直播等、力争做用户体验最好的体育直播网"/>
</block>
<block name="body">
<body>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/link_page/about.css">
	<div class="body">
    	<include file="Public:top_about"/>

        <!-- 主体内容开始 -->
        <div class="home clearfix">
            <section class="main clearfix">
                <h2><img src="__PUBLIC__/Home/images/link_page/title04.png"></h2>
                <div class="ab-banner">
                    <div class="ab-left text-555">让你亲临<span class="text-orange">现场</span></div>
                    <div class="ab-right text-555">比分指数<span class="text-green">现场</span>知晓</div>
                </div>
                <div class="p-con">
                    <p class="text-555"> 广东全彩科技有限公司（旗下网站“全球体育”）成立于2014年12月，目前公司通过拥有自主知识产权的、国际领先的虚拟数字技术，研发了非常多的产品，为全国体育好爱着提供全方位的互联网体育娱乐互动体验。</p>
                    <p class="text-555">全球体育网是广东全彩科技有限公司旗下大型体育类网站，全球体育致力于提供全球体育新闻、即时比分数据、数据统计分析、赛事动态、数据赔率变化、视频动画直播、赛事分析点评、体育推荐等功能。</p>
                    <p class="text-555">　[全球体育]功能特色：</p>
                    <p class="text-555">1、即时比分：极速的及时足球篮球比分直播、数据直播，永远让你快人一步；</p>
                    <p class="text-555">2、赔率指数：快速提供各家公司大小球和让球指数的数据变化；</p>
                    <p class="text-555">3、推荐王：免费提供足球推荐推荐，参与推荐，进行高手排名，坐拥百万粉丝点赞，感受王者至尊的荣耀；</p>
                    <p class="text-555">4、视频动画直播：提供大部分的体育赛事视频动画直播，让您在电脑前面有亲临现场的感觉；</p>
                    <p class="text-555">5、资料库：全球各大联赛、球队、球员的各项比赛数据，掌握手中！</p>
                    <p class="text-555">我们的企业精神：</p>
                    <p class="text-555">原创：创造成就未来</p>
                    <p class="text-555">激情：我们能爬多高，能走多远，取决于我们心中有多少激情的能量</p>
                    <p class="text-555">简单：宁做简单的事，不做复杂的人；和谐、融洽的工作氛围来自于公司内部简单的人际关系</p>
                    <p class="text-555">速度：我们是沙漠里的兔子，不是骆驼，速度优先是我们的生存法则</p>
                    <p class="text-555">我们的价值观：以人为本，志在必赢，诚实正直，追求卓越，弘扬团队精神</p>
                </div>
                <div class="img-con">
                    <img src="__PUBLIC__/Home/images/link_page/img-con.jpg">
                </div>
            </section>
        </div>
        <!-- 主体内容开始 -->

        <include file="Public:footer_about"/>
    </div>
</body>
</html>
</block>
