<extend name="Public:header"/>
<block name="seo">
    <title>联系我们_全球体育_即时比分,足球比分,赛事直播,足彩推荐|全球体育网qqty.com</title>
    <meta name="keywords" content="英超直播、NBA直播、直播吧、A8直播、足球直播、极速直播、jrs直播、中超直播、比分直播、赛事直播、体育直播网、CBA直播"/>
    <meta name="description" content="全球体育是最好的体育视频直播网站、主要提供英超直播、NBA直播、直播吧、A8直播、足球直播、极速直播、jrs直播、中超直播、比分直播、赛事直播等、力争做用户体验最好的体育直播网"/>
</block>
<block name="body">
<body>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/link_page/contact.css">
	<div class="body">
        <include file="Public:top_about"/>

        <!-- 主体内容开始 -->
        <div class="home clearfix">
            <section class="main clearfix">
            	<h2><img src="__PUBLIC__/Home/images/link_page/title06.png"></h2>
                <div class="con-banner">
                	<div class="pull-left left"><img src="__PUBLIC__/Home/images/link_page/con-banner.jpg" width="742" height="240"></div>
                    <div class="pull-right right">
                    	<h4><div>全球体育网</div><a href="//www.__DOMAIN__/">www.__DOMAIN__</a></h4>
                        <ul class="con-ban-ul">
                        	<li>联系电话：020-39287222</li>
                            <li>客服  QQ：2243444136</li>
                            <li>Email：market@gdquancai.com</li>
                            <li>联系地址：广东省广州市珠江新城保利克洛维中盈大厦1710</li>
                        </ul>
                    </div>
                </div>
                <h3>公司地图</h3>
                <div class="address clearfix">
                	<div class="pull-left way-line">
                    	<div class="job_intro_info">
                            <span>天河公交站下：</span><br>
                            3路 54路 62a路 62路 137路 140路 243路 <br>
                            245路 261路 266路 278路 284路 293路<br>
                            299路  882路 886a路 886路 b15路 b8路 <br>
                        </div>
                        <div class="job_intro_info">
                            <span>3号线:</span> <br>
                            地铁体育西路G出口
                        </div>
                    </div>
                    <div class="pull-right map"><a href=""></a></div>
                </div>
          	</section>
        </div>
        <!-- 主体内容开始 -->

        <!-- 底部版权信息开始 -->
        <include file="Public:footer_about"/>
        <!-- 底部版权信息结束 -->
    </div>
</body>
</html>
</block>