<include file="Etc/head"/>
    <link rel="stylesheet" href="__CSS__/etc/ex_rule.css">
<body>
	<!-- 二级头部 s -->
	<header id="other_header">
    	<a href="{:U('Etc/index')}"></a>详细规则
    </header>
    <!-- 二级头部 e -->

	<section class="main">
        <div class="rule_con">
        	<div class="rule_con_in">
                <dl class="rule rule01">
                    <dt>1、活动规则</dt>
                    <dd>（1）ETC车宝注册用户首次参与活动可获得3000推荐币，每天只要登录活动界面即可免费获得1000推荐币；</dd>
                    <dd>（2）每场球赛用户可在“胜”、“平”、“负”三种结果中选择推荐，推荐币为100的整倍数，推荐胜利即可根据赔率获得相应推荐币,如推荐100推荐币，赔率为1.56，则将获得56推荐币的盈利；</dd>
                    <dd>（3）单场推荐不得超过1000推荐币，1/4决赛推荐调整为不得超过3000推荐币，半决赛和决赛推荐不得超过5000推荐币。</dd>
                    <dd>（4）用户可在ETC车宝平台上，通过积分兑换推荐币的形式获取推荐币，以参与活动；单个用户每天可兑换的限额不超过2000积分；</dd>
                    <dd>（5）推荐币仅限本次活动使用，活动结束7天后推荐币清零；</dd>
                    <dd>（6）活动时间：6月8日-7月11日。</dd>
                </dl>
            </div>
      	</div>
        <div class="rule_con">
        	<div class="rule_con_in">
                <dl class="rule rule02">
                	<dt>2、积分兑换规则</dt>
                    <dd>积分可按1:1的比例兑换推荐币，每天兑换上限为2000；推荐币仅限本次活动使用，活动结束7天后推荐币清零。</dd>
                    <dd>可选兑换区间：</dd>
                    <dd>100积分兑换100推荐币</dd>
                    <dd>300积分兑换300推荐币</dd>
                    <dd>500积分兑换500推荐币</dd>
                    <dd>1000积分兑换1000推荐币</dd>
                    <dd>2000积分兑换2000推荐币</dd>
                </dl>
            </div>
      	</div>
        <div class="rule_con">
        	<div class="rule_con_in">
                <dl class="rule rule03">
                	<dt>3、奖品兑换规则</dt>
                    <dd>（1）活动期间：推荐币兑换</dd>
                    <dd>活动期间，用户可花费推荐币兑换相应的奖品，虚拟奖励兑换次数不限，实物奖励仅限兑换一次。同时还可参与抽奖，有机会抽中iPhone6S、恒大VS国安门票、丁威特行车记录仪、欧洲杯豪门球衣等。</dd>
                    <dd>（2）活动结束后：盈利榜</dd>
                    <dd>盈利榜将根据用户赢得的推荐币进行排行，活动结束后，盈利榜前100名可获恒大VS国安门票、恒大正版球衣及欧洲杯纪念周边、手机话费等。</dd>
                </dl>
            </div>
      	</div>
    </section>
</body>
</html>