<!-- 底部 s -->
<footer id="footer">
   <aside class="version clearfix">
        <a href="javascript:;" id="load_btn" target='_blank'>客户端</a>
    <span>|</span>
    <a href="javascript:;" class="touch">触屏版</a>
    <span>|</span>
    <a href="//www.qqty.com/?from=m" target='_blank'>电脑版</a>
   </aside>
   <aside class="copyright clearfix">广东全彩科技有限公司©2015-2016 粤ICP备15006399号-3</aside>
   <aside class="tel clearfix">客服热线：020-39287222 </aside>
</footer>
<!-- 底部 e -->
 <!-- 返回顶部开始 -->
<div class="return-top">
    <a href="#">
      <span class="ft_bg"></span>
      <span>回顶部</span>
    </a>
</div>
