<include file="header"/>
<body>
	<!-- 页面需要引进的css文件 -->
    <link href="__PUBLIC__/Api/css/load.css" rel="stylesheet" type="text/css">
    <!-- 页面需要引进的js文件 -->
    <script type="text/javascript" src="__PUBLIC__/Plugs/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Api/Home/picDetail/js/panDuan.js"></script>
    <div class="main">
        <!-- 服务协议标头开始 -->
        <h1 class="h1" style="display:none">官方微信公众号</h1>
        <div class="wxwe" style="display:none"><img src="__PUBLIC__/Api/images/wxwe.png"></div>
        <!-- 服务协议标头结束 -->
      	<!-- 下载模块开始 -->
        <div class="clearfix load-main">
            <a href="javascript:;" id="load_btn"><img src="__PUBLIC__/Api/images/load-btn.png"></a>
        </div>
        <!-- 下载模块结束 -->
	</div>
</body>
</html>
