<div class="applyTitle">发布文章</div>
<div class="applyInfor reset-con applyArticle">
    <div class="form reset-list">
        <form method="post" action="__URL__/save" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return form_submit()">
            <div class="form-in clearfix">
                <div class="pull-left input-name">文章标题：</div>
                <div class="pull-left input-con input-position-relative">
                    <input id="title" class="form-control" name="title" type="text" placeholder="" maxlength="48">
                    <p class="notesP" style="color:red;">注：请勿填写违反国家法律，设计色情、政治、造谣、敏感等内容，标题字数限制48个字</p>
                </div>
            </div>
            <div class="form-in clearfix">
                <div class="pull-left input-name">封面图片：</div>
                <ul class="tabImg">
                    <li>
                        <input id="viewUploadInput_77" name="fileInput" type="file" onChange="previewImage(77)" style="display:none;" />
                        <a href="javascript:void(0);">
							 <span id="viewUploadDiv_77">
									<img src="__PUBLIC__/Home/images/common/add_gray.png" width="80" height="80" id="viewUploadImg_77"/>
							 </span>
                        </a>
                        <div id="poiter_77" class="poiter">
                                <a title="添加图片" onclick="selectViewUploadImg('#viewUploadInput_77')">添加图片</a>
                        </div>
                    </li>
                </ul><br><br>
                <p class="notesP"  style="color:red;">注：上传图片大小建议为600X400</p>
            </div>
            <style type="text/css">
                .tabImg li{float: left;margin-right: 15px;position: relative;border:1px solid #f2f2f2;width:80px;height: 80px;overflow: hidden;cursor: pointer;}
                .poiter a:hover{color:red;}
                .tabImg li div{ position: absolute; left: 0; top:80px; width: 80px;  height: 80px; line-height: 80px; text-align: center; color: #fff; background: rgba(44, 170, 236, 1);font-size:12px;}
                .tabImg li div a{ line-height: 80px;}
            </style>
            <!--引入本页js-->
            <script type="text/javascript" src="__PUBLIC__/Plugs/viewUploadImg.js"></script>
            <script>
                $(function(){
                    $('.tabImg li').hover(function(e) {
                        $(this).children('div').stop().animate({'top':'0'},300);
                    },function(){
                        $(this).children('div').stop().animate({'top':'80px'},300);
                    });
                });
            </script>
            <div class="form-in clearfix">
                <div class="pull-left input-name">选择比赛：</div>
                <div class="pull-left input-con">
                    <div class="pull-left form-control game_input"></div>
                    <!-- <input id="title" class="form-control" name="title" type="text" placeholder=""> -->
                    <div class="pull-right reanks-con">
                        <a href="javascript:;" type="button" data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-orange">选择比赛</a>
                    </div>
                </div>
            </div>
            <div class="form-in clearfix game_ya" style="display: none;">
                <div class="pull-left input-name">亚盘玩法：</div>
                <div class="pull-left input-con">
                    <table class="table table-bordered"  width="100%" align="center" cellspacing="0" border="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th width="130"><strong>玩法</strong></th>
                            <th width="130"><strong>赔率</strong></th>
                            <th width="130"><strong>盘口</strong></th>
                            <th width="130"><strong>赔率</strong></th>
                        </tr>
                        </thead>
                        <tbody id="game_ya">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-in clearfix game_ji" style="display: none;">
                <div class="pull-left input-name">竞彩玩法：</div>
                <div class="pull-left input-con">
                    <table class="table table-bordered"  width="100%" align="center" cellspacing="0" border="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th width="130"><strong>玩法</strong></th>
                            <th width="130"><strong>胜</strong></th>
                            <th width="130"><strong>平</strong></th>
                            <th width="130"><strong>负</strong></th>
                        </tr>
                        </thead>
                        <tbody id="game_ji">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-in clearfix">
                <div class="input-name">分析内容：</div>
                <p class="notesP" style="color:red;">注：文章字数不少于500字!</p>
                <textarea id="myeditor2" style="width:100%;height:600px;" name="content"></textarea>
            </div>
            <div id="game_type"></div>
            <div class="reg-btn">
                <input type="submit" class="btn btn-orange" value="发布">
            </div>
        </form>
    </div>
</div>
<!--引入百度编辑器-->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>

<!-- 模态窗口开始 -->
<div class="modal ditai01 fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
                <a href="javascript:;" class="cur">足球</a>
                <a href="javascript:;">篮球</a>
            </h4>
        </div>
        <div class="modalTab">
            <div class="modal-body">
                <div class="menu_list">
                    <ul class="clearfix" id="union">
                        <li class="on"><a href="javascript:;" union_id="all">全部</a></li>
                        <volist name="game.union" id="item">
                            <li><a href="javascript:;" union_id="{$item.union_id}">{$item.union_name|switchName=0,###}({$item.union_num})</a></li>
                        </volist>
                    </ul>
                </div>
                <div class="menu_select">
                    <ul id="game_list">
                        <volist name="game.game" id="item">
                            <li union_id="{$item.union_id}"><label class="inline"><input name="game_radio" type="radio" value="{$item.game_id}"><span class="bg-ac language simplified ">{$item.home_team_name|switchName=0,###} VS {$item.away_team_name|switchName=0,###} {$item.gtime|date="Y-m-d H:i",###}</span><if condition="$item['home_odds'] neq
     ''"><em>竞彩</em></if></label></li>
                            <div class="game_{$item.game_id}" value="{$item.home_odds}_{$item.draw_odds}_{$item.away_odds}_{$item.home_letodds}_{$item.draw_letodds}_{$item.away_letodds}_{$item.fsw_exp_home}_{$item.fsw_exp}_{$item.fsw_exp_away}_{$item.fsw_ball_home}_{$item.fsw_ball}_{$item.fsw_ball_away}_{$item.let_exp}"></div>
                        </volist>
                    </ul>
                </div>
            </div>
            <div class="modal-body" style="display: none;">
                <div class="menu_list">
                    <ul class="clearfix" id="union">
                        <li class="on"><a href="javascript:;" union_id="all">全部</a></li>
                        <volist name="bk.union" id="item">
                            <li><a href="javascript:;" union_id="{$item.union_id}">{$item.union_name|switchName=0,###}({$item.union_num})</a></li>
                        </volist>
                    </ul>
                </div>
                <div class="menu_select">
                    <ul id="game_list">
                        <volist name="bk.game" id="item">
                            <li union_id="{$item.union_id}"><label class="inline"><input name="game_radio" type="radio" value="{$item.game_id}"><span class="bg-ac language simplified ">{$item.home_team_name|switchName=0,###} VS {$item.away_team_name|switchName=0,###} {$item.gtime|date="Y-m-d H:i",###}</span><if condition="$item['home_odds'] neq
     ''"><em>竞彩</em></if></label></li>
                            <div class="game_{$item.game_id}" gtype="bk" value="{$item.home_odds}_{$item.draw_odds}_{$item.away_odds}_{$item.home_letodds}_{$item.draw_letodds}_{$item.away_letodds}_{$item.fsw_exp_home}_{$item.fsw_exp}_{$item.fsw_exp_away}_{$item.fsw_ball_home}_{$item.fsw_ball}_{$item.fsw_ball_away}_{$item.let_exp}"></div>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
        <div class="btn-con clearfix">
            <input type="button" id="removeAll" class="btn btn-default pull-right" data-dismiss="modal" style="margin-left: 12px;" value="关闭">
            <input type="button" id="ensure" class="btn btn-blue pull-right" data-dismiss="modal" value="确定">
        </div>
    </div>
</div>
<!-- 模态窗口结束 -->

<script>
    //足球篮球切换
    $('.modal-title a').click(function(e){
        var indexNun = $(this).index();
        $(this).addClass('cur').siblings().removeClass('cur');
        $('.modalTab .modal-body').eq(indexNun).show().siblings().hide();
    });
    //实例化编辑器
    var editor = new UE.ui.Editor();
    editor.render("myeditor");

    //实例化编辑器
    var editor = new UE.ui.Editor();
    editor.render("myeditor2");
    var sprScore = {:json_encode(C('score'),JSON_UNESCAPED_UNICODE)};
    function form_submit()
    {
        var title = $("#title").val().length;
        if(title < 1)
        {
            _alert('温馨提示',"请编写文章标题");
            return false;
        }
        if(title > 24)
        {
            _alert('温馨提示',"文章标题字数不能多于24个字");
            return false;
        }
//        var img = $("#viewUploadInput_77").val();
//        if(img == '')
//        {
//            _alert('温馨提示',"请上传封面图片");
//
//            return false;
//        }
        var count = editor.getContentLength(true);
        if(count < 300)
        {
            _alert('温馨提示',"文章内容不应小于300个字");
            return false;
        }
        var html = '<input disabled="disabled" type="submit" class="btn btn-orange" value="发布中">';
        $(".reg-btn").html(html);
    }
    $("#ensure").on("click",function(){
        $(".game_ya").css('display','none');
        $(".game_ji").css('display','none');
        var game_id = $('input:radio:checked').val();
        var game_info = $(".game_"+game_id).attr("value");
        var gtype = $(".game_"+game_id).attr("gtype");
        info=game_info.split("_");
        var game_title = $('input:radio:checked').next().text();
        $(".game_input").text(game_title);
        var team = game_title.split(" ");
        var _pan = '';
        if(gtype == 'bk')
        {
            _pan = info[7];
        }else{
            _pan = handCpSpread(info[7]);
        }
        if(info[7])
        {
            var game_ya = '';
            game_ya = '<tr>'+
                    '<td><strong>让球</strong></td>'+
                    '<td class="selectOdd" value="1,1">'+team[0]+'('+info[6]+')</td>'+
                    '<td class="">'+_pan+'</td>'+
                    '<td class="selectOdd" value="1,-1">'+team[2]+'('+info[8]+')</td>'+
                    '</tr>'+
                    '<tr>'+
                    '<td><strong>大小</strong></td>'+
                    '<td class="selectOdd" value="-1,1">大球('+info[9]+')</td>'+
                    '<td class="">'+handCpTotal(info[10])+'</td>'+
                    '<td class="selectOdd" value="-1,-1">小球('+info[11]+')</td>'+
                    '</tr>';
            $("#game_ya").html(game_ya);
            $(".game_ya").css('display','block');
        }
        if(info[0])
        {
            var game_ji = '';
            game_ji = '<tr>'+
                    '<td><strong>胜负平</strong></td>'+
                    '<td class="selectOdd" value="2,1">'+info[0]+'</td>'+
                    '<td class="selectOdd" value="2,0">'+info[1]+'</td>'+
                    '<td class="selectOdd" value="2,-1">'+info[2]+'</td>'+
                    '</tr>'+
                    '<tr>'+
                    '<td><strong>让球（'+info[12]+'）</strong></td>'+
                    '<td class="selectOdd" value="-2,1">'+info[3]+'</td>'+
                    '<td class="selectOdd" value="-2,0">'+info[4]+'</td>'+
                    '<td class="selectOdd" value="-2,-1">'+info[5]+'</td>'+
                    '</tr>';
            $("#game_ji").html(game_ji);
            $(".game_ji").css('display','block');
        }
        $(".selectOdd").on("click",function(){
            var _on = $(this);
            var game_type = _on.attr('value').split(",");
            $.ajax({
                url: "is_gamble.html",
                type:'post',
                data:{'game_id':game_id,'game_type':game_type[0],'gtype':gtype},
                dataType: "json",
                success: function(data){
                    if(data.status){
                        $(".selectOdd").removeClass("on");
                        _on.addClass("on");
                        var type_html = '<input type="hidden" name="play_type" value="'+game_type[0]+'"/><input type="hidden" name="chose_side" value="'+game_type[1]+'"/><input type="hidden" name="game_id" value="'+game_id+'"/><input type="hidden" name="gtype" value="'+gtype+'"/>';
                        $("#game_type").html(type_html);
                    }else{
                        _alert('温馨提示',data.info);
                    }
                }
            });
        });
    });

    //大小显示
    function handCpTotal(score)
    {
        var num  = Math.floor(score);
        var deci = score - num;

        if (deci == 0.25)
        {
            var score1 = num;
            var score2 = num+0.5;
            return score1 +'/'+ score2;
        }

        if (deci == 0.75)
        {
            var score1 = num+0.5;
            var score2 = num+1;
            return score1 +'/'+ score2;
        }

        return parseFloat(score);
    }
    //让分中文显示
    function handCpSpread(score)
    {
        var preTag = '';
        if (score.indexOf('-') >= 0)
        {
            preTag = "受";
            var score = score.split('-')[1];
        }
        return preTag+sprScore[score];
    }
    $("#union li").on('click',function(){
        $("#union li").removeClass("on");
        $(this).addClass("on");
        var union_id = $(this).children('a').attr('union_id');
        if(union_id == 'all')
        {
            $("#game_list li").css('display','block');
        }else{
            $("#game_list li").each(function(){
                if($(this).attr('union_id') == union_id)
                {
                    $(this).css('display','block');
                }else{
                    $(this).css('display','none');
                }
            });
        }
    });
</script>