<include file="Public:pagerForm" />

<div class="pageHeader">
    <form rel="pagerForm" onsubmit="return navTabSearch(this);" action="__URL__" method="post">

        <div class="searchBar">
            <ul class="searchContent">

                <li>
                    <label>ID：</label>
                    <input type="text" name="id" value="{$_REQUEST.id}">
                </li>
                <li>
                    <label>规则关键字：</label>
                    <input type="text" name="title" value="{$_REQUEST.title}">
                </li>
                <li style="width: 200px;">
                    <label>活动类型：</label>
                    <select name="multiple" class="combox" onchange="$(form).submit()">
                        <option value="2" selected>全部</option>
                        <option value="0" <if condition="$_REQUEST.multiple eq '0'">selected</if> >单场</option>
                        <option value="1" <if condition="$_REQUEST.multiple eq '1'">selected</if> >多场</option>
                    </select>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li>
                <a class="add" href="__URL__/edit/multiple/{$_REQUEST.multiple}" target="dialog" mask="true"><span>添加</span></a>
            </li>
            <li>
                <a class="delete" href="__URL__/foreverdelete/id/{sid_record}" target="ajaxTodo" title="你确定要删除吗？" warn="请选择公告"><span>删除</span></a>
            </li>
        </ul>
    </div>

    <table class="table" width="100%" layoutH="138">
        <thead>
        <tr>
            <th width="2%" style="cursor: default;">
                <div class="gridCol" title="">
                    <input class="checkboxCtrl" type="checkbox" group="id">
                </div>
            </th>
            <th width="2%" orderField="id" <if condition="$_REQUEST.id eq 'id'">class="{$_REQUEST.id}"</if>>ID</th>
            <th width="15%">活动标题</th>
            <th width="30%">活动规则</th>
            <th width="10%">活动类型</th>
            <th width="5%">操作</th>
        </tr>
        </thead>
        <tbody>
        <notempty name='list'>
            <volist name='list' id='vo'>
                <tr target="sid_record" rel="{$vo['id']}">
                    <td>
                        <div>
                            <input type="checkbox" value="{$vo.id}" name="id">
                        </div>
                    </td>
                    <td>{$vo['id']}</td>
                    <td><a href="http://m.__DOMAIN__/Activity/gamble/activityId/{$vo.title_id}.html" target="_blank">{$vo['title']}</a></td>
                    <td>{$vo.rule|msubstr=0,45}</td>
                    <td>
                        <if condition="$vo.multiple eq 0"> 单场
                            <elseif condition="$vo.multiple eq 1" />多场
                        </if>
                    </td>
                    <td>
                       <a href="__URL__/edit/id/{$vo.id}" target="dialog" mask="true">
                            <span>编辑</span>
                        </a>|
                       <a class="delete" href="__URL__/foreverdelete/id/{$vo.id}" target="ajaxTodo" title="你确定要删除吗？">
                            <span>删除</span>
                       </a>
                    </td>
                    </td>
                </tr>
            </volist>
        </notempty>
        </tbody>
</table>

<include file="Public:pagerNum" />


</div>


