<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta charset="UTF-8">
    <block name="seo">
        <title>全球体育欧洲杯专题_全球体育手机网提供最准的欧洲杯竞彩推荐及最快的新闻资讯</title>
    </block>
    <link rel="shortcut icon" href="__PUBLIC__/Home/images/icon/16X16.ico">
    <!-- jquery -->
    <script type="text/javascript" src="__JS__/jquery-1.11.1.min.js"></script> 

    <!-- 引入公共样式 -->
    <link rel="stylesheet" type="text/css" href="__CSS__/euro/base.css"> 
    <link rel="stylesheet" type="text/css" href="__CSS__/euro/common.css"> 
    <!-- 自适应 计算html font-size -->
    <script type="text/javascript" src="__JS__/euro/htmlwidth.js"></script>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?0452415b61a2145478f9493dac7e2a81";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript" src="__PUBLIC__/Home/backend_js/common/cookie.js"></script>
    <!-- 公共js -->
    <script type="text/javascript" src="__JS__/euro/common.js"></script>
</head>
<block name="body"><body></block>
{//附加}
<block name="append"></block>
{//头部}
<block name="banner">
    <include file="Public/euro/banner"/>
</block>
{//导航}
<block name="nav">
    <include file="Public/euro/nav"/>
</block>
{//副导航}
<block name="sub_nav"></block>
{//主内容区域}
<block name="content"></block>
<script type="text/javascript" src="__PUBLIC__/Api/Home/picDetail/js/panDuan.js"></script>
<block name="scripts"></block>
</body>
</html>