<section class="n_module">
<nav class="nav_list clearfix">
    <a href="{:U('Euro/index@m')}" <eq name="Think.ACTION_NAME" value="index">class="on"</eq>>热点</a>
    <a href="{:U('Euro/live@m')}" <eq name="title" value="live">class="on"</eq>>赛程</a>
    <a href="{:U('Euro/video@m')}" <eq name="Think.ACTION_NAME" value="video">class="on"</eq>>视频</a>
    <a href="{:U('Euro/photo@m')}" <eq name="Think.ACTION_NAME" value="photo">class="on"</eq>>图片</a>
    <a href="{:U('Euro/recommend@m')}" <eq name="title" value="recommend">class="on"</eq>>推荐</a>
  </nav>
</section>