<section class="sub_nav_module clearfix">
    <nav class="sub_nav">
        <a href="{:U('live@m')}" <eq name='current_nav' value='against'>class="on"</eq>>对阵图</a>
        <a href="{:U('live_score@m')}" <eq name='Think.const.ACTION_NAME' value='live_score'>class="on"</eq>>比分</a>
        <a href="{:U('live_striker@m')}" <eq name='Think.const.ACTION_NAME' value='live_striker'>class="on"</eq>>射手榜</a>
        <a href="{:U('live_integral@m')}" <eq name='Think.const.ACTION_NAME' value='live_integral'>class="on"</eq>>积分榜</a> 
    </nav>
</section>