<include file="Public:pagerForm" />

<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="__URL__" method="post">
	<input type="hidden" name="is_home" value="{$_REQUEST.is_home}">
	<div class="searchBar">
		<ul class="searchContent">
			<li>
				<label>标题：</label>
				<input type="text" name="title" value="{$_REQUEST.title}"/>
			</li>
			<li>
				<label>所属分类：</label>
				<select name="class_id" class="combox" onchange="$(form).submit()">
					<option value="" selected>全部</option>
					<volist name="HighlightsClass" id="item">
						<option value="{$item.id}" <eq name="item.id" value="$_REQUEST.class_id">selected</eq> >{$item.name}</option>
						<notempty name="item.childs">
							<volist name="item.childs" id="item2">
								<option value="{$item2.id}" <eq name="item2.id" value="$_REQUEST.class_id">selected</eq> >|_{$item2.name}</option>
								<notempty name="item2.childs">
									<volist name="item2.childs" id="item3">
										<option value="{$item3.id}" <eq name="item3.id" value="$_REQUEST.class_id">selected</eq> >|__{$item3.name}</option>
									</volist>
								</notempty>
							</volist>
						</notempty>
					</volist>
				</select>
			</li>
			<li>
				<label>视频类型：</label>
				<select name="is_prospect" class="combox" onchange="$(form).submit()">
					<option value="" selected>全部</option>
					<option value="0" <if condition="$_REQUEST.is_prospect eq '0'">selected</if> >集锦</option>
					<option value="1" <if condition="$_REQUEST.is_prospect eq '1'">selected</if> >前瞻</option>
				</select>
			</li>
			<li>
				<label>推荐：</label>
				<select name="is_recommend" class="combox" onchange="$(form).submit()">
					<option value="" selected>全部</option>
					<option value="0" <if condition="$_REQUEST.is_recommend eq '0'">selected</if> >否</option>
					<option value="1" <if condition="$_REQUEST.is_recommend eq '1'">selected</if> >推荐</option>
					<option value="2" <if condition="$_REQUEST.is_recommend eq '2'">selected</if> >轮播推荐</option>
				</select>
			</li>
			<li>
				<label>首页推荐：</label>
				<select name="top_recommend" class="combox" onchange="$(form).submit()">
					<option value="" selected>全部</option>
					<option value="0" <if condition="$_REQUEST.top_recommend eq '0'">selected</if> >否</option>
					<option value="1" <if condition="$_REQUEST.top_recommend eq '1'">selected</if> >推荐</option>
				</select>
			</li>
			<li>
				<label>状态：</label>
				<select name="status" class="combox" onchange="$(form).submit()">
					<option value="" selected>全部</option>
					<option value="1" <if condition="$_REQUEST.status eq '1'">selected</if> >启用</option>
					<option value="0" <if condition="$_REQUEST.status eq '0'">selected</if> >禁用</option>
					<option value="2" <if condition="$_REQUEST.status eq '2'">selected</if> >待审核</option>
				</select>
			</li>
			<li>
				<label>关联赛事id：</label>
				<input type="text" name="game_id" value="{$_REQUEST.game_id}">
			</li>
		</ul>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<if condition="$_REQUEST.gameType eq ''">
				<li><a class="add" href="__URL__/add" target="dialog" mask="true" rel="addHighlights" height="700" width="700"><span>添加</span></a></li>
			</if>
			<li><a class="delete" href="__URL__/delete/id/{sid_record}" target="ajaxTodo" title="你确定要删除吗？" warn="请选择集锦"><span>删除</span></a></li>
			<li><a class="edit" href="__URL__/edit/id/{sid_record}" target="dialog" mask="true" warn="请选择集锦" height="700" width="700"><span>编辑</span></a></li>
			<if condition="$_REQUEST.is_home neq ''"><li><a class="checkOn" style="position: relative;"><img style="position: absolute;left: 0;top: 2px;" src="/Public/Images/<if condition='$isCheckOn eq 1'>ok<else/>error</if>.gif" width="20" height="20" border="0"><span>审核<if condition='$isCheckOn eq 1'>开启<else/>关闭</if></span></a></li></if>
		</ul>
	</div>

	<table class="table" width="100%" layoutH="138">
		<thead>
		<tr>
			<th width="3%" orderField="id" <if condition="$_REQUEST._order eq 'id'">class="{$_REQUEST._sort}"<else/>class="desc"</if>>ID</th>
			<th width="4%">图片</th>
			<th width="10%">标题</th>
			<th width="3%">分类</th>
			<th width="5%">专家作者</th>
			<th width="4%">视频类型</th>
			<th width="4%">赛事id</th>
			<th width="8%" orderField="add_time" <if condition="$_REQUEST._order eq 'add_time'">class="{$_REQUEST._sort}"<else/>class="desc"</if>>添加时间</th>
			<th width="4%" orderField="click_num" <if condition="$_REQUEST._order eq 'click_num'">class="{$_REQUEST._sort}"<else/>class="desc"</if>>播放次数</th>
			<th width="5%">标签</th>
			<th width="8%">web链接地址</th>
			<th width="8%">app链接地址</th>
			<th width="8%">m站链接地址</th>
			<th width="3%" orderField="status" <if condition="$_REQUEST._order eq 'status'">class="{$_REQUEST._sort}"<else/>class="desc"</if>>状态</th>
			<th width="4%" orderField="is_recommend" <if condition="$_REQUEST._order eq 'is_recommend'">class="{$_REQUEST._sort}"<else/>class="desc"</if>>推荐</th>
			<th width="4%" orderField="top_recommend" <if condition="$_REQUEST._order eq 'top_recommend'">class="{$_REQUEST._sort}"<else/>class="desc"</if>>首页推荐</th>
			<th width="6%">操作</th>
		</tr>
		</thead>
		<tbody>
		<notempty name="list">
			<volist id="vo" name="list">
				<tr target="sid_record" rel="{$vo['id']}">
					<td>{$vo['id']}</td>
					<td>
					<empty name="vo.img">没有上传
					<else/>
					    <a href="{$vo.img}" target="_blank" title="查看图片"><img src="{$vo['img']}" alt="集锦图片" width="30" height="30" /></a>
					</empty>
					</td>
					<td><a href="{$vo.href}" target="_blank">{$vo['title']}</a></td>
					<td>{$vo['className']}</td>
					<td><if condition="$vo.nick_name neq ''"><a href="__ADMIN__/FrontUser/index/id/{$vo['user_id']}" target="navTab">{$vo.nick_name}</a></if></td>
					<td>
						<switch name="vo.is_prospect">
							<case value="0">集锦</case>
							<case value="1">前瞻</case>
						</switch>
					</td>
					<td><notempty name="vo['game_id']">{$vo['game_id']}</notempty></td>
					<td>{$vo['add_time']|date="Y-m-d H:i",###}</td>
					<td>{$vo['click_num']}</td>
					<td title="{$vo.label}">{$vo.label|msubstr=###,0,5}</td>
					<td><eq name="vo.web_ischain" value="1">(外链)</eq><a target="_blank" href="{$vo['web_url']}" title="{$vo['web_url']}">{$vo['web_url']|msubstr=###,0,22}</a></td>
					<td><eq name="vo.app_ischain" value="1">(外链)</eq><a  target="_blank" href="{$vo['app_url']}" title="{$vo['app_url']}">{$vo['app_url']|msubstr=###,0,22}</a></td>
					<td><eq name="vo.m_ischain" value="1">(外链)</eq><a  target="_blank" href="{$vo['m_url']}" title="{$vo['m_url']}">{$vo['m_url']|msubstr=###,0,22}</a></td>
					<td>{$vo['status']|getStatus}</td>
					<td>
						<switch name="vo.is_recommend">
							<case value="0">否</case>
							<case value="1">推荐</case>
							<case value="2">轮播推荐</case>
						</switch>
					</td>
					<td>
						<switch name="vo.top_recommend">
							<case value="0">否</case>
							<case value="1">推荐</case>
						</switch>
					</td>
					<td>
						<a href="__URL__/edit/id/{$vo.id}" target="dialog" mask="true" title="编辑" rel="editPage" height="700" width="700">编辑</a> |
						<switch name="vo.status">
							<case value="0"><a href="__URL__/resume/id/{$vo.id}/navTabId/" target="ajaxTodo" callback="navTabAjaxDone">恢复</a></case>
							<case value="1"><a href="__URL__/forbids/id/{$vo.id}" target="ajaxTodo" callback="navTabAjaxDone">禁用</a></case>
							<case value="2"><a href="__URL__/checkPass/id/{$vo.id}/navTabId/" target="ajaxTodo" callback="navTabAjaxDone">批准</a></case>
						</switch>
					</td>
				</tr>
			</volist>
		</notempty>
		</tbody>
	</table>

	<include file="Public:pagerNum" />


</div>

<script>
	$('.checkOn').on('click',function(){
		$.ajax({
			url: "__URL__/checkOn.html",
			type:'post',
			data:{type:'videoCheck'},
			dataType: "json",
			success: function(data){
				if(data == 1)
				{
					$('.checkOn').find('img').prop('src',ok);
					$('.checkOn').find('span').html('审核开启');
				}else{
					$('.checkOn').find('img').prop('src',error);
					$('.checkOn').find('span').html('审核关闭')
				}
			}
		});
	})
</script>


