<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta charset="UTF-8">
    <block name="seo">
        <title>2016年里约奥运会_全球体育网</title>
    </block>
    <link rel="shortcut icon" href="__PUBLIC__/Home/images/icon/16X16.ico">
    <!-- jquery -->
    <script type="text/javascript" src="__JS__/jquery-1.11.1.min.js"></script> 

    <!-- 引入公共样式 -->
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css"> 
    <link rel="stylesheet" type="text/css" href="__CSS__/Olympic/base.css"> 
    <link rel="stylesheet" type="text/css" href="__CSS__/Olympic/common.css"> 
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="__CSS__/euro/swiper.css">
    <!-- 自适应 计算html font-size -->
    <script type="text/javascript" src="__JS__/Olympic/htmlwidth.js"></script>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?0452415b61a2145478f9493dac7e2a81";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript" src="__PUBLIC__/Home/backend_js/common/cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="__CSS__/Olympic/index.css"> 
</head>
<block name="body"><body></block>
{//附加}
<block name="append"></block>
{//头部}
<block name="header">
    <include file="Public/Olympic/banner"/>
</block>
{//导航}
<block name="nav">
    <include file="Public/Olympic/nav"/>
</block>
{//主内容区域}
<block name="content"></block>
<block name="scripts"></block>
</body>
</html>