<div class="pageContent">

    <form method="post" action="__URL__/save_phone" class="pageForm required-validate"
          onsubmit="return validateCallback(this, dialogAjaxDone)">
        <div class="pageFormContent" layoutH="58">

            <div class="unit">
                <label>称呼：</label>
                <input type="text" class="required" name="name" rangelength="1,10" value="{$vo.name}" placeholder="称呼" size="40">
            </div>
            <div class="unit">
                <label>手机号：</label>
                <input type="number" class="required" name="mobile" rangelength="1,11" value="{$vo.mobile}" placeholder="手机号" size="11">
            </div>
            <div class="unit">
                <label>备注：</label>
                <input type="text" class="required" name="remark" rangelength="1,10" value="{$vo.remark}" placeholder="备注" size="40">
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>

</div>



