/**
 * 全彩个人中心css样式文件
 * 
 * @author Weiqianiqian <245017279@qq.com>
 * @since  2015-11-23
**/
/* 修改密码 */
.reset-con .form .form-in{ margin-bottom: 20px; font-size: 12px; margin-top: 20px;}
.reset-con .form .form-in input{font-size: 12px;}
.reset-con .form label{ display: inline;}
.reset-con .form .checkbox label{ font-size: 12px; color: #999;}
.reset-con .form .input-name{ width:150px; text-align: right; height: 34px; line-height: 34px; font-size: 16px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.reset-con .form #txtUserName,.form #txtPassword,.form #pwdOk{ width: 220px;}
.reset-con .form #txtUserName,.form #txtPassword,.form #pwdOk{ width: 220px;}
.noitice{ height: 500px; background: url(../../images/userInfo/draw-bg.png) no-repeat right center; padding: 100px 0 020px;}
.noitice-left{ width: 364px; height: 220px; background: url(../../images/userInfo/noitice-bg.png) no-repeat; text-align: center; padding: 60px 0 0 0; font-size: 16px;}
.noitice-left span{ margin: 0 5px;}
.noitice-left a{ text-decoration: underline!important; color: #eb0000;}
.reanks-con .btn{ width: 86px; padding: 6px;}
.msg-input{width: 136px !important;}
