/**
 * 全彩个人中心css样式文件
 * 
 * @author Chensiren <245017279@qq.com>
 * @since  2015-11-23
**/

/* 充值记录 */
.recharge-record-list .table .table-header th{ text-align: center; background: #f7f7f7;}
.recharge-record-list .table .one{ text-align: center; background: #fff;}
.recharge-record-list .table .two{ text-align: center; background: #f7f7f7;}
.recharge-record-list .table .begin-time em{ margin-left: 10px;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td { border: 1px solid #fff;}

