<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta charset="UTF-8">
        <title>欧洲杯推荐活动_全球体育手机网最全即时比分与赛事直播网站</title>
        <meta name="description" content="全球体育手机网与ETC车宝强强联手,为足球爱好者提供欧洲杯推荐游戏，让各位懂球帝和球探们提供即时比分与有奖推荐。">
        <!-- jquery -->
        <script type="text/javascript" src="__JS__/jquery-1.11.1.min.js"></script> 

        <!-- 引入公共样式 -->
        <link rel="shortcut icon" href="favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="__CSS__/base.css"> 
        <link rel="stylesheet" type="text/css" href="__CSS__/common.css"> 
        <!-- 自适应 计算html font-size -->
        <script type="text/javascript" src="__JS__/htmlwidth.js"></script>
        <!-- 公共js -->
        <script type="text/javascript" src="__JS__/etc/common.js"></script>
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?0452415b61a2145478f9493dac7e2a81";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?ec571614106cd4b8b44db098571651fe";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>

        <!-- 本页需要引用的css -->
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="__CSS__/euro/swiper.css"> 
        <link rel="stylesheet" href="__CSS__/etc/etc_common.css"> 
        <script type="text/javascript" src="__PUBLIC__/Api/Home/picDetail/js/panDuan.js"></script>
    </head>