<extend name="Public/base" />
<block name='append'>
    <!-- 本页需要引用的css -->
    <link rel="stylesheet" href="__CSS__/guess.css?v=20180612">
    <link rel="stylesheet" href="__CSS__/user/user_index.css?v=20180612">

    <style>
        .n_top .n_top_left em{
            margin-top:0;
        }
        .n_top{
            height:1.1rem;}
        .win,.win_half,.lose,.lose_half,.ping,.putoff,.pending,.cancel,.interrupt,.cut{top: 2.1rem;}
    </style>
    <script>
        var DOMAIN="m."+"__DOMAIN__";
    </script>
</block>
<block name='header'>
    <header id="other_header">
    <a href="{:U('User/index')}"></a>
    {$title}
</header>
</block>

<!-- nav s-->
<block name='nav'>
    <section class="n_module">
        <ul class="nav_list clearfix nav_list02">
            <li><a href="{:U('User/fcous_dt')}" class="on">动态</a></li>
            <li><a href="{:U('User/fcous_user')}">用户</a> </li>
        </ul>
    </section>
</block>
<!-- nav e -->


<!-- 内容 s-->
<block name='content'>
    <section class="myFcous_dt">
        <div class="new_tj com_dt clearfix">
            <ul id="js-list"><volist name='list' id='v'>

                <li class="list">
                    <a href="{:U('/expUser/'.$v['user_id'].'/'.$v['play_type'])}">
                        <div class="n_top clearfix">
                            <div class="n_top_left">

                                <img class="lazy" data-original="{$v['head']}"
                                     src="__IMAGES__/index/headImg.png" alt="{$v.nick_name}">
                                <div class="ntl_main fl">
                                    <div class="ntl_name">{$v.nick_name} <em class="ya_text">
                                        <if condition="$v.play_type eq '1' OR $v.play_type eq '-1' "> 亚
                                            <else/>
                                            竞
                                        </if>
                                        :<i>LV<if condition="$v.play_type eq '1' OR $v.play_type eq '-1' ">{$v.lv}<else/>{$v.lv_bet}</if> </i></em>
                                    </div>
                                    <div class="ntl_per"><em>周胜: {$v['weekPercnet']}%</em>
                                        <if condition="$v['curr_victs'] gt '1'"><em>{$v['curr_victs']}连胜</em></if>
                                    </div>
                                </div>
                            </div>
                            <div class="n_top_right">
                                <if condition="$v['tenGambleRate'] gt '5'">
                                    <img src="__IMAGES__/index/ic_{$v['tenGambleRate']}.png" alt="">
                                </if>
                            </div>
                        </div>

                        <div class="p_1">
                            <div class="t_vs">
                                <if condition="$v.play_type eq '2' OR $v.play_type eq '-2'">
                                    <em>{$v['bet_code']} </em></if>
                                <em style="color: {$v.union_color}">{$v.union_name}</em>
                                <em>{$v['gDate']}</em>
                            </div>
                            <div class="etip">
                                <if condition="$v['desc'] neq '' and $v['is_trade'] eq '1'">
                                    <span><img src="__IMAGES__/guess/fenxi.png" alt="分析"></span>
                                </if>
                                <if condition="$v['tradeCoin'] gt 0 and $v['is_trade'] eq '1'">
                                    <span class="coins">{$v['tradeCoin']}</span>
                                </if>
                                <if condition="$v['tradeCoin'] eq 0 and $v['is_trade'] eq '1'">
                                    <span><img src="__IMAGES__/guess/free.png" alt="免费"></span>
                                </if>
                            </div>
                        </div>
                        <p class="p_2">
                            {$v.home_team_name}
                            <if condition="$v.result eq 0">
                                VS
                                <else/>
                                <strong style="color: red">{$v.score|str_replace='-','：',###}</strong>
                            </if>
                            {$v.away_team_name}
                        </p>
                        <p class="p_3">玩法：<span>
                                    <if condition="$v.play_type eq '1'">让球</if>
                                    <if condition="$v.play_type eq '-1'">大小球</if>
                                    <if condition="$v.play_type eq '2' OR $v.play_type eq '-2'">竞彩</if>
                                </span>
                        </p>
                    </a>
                    <if condition="$v['is_trade'] eq '1'">

                        <if condition="$v.play_type eq '1' OR $v.play_type eq '-1' ">
                            <p class="p_4">推荐：<span>{$v.Answer} {$v.handcp} </span><em>（{$v.odds}）</em></p>
                        </if>
                        <if condition="$v.play_type eq '2' OR $v.play_type eq '-2' ">
                            <p class="p_4">推荐：<span>{$v.home_team_name} ({$v.handcp}) {$v.Answer} </span><em>（{$v.odds}）</em>
                            </p>
                        </if>

                        <p class="p_5 q-two">分析：<span>{$v.desc|default='暂无分析'}</span></p>
                        <!--各种样式: 赢:win 赢半:win_half 输:lose 输半:lose_half 平:ping -->
                        <if condition="$v['result'] eq '1' OR $v['result'] eq '0.5'"><div class="win"></div></if>
                        <if condition="$v['result'] eq '-1' OR $v['result'] eq '-0.5'"><div class="lose"></div></if>
                        <if condition="$v['result'] eq '2' "><div class="ping"></div></if>
                        <if condition="$v['result'] eq '-10' "><div class="cancel"></div></if>
                        <if condition="$v['result'] eq '-11' "><div class="pending"></div></if>
                        <if condition="$v['result'] eq '-12' "><div class="cut"></div></if>
                        <if condition="$v['result'] eq '-13' "><div class="interrupt"></div></if>
                        <if condition="$v['result'] eq '-14' "><div class="putoff"></div></if>
                        <else/>

                        <a href="javascript:;" data-play="{$v['play_type']}"
                           onclick="payment(this,{$v.gamble_id},{$v.tradeCoin},5555)">
                            <if condition="$v.tradeCoin eq 0">
                                <div class="gold bg_green">免费</div>
                                <else/>
                                <div class="gold">{$v.tradeCoin}金币</div>
                            </if>
                        </a>
                    </if>
                </li>
                <!--
                    <li class="list">
                        <div class="n_top clearfix">
                            <div class="n_top_left">
                                <a href="{:U('Guess/other_page',['user_id'=>$v['user_id'],'type'=>$v['play_type']])}">

                                    <img  class="lazy" data-original="{$v['head']}" src="__IMAGES__/index/headImg.png"   alt="{$v.nick_name}">
                                    <span>{$v.nick_name}</span>
                                    <if condition="$v.play_type eq '1' OR $v.play_type eq '-1' ">
                                        <em class="lv lv{$v.lv}"></em>
                                        <else/>
                                        <em class="lv jc_lv{$v.lv_bet}"></em>
                                    </if>
                                </a>
                            </div>
                            <div class="n_top_right">
                                <em class="zhous">周胜: {$v.weekPercnet}%</em>
                                <gt name="$v.tenGambleRate" value="50"><em class="mingz">近10中{$v['tenGambleRate']}</em></gt>
                                <<gt name="item.curr_victs" value="1"><em class="lians">{$item.curr_victs}连胜</em></gt>
                            </div>
                        </div>

                        <div class="p_1">
                            <div class="t_vs">
                                <if condition="$v.play_type eq '2' OR $v.play_type eq '-2'"><em>{$v['bet_code']} </em></if>
                                <em style="color: {$v.union_color}">{$v.union_name}</em>
                                {$v.home_team_name}
                                <if condition="$v.result eq 0">
                                    VS
                                    <else/>
                                    <strong style="color: red">{$v.score|str_replace='-','：',###}</strong>
                                </if>
                                {$v.away_team_name}
                            </div>
                            <div class="etip">
                                <if condition="$v['desc'] neq ''">
                                    <span><img src="__IMAGES__/guess/fenxi.png" alt="分析"></span>
                                </if>
                                <if condition="($v['is_trade'] eq '1' and $v['tradeCoin'] gt 0) or ($v['result'] neq 0 and $v['tradeCoin'] gt 0)">
                                    <span class="coins">{$v['tradeCoin']}</span>
                                </if>
                                <if condition="($v['is_trade'] eq 1 and $v['tradeCoin'] eq 0) or ($v['result'] neq 0 and $v['tradeCoin'] eq 0)">
                                    <span><img src="__IMAGES__/guess/free.png" alt="免费"></span>
                                </if>
                            </div>
                        </div>
                        <p class="p_2">{$v.gdate}  {$v.game_time}</p>
                        <p class="p_3">玩法：<span>
                            <if condition="$v.play_type eq '1'">让球</if>
                            <if condition="$v.play_type eq '-1'">大小球</if>
                            <if condition="$v.play_type eq '2' OR $v.play_type eq '-2'">竞彩</if>
                        </span>
                        </p>
                        <if condition="$v['is_trade'] eq 1 or $v['user_id'] eq is_login() or $v['result'] neq 0">
                            <switch name="$v.result">
                                <case value="1"><div class="win"></div></case>
                                <case value="0.5"><div class="win_half"></div></case>
                                <case value="2"><div class="ping"></div></case>
                                <case value="-1"><div class="lose"></div></case>
                                <case value="-0.5"><div class="lose_half"></div></case>
                            </switch>
                            <if condition="$v.play_type eq '1' OR $v.play_type eq '-1' ">
                                <p class="p_4">推荐：<span>{$v.Answer} {$v.handcp} </span><em>（{$v.odds}）</em></p>
                            </if>
                            <if condition="$v.play_type eq '2' OR $v.play_type eq '-2' ">
                                <p class="p_4">推荐：<span>{$v.home_team_name} ({$v.handcp}) {$v.Answer} </span><em>（{$v.odds}）</em></p>
                            </if>

                            <p class="p_5 q-two">分析：<span>{$v.desc|default='暂无分析'}</span></p>
                            <else/>
                            <a href="javascript:;" data-play="{$v['play_type']}" onclick="payment(this,{$v.gamble_id},{$v.tradeCoin})">
                                <if condition="$v.tradeCoin eq 0">
                                    <div class="gold bg_green">免费</div>
                                    <else/>
                                    <div class="gold">{$v.tradeCoin}金币</div>
                                </if>
                            </a>
                        </if>
                    </li>
                    -->
                </volist></ul>
                <div id="emptyData" class="paged boxs" style="display:none;">
            <div class="load_gif fs24 text-999 bg-photos">
                <span class="attention">暂无数据！</span>
                <a class="butt" href="{:U('/Guess/rank')}">马上关注！</a>
            </div>
        </div>
        </div>
        
        <div class="bubbleTips"></div>

        <div id="loadMore" class="paged boxs" style="display: block;">
            <div class="load_gif fs24 text-999">
                <span><img src="__PUBLIC__/Mobile/images/load.gif"></span>
                <span>正在加载更多的数据...</span>
            </div>
        </div>

        <div id="showLess" class="paged boxs" style="display:none;">
            <div class="load_gif fs24 text-999">
                <span>已经全部加载完毕</span>
            </div>
        </div>
        
    </section>

    <div id="dailogFixBox" class="fixBox" style="display: none">
        <div class="fixBoxIn clearfix">
            <div class="tip" style="line-height: 0.8rem; "><span id="dailogContent" ></span></div>
            <a id="yesDailog" href="javascript:;" class="tip_btn fs30" style="width: 100%;">确定</a>
        </div>
    </div>
    <input value="1" name="page" id="page"type="hidden">
</block>
<!-- 内容 e -->
<block name="scripts">
    <script type="text/javascript">
        var DOMAIN = "m."+"__DOMAIN__";
        var IMAGES = "__IMAGES__";
    </script>
    <script type="text/javascript" src="__JS__/fcous_dt.js"></script>
    <script src="__JS__/common/trade.js"></script>
    <script type="text/javascript">

        //头像懒加载
        function lazyload(){
            $("img.lazy").lazyload({
                effect: "fadeIn",
                threshold : 10,
                failurelimit:10
            });
        }

        $(function () {
            //头像懒加载
            lazyload();

        });


    </script>

</block>
