<extend name="Public/base" />
<block name="append">
    <!-- 本页需要引用的css -->
    <link rel="stylesheet" href="__CSS__/login/login.css?v=20180602">
    <script type="text/javascript" src="__JS__/user/register.js"></script>
</block>
<block name="header">
    <!-- 二级头部 s -->
<include file="Public/header_inside"/>
    <!-- 二级头部 e -->
</block>

<block name="nav">
    <section class="n_module">
        <ul class="nav_list clearfix nav_list02">
            <li><a href="{:U('User/login')}" class="on">登录</a></li>
            <li><a href="{:U('User/register')}">注册</a></li>
        </ul>
    </section>
</block>
<block name="content">
   <div class="login_panel">
    	<form id="login-form" action="" method="post">
            <div class="login-container">
                <div class="inputbox inputUser" id="account-box">
                    <div class="u-input">
                        <label class="u-label ne_user"></label>
                        <input name="username" class="dlemail" type="text" id="mobile" placeholder="请输入手机号" autocomplete="off">
                        <a href="javascript:;" class="ne_close"></a>
                    </div>
                </div>
                <div class="inputbox">
                    <div class="u-input">
                        <label class="u-label ne_passwd"></label>
                        <input name="password" class="dlpwd" type="password" id="password" placeholder="请输入您的密码">
                    </div>
                </div>
            </div>
            <div class="loginbox clearfix">
                <a href='javascript:;' id="dologin">登&nbsp;&nbsp;录</a>
                <div class="green forget"><a href="{:U('User/find_pwd')}">忘记密码</a></div> 
                <!-- <div class="green fl"><a href="{:U('User/register')}">立即注册</a></div>
                <div class="green fr"><a href="{:U('User/find_pwd')}">忘记密码</a></div> -->
            </div>
            <div class="v_title"><span>其他方式登录</span></div>
            <div class="login_versions">
                <div class="icon_weibo version ios_touch" data-version="v_standard">
                    <div class="v_icon"></div>
                </div>
                <div class="icon_wx version ios_touch" data-version="v_simple">
                    <div class="v_icon"></div>
                </div>
                <div class="icon_qq version ios_touch" data-version="v_pc">
                    <div class="v_icon"></div>
                </div>
            </div>
        </form>
    </div>
    <div id="dailogFixBox" class="fixBox" style="display: none">
        <div class="fixBoxIn clearfix">
            <div class="tip" style="line-height: 0.8rem; "><span id="dailogContent" ></span></div>
            <a id="yesDailog" href="javascript:;" class="tip_btn fs30" style="width: 100%;">确定</a>
        </div>
    </div>
    </block>
<block name='scripts'>
    <script>
        $(function(){


            $('#yesDailog').on('click',function () {
                $('#dailogFixBox').css('display','none');
            });

            $('#dologin').click(function(){
               var mobile=$('#mobile').val();
               var pwd=$('#password').val();
               if(mobile==''){
                   $('#dailogContent').html('请输入手机号码！');
                   $('#dailogFixBox').css('display','block');
                   return false;
               }
               if(!isPwd(pwd)){
                   $('#dailogContent').html('请输入6~16位的密码！');
                   $('#dailogFixBox').css('display','block');
                   return false;
               }
               $.post('/User/dologin',{mobile:mobile,pwd:pwd}, function (data) {
                    if (data.status === 1) {
                        window.location.href = data.url;
                    }else{
                        $('#dailogContent').html(data.info);
                        $('#dailogFixBox').css('display','block');
                    }
                }, 'json');
                return false;
            });
        })
    </script>
</block>
<block name="footer">
    <include file="Public/footer_phone"/>
</block>
