<div class="pageContent">
	<form method="post" action="__URL__/save/navTabId/__DWZ__" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this,dialogAjaxDone);" target="callbackframe">
		<div class="pageFormContent" layoutH="58">
			<input type="hidden" value="{$vo.id}" name="id">
			<div class="unit">
				<label>标题：</label>
				<input type="text" class="required" maxlength="24" name="title" value="{$vo.title}" size="60"/>
			</div>
			<div class="unit">
				<label>类型：</label>
				<select name="type" class="required">
					    <option value="">请选择</option>
						<option value="1" <if condition="$vo.type eq '1'">selected</if> >资讯</option>
						<option value="2" <if condition="$vo.type eq '2'">selected</if> >图集</option>
						<!-- <option value="3" <if condition="$vo.type eq '3'">selected</if> >视频</option> -->
						<option value="9" <if condition="$vo.type eq '9'">selected</if> >外链</option>
				</select>
			</div>
			<div class="unit">
				<label>选择分类：</label>
				<select name="class_id" class="required">
						<option value="">请选择</option>
					<volist name="RecommendClass" id="item">
						<option value="{$item.id}" <eq name="item.id" value="$vo.class_id">selected</eq> >{$item.name}</option>
					</volist>
				</select>
			</div>

			<div class="unit">
				<label>模块内容页id：</label>
				<input type="text" class="required" name="url" value="{$vo.url}" size="50"/>
				<span class="inputInfo">（外链请填写全地址）</span>
			</div>
			<div class="unit">
				<label>app是否浏览器播放：</label>
				<input type="radio" name="app_isbrowser" value="0" checked>否
				<input type="radio" name="app_isbrowser" value="1" <if condition="$vo.app_isbrowser eq 1">checked</if>>是
			</div>
			<div class="unit">
				<label>排序：</label>
				<input type="text" class="required" name="sort" value="{$vo.sort}" />
			</div>

			<div class="unit">
			<label>说明：</label>
			<textarea maxlength="255" class="large bLeft" name="remark"  rows="3" cols="50">{$vo.remark}</textarea>
			</div>
			<div class="unit">
				<label>图片：</label>
				<ul class="tabImg">
					<li>
						<input id="viewUploadInput_39" name="fileInput" type="file" onChange="previewImage(39)" style="display:none;" />
						<a href="javascript:void(0);">
							 <span id="viewUploadDiv_39">
								<empty name="vo.titleimg">
									<img src="__PUBLIC__/Home/images/common/add_gray.png" width="80" height="80" id="viewUploadImg_39"/>
								<else/>
									<if condition="pathinfo($vo['titleimg'], PATHINFO_EXTENSION) eq swf">
										<embed width="80" height="80" id="viewUploadImg_39" wmode="opaque" type="application/x-shockwave-flash" src="{$vo.titleimg}">
									<else/>
									    <img id="viewUploadImg_39" width='80' height='80' border=0 src="{$vo.titleimg}">
									</if>
								</empty>
							 </span>
						</a>
						<div id="poiter_39" class="poiter">
							<empty name="vo.titleimg">
								<a title="添加图片" onclick="selectViewUploadImg('#viewUploadInput_39')">添加图片</a>
							<else/>
								<a title="删除" onclick="delPic({$vo.id});">删除</a>|<a title="重传" onclick="selectViewUploadImg('#viewUploadInput_39')">重传</a>
							</empty>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>

</div>
<style type="text/css">
	.tabImg li{float: left;margin-right: 15px;position: relative;border:1px solid #f2f2f2;width:80px;height: 80px;overflow: hidden;cursor: pointer;}
	.poiter a:hover{color:red;}
	.tabImg li div{ position: absolute; left: 0; top:80px; width: 80px;  height: 80px; line-height: 80px; text-align: center; color: #fff; background: rgba(44, 170, 236, 1);font-size:12px;}
	.tabImg li div a{ line-height: 80px;}
</style>
<!--引入本页js-->
<script type="text/javascript" src="__PUBLIC__/Plugs/viewUploadImg.js"></script>
<script>
	$(function(){
		$('.tabImg li').hover(function(e) {
			$(this).children('div').stop().animate({'top':'0'},300);
		},function(){
			$(this).children('div').stop().animate({'top':'80px'},300);
		});
	});
	function delPic(id){
		if(confirm("确认要删除吗？") == false){
			return false;
		}
		//异步执行删除
		$.ajax({
            type: "POST",
            url: "__ADMIN__/Recommend/delPic.html",
            data: {'id':id},
            dataType: "json",
            success: function(data){
                if(data.status){
                	$("#viewUploadInput_39").val("");
					$("#viewUploadImg_39").attr("src","__PUBLIC__/Home/images/common/add_gray.png").attr("style","width:80px;height:80px");
					var str = "<a title='添加图片' onclick=\"selectViewUploadImg('#viewUploadInput_39')\">添加图片</a>";
					$("#poiter_39").html(str);
                    alert("删除成功！");
                }else{
                    alert("删除失败！");
                }
            }
        });
	}
</script>




