/**
 * 数据波动css样式文件
 * 
 * @author Chensiren <245017279@qq.com>
 * @since  2017-08-25
 *
**/
.odd_nav ul li{ width: auto;}
.odd_nav ul li a{ padding: 0 35px;}
.chartMain{ background: #fff; padding: 20px;}
.compList{ margin-left: -6px; margin-right: -6px;}
.compList a{ float: left; margin: 0 6px; padding: 5px 10px; border: 1px solid #e5e5e5; border-radius: 4px; background: #ffffff; transition: all ease-out 0.2s; -moz-transition: all ease-out 0.2s; -webkit-transition: all ease-out 0.2s; -ms-transition: all ease-out 0.2s; -o-transition: all ease-out 0.2s;}
.compList a.on,.compList a:hover{ background: #3f697e; border-color: #3f697e; color: #ffffff;}
.chartTopCon{ width: 100%; height: 450px;}
.changeTitle{ font-size: 16px; color: #3f697f; padding: 8px 0;}
.changeLeft{ width: 532px;}
.changeRight{ width: 572px;}
.changeSize,.changeEur,.changeSub{ width: 380px;}
.changeSize { margin: 0 10px;}
.changeSize .title,.changeEur .title,.changeSub .title{ height: 40px; line-height: 40px; text-align: center; font-size: 16px; color: #3f697f;}
.changeEur .title,.changeSub .title{ background: #f9f6ef;}
.changeSize .title{ background: #d8edf1;}
.pkSign li{ margin-left: 15px;}
.pkSign .pSign{ padding: 3px 8px; color: #ffffff; font-size: 12px; border-radius: 4px;}
.pSign-green{ background: #36c889;}
.pSign-red{ background: #fd514d;}
.pSign-purple{ background: #6f79be;}
.expandBox{ position: relative; height: 20px; background: #ffffff; max-width: 258px;}
.expandIn{ position: absolute; left:0; top: 0; height: 20px;}
.expandIn em{ position: absolute; right: -38px;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{padding:6px 2px;}
.changeTitle .matchName {padding: 5px 10px;color: #ffffff;margin: 0 10px;}
.matchTime {color: #999;padding-right: 10px;}