<extend name="Public/base" />
<block name="seo">
    <title>全球体育手机网</title>
</block>
<block name="append">
    <!-- 本页需要引用的css -->
    <link rel="stylesheet" href="__CSS__/activity/guess_game.css?d=20170615">
</block>
<!DOCTYPE html>
<html lang="en">
<body>

<block name="header">
    <header id="other_header" class="header_fixed">
        <a href="{:U('Activity/gamble')}"></a>
        <span>推荐记录</span>
    </header>
</block>
<block name="nav">
</block>
<block name="content">

    <notempty name="list">
        <section class="guess_history" style="margin-top: .89rem">

            <ul>

                <volist name="list" id="vo">
                    <li>
                        <a href="{:U('Activity/gambleDetails',['activityId'=>$vo['id']])}">
                            <div class="gh_title clearfix">
                                <div class="ght_head fl"><img src="{$vo['face']}" alt="头像">{$vo['nick_name']}</div>
                                <time class="ght_time fr">{$vo['add_time']}</time>
                            </div>
                            <div class="gh_con">
                                您参加了全球体育“{$vo['single_title']}”免费推荐，您的推荐选项为:{$vo['options']}。获奖名单于活动结束后在全球体育APP以及“全球体育手机网”公众号推文发布。快叫小伙伴一起来“捡”钱吧！
                            </div>
                            <a href="{:U('Activity/gambleDetails',['activityId'=>$vo['id']])}">
                                <div class="gh_link fl">点击查看详情>></div>
                            </a>

                        </a>
                    </li>
                </volist>
            </ul>
        </section>

    <else/>
        <div style="margin-bottom: 3rem;margin-top: 2rem;" class="gg_title"><span></span><em>您没有推荐记录喔，亲！</em><span></span></div>
    </notempty>


</block>


