<extend name="Public:layout"/>
<block name='css'>
    <link rel="stylesheet" href="__CSS__/login/infor.css">
</block>
<block name="content">
    <include file="Public:top_user"/>
    <div class="home">
        <!-- 注册表单内容开始 -->
        <div class="form-main">
            <div class="form-nav">
                <ul class="clearfix">
                    <li class="li1">输入手机号</li>
                    <li class="ml li2 cur2">输入新密码</li>
                    <li class="ml li3">成功找回密码</li>
                </ul>
            </div>
            <div class="form-con">
                <div class="con clearfix">
                    <div class="pull-left form">
                        <form  action="#" autocomplete="on">
                            <div class="form-in clearfix">
                                <div class="pull-left input-name">设置新密码：</div>
                                <div class="pull-left input-con">
                                    <input type="password" class="hidden"/>
                                    <if condition="$_REQUEST.operation eq 'backDrawPass' or $operation eq  'backDrawPass'">
                                        <input id="txtPassword" class="form-control digits"  name="password" type="password" placeholder="请输入密码"/>
                                    <else/>
                                        <input id="txtPassword" class="form-control checkpass" maxlength="15" name="password" type="password" placeholder="输入6-15位数字或者字母"/>
                                    </if>
                                </div>
                            </div>
                            <div class="form-in clearfix">
                                <div class="pull-left input-name">确认新密码：</div>
                                <div class="pull-left input-con">
                                    <input id="pwdOk" class="form-control checkpass" maxlength="15" name="repassword" type="password" placeholder="请确认密码"/>
                                </div>
                            </div>
                            <div class="reg-btn clearfix form-in">
                                <input type="submit" class="btn btn-orange pull-right" value="下一步" />
                            </div>
                            <if condition="$_REQUEST.operation eq 'backDrawPass' ">
                                <input type="hidden" name="operation" value="{$_REQUEST.operation}" >
                            <else/>
                                <if condition="$operation eq  'backDrawPass'">
                                    <input type="hidden" name="operation" value="{$operation}" >
                                </if>
                            </if>
                        </form>
                    </div>
                    <div class="pull-right clearfix">
                        <div class="ew-ma"><img src="__IMAGES__/login/ew-ma.jpg" width="264" height="264"></div>
                        <div class="ew-nioce">
                            <p>扫二维码，下载全彩球讯app<br/>随时获取最新信息！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 注册表单内容结束 -->
    </div>
</block>
<block name="js">
    <script>
        var operation = "{$Think.get.operation}";//判断是找回登录密码操作还是找回提款密码操作
        var ass_operation = '{$operation}';//判断是找回登录密码操作还是找回提款密码操作
        if (operation == '' || operation == null) {
            if (ass_operation == '' || ass_operation == null) {
                var pass_min = 6;
                var pass_max = 15;
                var pass_min_prompt = "密码由6-15位数字或者字母组成";
                var pass_max_prompt = "密码由6-15位数字或者字母组成";
                var checkpass = 'required';


            }else {
                var pass_min = 6;
                var pass_max = 6;
                var pass_min_prompt = "提款密码由6位数字组成";
                var pass_max_prompt = "提款密码由6位数字组成";
            }
        }else {
            var pass_min = 6;
            var pass_max = 6;
            var pass_min_prompt = "提款密码由6位数字组成";
            var pass_max_prompt = "提款密码由6位数字组成";
        }

        $(function(){
            $("form").validate({
                onkeyuo:false,
                rules: {
                   password: {
                    required: true,
                    minlength:pass_min,
                    maxlength:pass_max,
                   },
                   repassword: {
                    required: true,
                    equalTo: "#txtPassword"
                   }
                  },
                    messages: {
                        password: {
                        required: "请输入6-15位数字或者字母",
                        minlength:pass_min_prompt,
                        maxlength:pass_max_prompt,
                       },
                       repassword: {
                        required: "请输入确认密码",
                        equalTo: "两次密码输入不一致"
                       },
                  },
                submitHandler:function(form){
                    var form = $(form);
                    var data = form.serialize();
                    $.ajax({
                        type: "POST",
                        url: "/User/new_password.html",
                        data: data,
                        success: function(data){
                            if(data.status){
                                window.location.href="/User/recovered.html?operation="+operation;
                            }else{
                                showMsg(data.info);
                            }
                        }
                    });
                }
            })
        })
    </script>
</block>