<div class="pageContent">
    <form method="post" action="__URL__/host" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <input type="hidden" name="id" value="{$vo.id}" />
        <input type="hidden" name="user_id" value="{$vo.user_id}" />
        <div class="pageFormContent" layoutH="58">
            
            <div class="unit" style="margin-left: 30px;">
                请输入成为热帖所需要的回帖数：
            </div>
            <div class="unit" style="margin-left: 30px;">
                <input name="community" class="digits" type="text"  size="40" value="{$data.hotPostNum}" />
            </div>

        </div>
        <div class="formBar">
            <ul>
                <notempty name='vo'>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <else/>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">添加</button></div></div></li>
                </notempty>


                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>

