  <section class="n_module">
    <nav class="nav_list nav_list02 clearfix">
        <a href="{:U('detail_action/'.$_GET['scheid'].'@bf')}" <eq name="nav" value="event">class="on"</eq>>事件</a>
<!--        <a href="#" <eq name="nav" value="info">class="on"</eq>>资讯</a>-->
        <a href="{:U('analysis/'.$_GET['scheid'].'@bf')}" <eq name="Think.ACTION_NAME" value="data">class="on"</eq>>数据</a>
        <a href="{:U('odds_asia/'.$_GET['scheid'].'@bf')}" <eq name="nav" value="odds">class="on"</eq>>赔率</a>
<!--        <a href="{:U('FbData/odd_guess',array('scheid'=>$_GET['scheid']))}">推荐</a>-->
      </nav>
  </section> 