<extend name="Public:layout"/>
<block name="seo">
    <title>商务合作_全球体育网qqty.com</title>
    <meta name="keywords" content="商务合作"/>
    <meta name="description" content="全球体育是最好的体育新闻网站、如需商务合作，请与我们取得联系。"/>
</block>
<block name="css">
    <link rel="stylesheet" href="__CSS__/copyright/cooperate.css">
</block>
<block name="content">
    <include file="Public:top_about"/>
	<div class="body">

        <!-- 主体内容开始 -->
        <div class="home clearfix">
            <section class="main clearfix">
            	<h2><img src="__IMAGES__/copyright/title02.png"></h2>
                <div class="cooperate">
                	<div>（服务时间：9:30～12:30、13:40～18:30）</div>
                    <ul class="coo-ul">
                        <li class="coo-ul-li" style="margin-left: 42%;width: auto;">
                        	<div class="myPhoto">
                            	<img src="__IMAGES__/copyright/Partner2.jpg" width="160" height="205" class="zc">
                            </div>
                            <div class="par">
                            	<ul>
                            		<li class="clearfix">
                                   		<span class="pull-left left">广告合作：</span>
                                        <span class="pull-left right">何先生</span>
                                    </li>
                                    <li class="clearfix">
                                   		<span class="pull-left left">QQ：</span>
                                        <span class="pull-left right"><a href="tencent://message/?uin=2243444136">点击交谈</a></span>
                                    </li>
                                    <li class="clearfix">
                                   		<span class="pull-left left">电  话：</span>
                                        <span class="pull-left right">020-39287222</span>
                                    </li>
                            	</ul>
                            </div>
                        </li>
                    </ul>
                </div>
          	</section>
        </div>
        <!-- 主体内容开始 -->
    </div>
</block>
