<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta charset="UTF-8">
    <title>全球体育网</title>
    <!-- jquery -->
    <script type="text/javascript" src="__PUBLIC__/Api/js/jquery-1.11.1.min.js"></script>

    <!-- 引入公共样式 -->
    <link rel="shortcut icon" href="__PUBLIC__/Api/expert/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Api/css/common/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Api/css/common/common.css">
    <!-- 自适应 计算html font-size -->
    <script type="text/javascript" src="__PUBLIC__/Api/js/htmlwidth.js"></script>
    <!-- 公共js -->
    <script type="text/javascript" src="__PUBLIC__/Api/js/common.js"></script>

</head>

<body>
    <!-- 本页需要引用的css -->
    <link rel="stylesheet" href="__PUBLIC__/Api/expert/css/exp/expAgree.css">
    
	<!-- 二级头部 s -->
    <!--<header id="other_header">-->
    	<!--<a href="javascript:;"></a>专家号申请成功 -->
    <!--</header>-->
    <!-- 二级头部 e -->


    <div class="tickTrue">
        <em><span class="fs32">申请成功</span><span class="fs22 text-999">恭喜你成为全球体育专家</span></em>
    </div>
    <div class="proTitle">如何发布专家推荐步骤流程</div>
    <ul class="proUl">
    	<li>
        	<div class="flexCon">
            	<div class="flexItem flexItem01">用浏览器在地址栏中输入www.qqty.com地址，访问全球体育网站，使用全球体育帐号登录全球体育</div>
            	<div class="flexItem flexItem02"><img src="__PUBLIC__/Api/expert/images/exp/li01.jpg"></div>
            </div>
            <span class="angle"><em>1</em></span>
        </li>
        <li>
        	<div class="flexCon">
            	<div class="flexItem flexItem01">在首页的顶部功能栏中，点击用户名进入个人中心选择--专家管理栏目中的”发布文章”子栏目进行资讯或赛事推荐编写</div>
            	<div class="flexItem flexItem02"><img src="__PUBLIC__/Api/expert/images/exp/li02.jpg" style="width: 1.5rem;"></div>
            </div>
            <span class="angle"><em>2</em></span>
        </li>
        <li>
        	<div class="flexCon">
            	<div class="flexItem flexItem01">在发布文章的表格中,当不选择比赛赛程时视为头条资讯文章显示,当选择推荐比赛时将视为专家独家推荐.
</div>
            	<div class="flexItem flexItem02"><img src="__PUBLIC__/Api/expert/images/exp/li03.jpg"></div>
            </div>
            <span class="angle"><em>3</em></span>
        </li>
    </ul>
</body>
</html>