<div class="pageContent">
	<form method="post" action="__URL__/save/navTabId/__DWZ__" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this,dialogAjaxDone);" target="callbackframe">
		<div class="pageFormContent" layoutH="58">
			<input type="hidden" value="{$vo.id}" name="id">
			<div class="unit">
				<label>会员手机号：</label>
				<input type="text" class="required"  name="username" value="{$vo.username}" size="50"/>
			</div>

		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>

</div>
<style type="text/css">
	.tabImg li{float: left;margin-right: 15px;position: relative;border:1px solid #f2f2f2;width:80px;height: 80px;overflow: hidden;cursor: pointer;}
	.poiter a:hover{color:red;}
	.tabImg li div{ position: absolute; left: 0; top:80px; width: 80px;  height: 80px; line-height: 80px; text-align: center; color: #fff; background: rgba(44, 170, 236, 1);font-size:12px;}
	.tabImg li div a{ line-height: 80px;}
</style>
<!--引入本页js-->
<script>
	$(function(){
		$('.tabImg li').hover(function(e) {
			$(this).children('div').stop().animate({'top':'0'},300);
		},function(){
			$(this).children('div').stop().animate({'top':'80px'},300);
		});
        var module_type = $('#module_type').val();
        if(module_type == '10'){
            $("#grzx").css('display','block');
        }
	});
</script>




