<div class="pageContent">
	<form method="post" action="__URL__/save" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="id" value="{$vo.id}" />
		<input type="hidden" name="level" value="{$vo.level|default=1}" id="level"/>
		<div class="pageFormContent" layoutH="58">

			<div class="unit">
				<label>分类名称：</label>
				<input type="text" class="required" name="name" value="{$vo.name}">
			</div>
			<div class="unit">
				<label>上级：</label>
				<input type="hidden" name="first1" val="">
				<input type="hidden" name="second1" val="">
				<input type="hidden" name="third1" val="">
				<include file="PublishList:linkage1"/>
			</div>
			<div class="unit">
				<label>二级域名：</label>
				<input type="text" class="" name="domain" value="{$vo.domain}">
			</div>
			<div class="unit">
				<label>二级目录：</label>
				<input type="text" class="" name="path" value="{$vo.path}">
			</div>
			<div class="unit">
				<label>状态：</label>
				<select class="small bLeft"  name="status">
					<option <eq name="vo.status" value="1" >selected</eq> value="1">启用</option>
					<option <eq name="vo.status" value="0" >selected</eq> value="0">禁用</option>
				</select>
			</div>
			<div class="unit">
				<label>是否推荐：</label>
				<input type="radio" name="is_recommend"  value="1" <eq name="vo.is_recommend" value="1">checked</eq> />是
                <input type="radio" name="is_recommend"  value="0" <eq name="vo.is_recommend" value="0">checked</eq> />否
			</div>
			<div class="unit">
				<label>排序：</label>
				<input type="text" class="" name="sort" value="{$vo.sort}">
			</div>
			
			<div class="unit">
				<label>备 注：</label>
				<textarea class=""  name="remark" rows="2" cols="57">{$vo.remark}</textarea>
			</div>

			<div class="unit">
				<label>SEO标题：</label>
				<textarea maxlength="100" class="large bLeft" name="seo_title"  rows="2" cols="59">{$vo.seo_title}</textarea>
			</div>
			<div class="unit">
				<label>SEO关键词：</label>
				<textarea maxlength="120" class="large bLeft" name="seo_keys"  rows="3" cols="59">{$vo.seo_keys}</textarea>
			</div>
			<div class="unit">
				<label>SEO描述：</label>
				<textarea maxlength="150" class="large bLeft" name="seo_desc"  rows="4" cols="59">{$vo.seo_desc}</textarea>
			</div>
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
<script>
	//同步改变level值
	function changeLevel(){
		var vals = $("#pid").val().split("|");
		var level = vals[1];
		$("#level").val(level);
	}
</script>

