<!-- 顶部开始 -->
<div class="top">
    <div class="top-head">
        <div class="top-head-in">
            <div class="top-left pull-left clearfix">
                <span class="dropdown dropdown-top phone">
                    <a class="lnk-phone" href="#">手机版</a>
                    <span class="caret"></span>
                    <ul class="dropdown-menu">
                    	<li class="pull-left ia-wm"><img src="__PUBLIC__/Home/images/index/ia-ewm.png" width="85" height="88"></li>
                        <li class="pull-left ia-load">
                        	<dl>
                            	<dt>全球体育客户端</dt>
                                <dd style="margin-bottom:6px;" class="ios"><a href="https://itunes.apple.com/cn/app/quan-qiu-ti-yu/id1079328958?mt=8" target="_blank;" class="myIcon"></a></dd>
                                <dd class="android"><a href="http://www.__DOMAIN__/Uploads/App/qqty.apk" class="myIcon"></a></dd>
                            </dl>
                        </li>
                    </ul>
                </span>
                <div class="lnk-welcome" title="您好，欢迎来到全球体育">您好，欢迎来到全球体育</div>
            </div>
            <div class="top-right">
                <a class="lnk-user-center" href="http://www.__DOMAIN__/">首页</a>
                <a class="lnk-user-center" onclick="AddFavorite(document.title,window.location)" href="javascript:void(0)">加入收藏</a>
                <a class="lnk-user-center" target="_blank" href="{:U('/help')}">帮助中心</a>
                <!-- <span class="dropdown dropdown-top dropdown-nav">
                    <a href="#" class="nav">网站导航</a>
                    <span class="caret"></span>
                    <ul class="dropdown-menu" >
                        <li class="top-navs-li">
                            <dl class="clearfix">
                                <dt class="pull-left">
                                    <div><img src="__PUBLIC__/Home/images/index/cup.png" width="32" height="31"></div>
                                    <span class="text-green">推荐</span>
                                  </dt>
                                <dd class="pull-left">
                                    <ul class="clearfix">
                                        <li class="pull-left"><a href="http://jc.__DOMAIN__" target="_blank">推荐大厅</a></li>
                                        <li class="pull-left"><a href="{:U('/rank@jc')}" target="_blank">排行榜</a></li>
                                        <li class="pull-left"><a href="{:U('/exchange@jc')}" target="_blank">兑换中心</a></li>
                                        <li class="pull-left"><a href="{:U('/myGamble@jc')}" target="_blank">我的推荐</a></li>
                                        <li class="pull-left"><a href="{:U('/rule@jc')}" target="_blank">推荐规则</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </span> -->
            </div>
        </div>
    </div>
</div>