<script type="text/javascript" src="__JS__/zepto.js"></script> 
<script type="text/javascript" src="__JS__/zepto.extend.js"></script> 
<script type="text/javascript" src="__JS__/zepto.iscroll.js"></script> 
<script type="text/javascript" src="__JS__/zepto.ui.js"></script> 
<link rel="stylesheet" type="text/css" href="__CSS__/navigator/navigator.css"> 
<link rel="stylesheet" type="text/css" href="__CSS__/navigator/navigator.default.css"> 
<link rel="stylesheet" type="text/css" href="__CSS__/navigator/navigator.iscroll.css"> 
<link rel="stylesheet" type="text/css" href="__CSS__/navigator/navigator.iscroll.default.css"> 
<script type="text/javascript" src="__JS__/widget/navigator.js"></script> 
<script type="text/javascript" src="__JS__/widget/navigator.iscroll.js"></script> 