<neq name="_GET['header']" value="no">
<footer id="footer">
    <ul class="version clearfix">
        <li class="customer_button" cust-url="{$liveChatUrl}"><a href="javascript:;" target='_blank' ><span class="touch"></span><p>联系客服</p></a></li>
        <li><a href="javascript:;" target='_blank'><span class="pc"></span><p>电脑版</p></a></li>
        <li><a href="javascript:;" target='_blank'><span class="app"></span><p>APP端</p></a></li>
        <li><a href="javascript:;"><span class="wechat"></span><p>公众号</p></a></li>
    </ul>
    <aside class="copyright clearfix">广东全彩科技有限公司©2015-2017 粤ICP备17118302号-5</aside>
    <aside class="tel clearfix">客服热线：177-2768-9063 </aside>
</footer>
<div id="pop-up"></div>
<div id="hint">
    <div class="global">全球体育公众号</div>
    <div class="seas">
        <h2>在微信右上角添加朋友中搜索公众号“全球体育”点击关注就可以啦</h2>
    </div>
    <a class="bnt" href="javascript:;">我知道啦</a>
</div>
<!-- 底部 -->
    
<block name="append">
</block>
</neq>