<!-- 底部 -->
<footer id="footer">
    <!-- <ul class="version clearfix">
        <li class="on"><a href="javascript:;" target='_blank'><span class="touch"></span><p>触屏版</p></li></a>
        <li><a href="javascript:;" target='_blank'><span class="pc"></span><p>电脑版</p></li></a>
        <li><a href="javascript:;" target='_blank'><span class="app"></span><p>APP端</p></li></a>
        <li><a href="javascript:;" target='_blank'><span class="wechat"></span><p>公众号</p></li></a>
    </ul> -->
    <aside class="copyright clearfix">广东全彩科技有限公司©2015-2017 粤ICP备17118302号-5</aside>
    <aside class="tel clearfix">客服热线：177-2768-9063 </aside>
</footer>
<!-- 底部 -->
<!-- 返回顶部开始 -->
<div class="return-top">
    <a href="#">
        <span class="ft_bg"></span>
        <span>回顶部</span>
    </a>
</div>
<div class="bNav clearfix">
    <a href="{:U('/')}" class="<eq name="footer_nav" value="index">on</eq>">
    <i></i>
    <span>首页</span>
    </a>
    <a href="{:U('Guess/new_put')}" class="<eq name="footer_nav" value="guess">on</eq>">
    <i></i>
    <span>推荐王</span>
    </a>
    <a href="{:U('Intro/index')}" class="<eq name="footer_nav" value="intro">on</eq>">
    <i class=""></i>
    <span>球王</span>
    </a>
    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=cn.qqw.app" class="<eq name="footer_nav" value="h5">on</eq>">
    <i></i>
    <span>下载APP</span>
    </a>
    <a href="<if condition="$is_log == 1">{:U('User/index')}<else/>{:U('User/login')}</if>" class="<eq name="footer_nav" value="user">on</eq>">
    <i></i>
    <span>我的</span>
    </a>
</div>
