/**
 * 公共css样式文件
 * 
 * @author pengjian <710348662@qq.com>
 *
 * @since  2016-04-11
**/

/*头部*/
#header{width: 100%; height: .8rem; background: #01af63;}
#header .logo{float: left;/*padding:.15rem 0 0 .2rem;*/}
#header .logo img{width: 2rem;height: .6rem;}
#header .set_list{float: right;padding: .25rem .2rem 0 0;}
#header .set_list a{float: left;margin-left: .3rem;}
#header .set_list .set{width: .42rem;height: .42rem;}
#header .set_list .list{width: .35rem;height: .35rem;margin-top: .05rem;}
/*头部2.3*/
#header{ padding:.1rem .2rem;}
.returnBack{ height: .6rem; width: .4rem; background: #01af63 url(../images/back.png) no-repeat center center;
    background-size: .22rem auto; margin-right: .2rem;}
.posnal_list{float: right; /*padding: .15rem .2rem 0 0;*/}
.posnal_list a{ float: left; color: #fff; margin-left: .3rem;}
.posnal_list img{ height: .6rem; width: auto;}
.posnal_list .myHead{ height: .6rem; width: .6rem; border-radius: 50%; overflow: hidden;}
.posnal_list .myHead img{height: .6rem; width: .6rem; border-radius: 50%; border: 2px solid #fff;}
.app_text{ display: inline-block; width: .6rem;}
.m_rule{ line-height: .6rem;}
/*内页 - 二级头部*/
#other_header{width: 100%; height: .89rem;line-height: .89rem;text-align: center;color: #fff;font-size: .34rem;background:#01af63 url(../images/back.png) no-repeat .25rem center; background-size: .22rem .4rem; text-indent: -.44rem;z-index: 99999!important;}
#other_header a{width: .6rem;height: 100%;display: block;float: left;}

#posnal_list{float: right;}
#posnal_list a{ color: #fff; width: 1rem; margin-left: 0;  float: inherit;}
#posnal_list span{ display: block; text-align: center;}
/*导航01*/
.cur{
  color: #01af63;
  border-bottom: .1rem solid #01af63;
}

/*导航02*/
.n_module{height: .7rem;line-height: .7rem; background: #f7f7f7; border-bottom: 1px solid #dddddd;}
.nav_list{margin: 0 auto; padding: 0 2%;}
.nav_list a{ width: 17.2%; color: #666666; display: block;float: left; text-align: center;height: .71rem;margin: 0 .05%;}
.nav_list02 a{ width: 22%;}
.nav_list03 a{ width: 30.5%;}
.nav_list04 a{ width: 23%;}
/*.nav_list a:hover{color: #01af63;border-bottom: .1rem solid #01af63;}*/
.nav_list a.on{color: #01af63;border-bottom: .1rem solid #01af63;}

/*时间导航*/
.n_time{background: #ffe4cb; width: 100%}
.nav_time{margin: 0 auto; padding: 0 2%;}
.nav_time a{ width: 14.2%!important; color: #b87027; display: block;float: left; text-align: center; padding: 0.05rem 0; position:relative;margin-right: 0!important}
.nav_time a.on{color: #fff; background: #f1b47b; border-radius: 0.05rem;}
/*.nav_time a.on:before{content: ""; position: absolute; bottom: -0.1rem; border-width: 0.1rem 0.1rem 0;  border-style: solid; display: block; width: 0; left: 50%; margin-left: -0.1rem;  border-color: #f1b47b transparent;}*/

/*底部*/
#footer{width: 100%; height: 2.45rem; background: #f7f7f7;padding-top: .55rem;text-align: center; color: #999999;margin-top: .3rem;float: left;}
#footer .version{height: .5rem; line-height: .5rem}
#footer .version{ text-align: center; }
#footer .version a{color: #01af63;font-size: .28rem}
#footer .version .touch{color: #999}
#footer .copyright{height: .5rem; line-height: .5rem;padding-top: .2rem;font-size: .24rem}
#footer .tel{height: .5rem; line-height: .5rem;padding-top: .2rem;font-size: .24rem}

/*日期选择*/
.day{padding: .05rem 0;width: 100%;position: relative; text-align: center;}
.day .day_sele{width:3.7rem;height: .68rem;line-height: .68rem;font-size: .28rem; border:1px solid #dddddd; border-radius: 5px; padding-left:.2rem; }
.day .today{width: .9rem; height: .68rem; line-height: .68rem; background: #eeeeee; border-radius: 5px; text-align: center;position: absolute;right: .2rem;bottom: .05rem}

/*赔率-球队比分*/
.score{width: 100%;padding:.25rem 0;background: url(../images/score_bg.png) no-repeat left top;background-size: 100% 100%;color: #fff }
.score_main{width: 6rem; margin: 0 auto;}
.s_left{width: 1.9rem;float: left;text-align: center;}
.s_center{width: 2.2rem; padding: 0 .2rem;float: left; text-align: center;}
.s_right{float: right; }
/*border: .08rem solid #eeeeee;*/
.s_left .t_logo{width: 1.8rem; height: 1.8rem; border-radius: 50%; padding: .1rem}
.s_left .t_logo img{width: auto; height: 100%;}
.s_left p{padding-top:.2rem}
.s_center .sc_score{ width: 100%; height: .58rem; background: #4c77c7; color: #fff;font-size: .42rem; border-radius: 5px;font-weight: bold; margin: .4rem 0 .3rem 0;line-height: normal; line-height: .6rem;}
.s_center time,.s_center p{color: #fff;font-size: .24rem}

/* nav - 公司and赛事*/
.subnav{background: #ffe3cb;height: .7rem;border-bottom: 1px solid #dddddd}
.subnav a{width: 50%; text-align: center; float: left; line-height: .7rem;background: url(../images/san.png) no-repeat center center; text-indent: -1rem;background-size: .12rem .08rem; }
.subnav a.on{background: url(../images/san_on.png) no-repeat center center;color: #fe7000;background-size: .12rem .08rem;} 

/*-----------------------------赛事赛选 s---------------------------------*/
/* 赛事赛选 - 级别*/
.subnav_level{ padding: .4rem 0; text-align: center;}
.subnav_level a{ float: left; width: 29.333%; height: 100%; line-height: .7rem; margin: 0 2%; background-color:#ddd;color: #fff;border-top: 2px solid #ddd;border-radius: 5px;}
.subnav_level a.on{background-color:#ffad54;border-bottom: 2px solid #b2793b;border-top: 0;}

/* 赛事赛选 - 列表*/
.subnav_list{width: 100%; text-align: center; /*overflow: hidden; overflow-y: scroll;*/ padding-bottom: 1.5rem;}
.subnav_list a{width: 21%;height: .68rem;line-height: .7rem; margin: 2%; margin-bottom: .22rem;  display: inline-block;  border:1px solid #e5e5e5; text-align: center;background-color: #fff;float: left;}
.subnav_list a.on{border:1px solid #ff7e00;color: #ff7e00;background: url(../images/on.png) no-repeat right bottom; background-size: .24rem .24rem;background-color: #fff}
/*选择*/
.nav_sele{display:none;background: #f7f7f7; height: .9rem; position: fixed; bottom: 0; left: 0; z-index: 10003;width: 100%;padding: 0 2%; line-height: .9rem;}
.nav_sele .ns_l{float: left; width: 21%;}
.nav_sele .ns_l span{color: #ec1010}
.nav_sele .ns_r{float: right;width: 71%; text-align: right;  }
.nav_sele .ns_r a{ padding:0 .15rem; height: .6rem;line-height: .65rem; display: inline-block; background-color: #ff7e00; text-align: center; color: #fff;border-radius: 5px;margin-left: 1%}
.nav_sele .ns_r a:last-child{}

#header{position: relative; z-index: 10000;}
#zhishu_event{ width: 100%; height:100%; display: none; top:.89rem; position: fixed; z-index: 10002; overflow: hidden; overflow-y: scroll;}
/*遮罩层*/
 #maskLayer{ width:100%; height: 100%; background-color:#000000; opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80); position: fixed; top: 0; left: 0;z-index: 1;display: none;}
/*-----------------------------赛事赛选 e---------------------------------*/



/*-----------------------------分页 s---------------------------------*/
.paged{float: left; width: 100%; text-align: center; margin-top: .2rem;}
.paged .load_gif{ height: .3rem;}
.paged .load_gif img { width: .3rem; vertical-align: middle;}
.paged a{ width: 100%; display: inline-block; font-size: .24rem;}
.paged a:hover{color: #fff}

/* 绿色 */
.btn-green {
  color: #ffffff;
  background-color: #2ac782;
  border-color: #2ac782;
}
.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  color: #ffffff;
  background-color: #2db77b;
  border-color: #2db77b;
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-image: none;
}
.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus,
fieldset[disabled] .btn-green.focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
  background-color: #2ac782;
  border-color: #2ac782;
}


.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 .12rem;
  font-size: 14px;
  line-height: 1.42857143;
  /*border-radius: 4px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline:none;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
  outline:none
}
.btn:active,
.btn.active {
  outline: 0 none;
  background-image: none;
  /* -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); */
  /* box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); */
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #fff;
  background-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #bebebe;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}

/*-----------------------------分页 e---------------------------------*/

/*暂无数据*/
.nodata{color: #999;padding:.2rem;}


.nav_num_2 a{margin:0 4%;width: 40%;}
.nav_num_3 a{margin:0 2%;width: 29.3%;}
.nav_num_4 a{width: 24%;}
.nav_num_5 a{width: 19.9%;}
.nav_num_6 a{width: 14.6%;}


/*登录送积分*/
#login_score{ width: 5.12rem; height: 4rem; background: url(../images/login_score.png) no-repeat left top; background-size: 5.12rem 4rem; position: absolute;top:1rem; left: 50%; margin-left: -2.56rem; margin-top: -2.5rem; z-index: 9999  }
#close{width: .6rem; height: .6rem; cursor: pointer;  position: absolute;right: 0; top: .3rem}
#login_score .score{position: absolute;left: 2.1rem; bottom: .5rem; color: #fff;font-size: .46rem}
#login_score .score span{color: #fdf57c;padding-right: .2rem;font-size: .46rem}

/*更多菜单*/
#other_header{position: relative;}
.more_tree{background-color: #00af62; width: 2.7rem; height: auto;position: absolute; top: .89rem;right: .2rem;z-index: 999;border-radius:0 0 .15rem .15rem;}
.more_tree ul li{height: 1rem; line-height: 1.05rem } 
.more_tree ul li a{width: 2.1rem!important;float:none!important; color: #fff;border-bottom: 1px solid #99dfc0;margin:0 auto; text-align: right;padding-right:.1rem}
.more_tree ul li:last-child a{border-bottom: 0}
.more_tree ul li a{background-size:.35rem auto!important;background-position: 5%!important}
.more_tree ul li:nth-child(1) a{background: url(../images/m_guess1.png) no-repeat left center; }
.more_tree ul li:nth-child(2) a{background: url(../images/m_put2.png) no-repeat left center; }
.more_tree ul li:nth-child(3) a{background: url(../images/m_tj3.png) no-repeat left center; }
.more_tree ul li:nth-child(4) a{background: url(../images/m_buy4.png) no-repeat left center; }
.more_tree ul li:nth-child(5) a{background: url(../images/m_gz5.png) no-repeat left center; }
.more_tree ul li:nth-child(6) a{background: url(../images/m_cz6.png) no-repeat left center; }
.top_bg{background: url(../images/m_top.png) no-repeat left top;background-size: 100% auto; width:100%; height: auto;min-height: .4rem; position: absolute;left: 0;top: 0; }


/*最新推荐*/
.new_tj{position: relative;}
.new_tj ul li{padding:.1rem .2rem .12rem .2rem;position: relative; border-bottom: 1px solid #ddd;margin-bottom: .16rem;
    border-top: 1px solid #ddd;}
.new_tj ul li:first-child{border-top: 0}
.new_tj ul li .gold{ width: 1.5rem; height: .54rem; background: #ff7e00; line-height: .54rem; text-align: center; color: #fff;border-radius: .5rem;position: absolute;right: .2rem;top: 1.98rem; }
.new_tj ul li .gold2{ width: 1.5rem; height: .54rem; background: #ff7e00; line-height: .54rem; text-align: center; color: #fff;border-radius: .5rem;position: absolute;right: .2rem;top: 0.9rem; }
/*.new_tj ul li:nth-child(even){background: #f5f5f5}*/
.new_tj ul li .gold a{color: #fff}

.win{ width: .94rem; height: .94rem;position: absolute;right: .2rem;top: 1.2rem; background: url(../images/ic_dyseal_win.png) no-repeat left top; background-size:  .94rem  .94rem;}
.win_half{ width: .94rem; height: .94rem;position: absolute;right: .2rem;top: 1.2rem; background: url(../images/ic_dyseal_win.png) no-repeat left top; background-size:  .94rem  .94rem;}
.lose{ width: .94rem; height: .94rem;position: absolute;right: .2rem;top: 1.2rem; background: url(../images/ic_dyseal_lose.png) no-repeat left top; background-size:  .94rem  .94rem;}
.lose_half{ width: .94rem; height: .94rem;position: absolute;right: .2rem;top: 1.2rem; background: url(../images/ic_dyseal_lose.png) no-repeat left top; background-size:  .94rem  .94rem;}
.ping{ width: .94rem; height: .94rem;position: absolute;right: .2rem;top: 1.2rem; background: url(../images/ic_dyseal_split.png) no-repeat left top; background-size:  .94rem  .94rem;}
/*推迟*/
.putoff{ width: .94rem; height: .94rem;position: absolute;right: .2rem;top: 1.2rem; background: url(../images/ic_dyseal_putoff.png) no-repeat left top; background-size:  .94rem  .94rem;}
/*待定*/
.pending{ width: .94rem; height: .94rem;position: absolute;right: .2rem;top: 1.2rem; background: url(../images/ic_dyseal_pending.png) no-repeat left top; background-size:  .94rem  .94rem;}
/*取消*/
.cancel{ width: .94rem; height: .94rem;position: absolute;right: .2rem;top: 1.2rem; background: url(../images/ic_dyseal_cancel.png) no-repeat left top; background-size:  .94rem  .94rem;}
/*中断*/
.interrupt{ width: .94rem; height: .94rem;position: absolute;right: .2rem;top: 1.2rem; background: url(../images/ic_dyseal_interrupt.png) no-repeat left top; background-size:  .94rem  .94rem;}
/*腰斩*/
.cut{ width: .94rem; height: .94rem;position: absolute;right: .2rem;top: 1.2rem; background: url(../images/ic_dyseal_cut.png) no-repeat left top; background-size:  .94rem  .94rem;}



.free{ width: 1rem; height: .57rem;position: absolute;right: 1.2rem;top: 0rem; background: url(../images/free_top.png) no-repeat left top; background-size:  1rem  auto;}

.free_green{ width: .3rem; height:.3rem;background: url(../images/guess/free.png) no-repeat left bottom; background-size:  .3rem  .3rem;display:inline-block;margin-left: .15rem;}

.n_top{ border-bottom: 1px solid #dbdbdb;height: .96rem}
.n_top_left{float: left;font-size: .26rem;margin-top: .12rem}
.n_top_right{float: right;line-height: .57rem;font-size: .24rem; color: #999999}
.n_top_left span{float: left;}
.n_top_left img{float:left;width: .62rem; height: .62rem; border-radius: 50%;vertical-align: middle;margin-right: .2rem}
.n_top_left em{margin-top: .04rem;}

/*新增连胜。。2016年8月23日 10:24:07*/
.n_top_right em{padding: 0 .15rem; background: #eb4381;display: block;float: left;height: .28rem;color: #fff;line-height:.32rem;margin-left: .1rem;font-size: .20rem;margin-top: .15rem;}
.n_top_right .zhous{border-radius: .2rem;}
.n_top_right .mingz{background: #f86054;border-radius: .2rem;}
.n_top_right .lians{background: url(../images/guess/ic_streak.png) no-repeat left top; width: 1.11rem;height: .32rem;background-size: 1.11rem .32rem;padding: 0;padding-left: .35rem;line-height: .36rem;margin-top: .13rem;text-align: center; }

.com_dt .p_1 span{margin-left: .15rem}
.com_dt .p_1 span img{width: .35rem;height: .35rem;}
.com_dt .p_1 .coins{background: url(../images/guess/need_coins.png) no-repeat left top; width:.9rem;height:.34rem;background-size: .88rem .32rem;color: #916b10;display: inline-block;font-size: .2rem;text-align: center;padding-left: .2rem;line-height: .36rem;font-weight: bold;}
.com_dt .p_1{width: 100%;float: left;padding-bottom: .1rem}
.com_dt .p_1 .t_vs{float: left;}
.com_dt .p_1 .etip{float: left;}
.etip{float: left;}
/*等级*/
.lv0{background: url(../images/level/ic_ya_lv0@2x.png) no-repeat left top; }
.lv1{background: url(../images/level/ic_ya_lv1@2x.png) no-repeat left top; }
.lv2{background: url(../images/level/ic_ya_lv2@2x.png) no-repeat left top; }
.lv3{background: url(../images/level/ic_ya_lv3@2x.png) no-repeat left top; }
.lv4{background: url(../images/level/ic_ya_lv4@2x.png) no-repeat left top; }
.lv5{background: url(../images/level/ic_ya_lv5@2x.png) no-repeat left top; }
.lv6{background: url(../images/level/ic_ya_lv6@2x.png) no-repeat left top; }
.lv7{background: url(../images/level/ic_ya_lv7@2x.png) no-repeat left top; } 
.lv8{background: url(../images/level/ic_ya_lv8@2x.png) no-repeat left top; }
.lv9{background: url(../images/level/ic_ya_lv9@2x.png) no-repeat left top; }
/*竞彩*/
.jc_lv0{background: url(../images/level/ic_ji_lv0@2x.png) no-repeat left top; }
.jc_lv1{background: url(../images/level/ic_ji_lv1@2x.png) no-repeat left top; }
.jc_lv2{background: url(../images/level/ic_ji_lv2@2x.png) no-repeat left top; }
.jc_lv3{background: url(../images/level/ic_ji_lv3@2x.png) no-repeat left top; }
.jc_lv4{background: url(../images/level/ic_ji_lv4@2x.png) no-repeat left top; }
.jc_lv5{background: url(../images/level/ic_ji_lv5@2x.png) no-repeat left top; }
.jc_lv6{background: url(../images/level/ic_ji_lv6@2x.png) no-repeat left top; }
.jc_lv7{background: url(../images/level/ic_ji_lv7@2x.png) no-repeat left top; } 
.jc_lv8{background: url(../images/level/ic_ji_lv8@2x.png) no-repeat left top; }
.jc_lv9{background: url(../images/level/ic_ji_lv9@2x.png) no-repeat left top; }
.lv{background-size: .56rem .24rem; width: .56rem; height: .24rem;display: inline-block;margin-top: .07rem;margin-left: .2rem;}

.mian img{ width: .44rem;margin-left: .1rem }

.com_dt p{padding: .08rem 0;}
.com_dt .p_1{font-size: .24rem;padding-top: .08rem}
.com_dt .p_1 em{margin-right: .16rem}
.com_dt .p_2 span{color: #999999}
.com_dt .p_3 span{color: #999999}
.com_dt .p_4 span{color: #666666}
.com_dt .p_4 em{color: #FF8800}
.com_dt .p_5 em{color: #eb0000}
.com_dt .p_5{line-height: 150%}
.com_dt .p_5 span{color: #666666}

#tips_bg{ position: fixed; color: #fff; top: 50%; display: none; width: auto; height: auto; padding: 20px; background: #000;
          filter:alpha(opacity=50);  
      -moz-opacity:0.8;  
      -khtml-opacity: 0.8;  
      opacity: 0.8;  -moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
    left: 50%;
    width: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

}
.bubbleTips{ display: none; width: auto;  padding: 0.2rem; line-height: 0.5rem; text-align: center; position: fixed; left: 50%; margin-left: -1.4rem; top: 50%; background: rgba(0,0,0,0.7); border-radius: .1rem; z-index: 99999; color: #fff;}

/*type['number']移除小箭头*/
.re_arrows{-webkit-appearance: none !important;
    margin: 0;-moz-appearance:textfield;}

.js-detail,.ios_touch{
    cursor:pointer;
}


/* 返回顶部 */
.return-top {
  position: fixed;
    left: 85%;
    top: 75%;
    display: none;
}
.return-top a {
    display: block;
    width: 48px;
    height: 48px;
    background: #10af63;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}
.return-top a:hover {
    background: #2db77b;
}
.return-top a .ft_bg{display: block; height: 22px; background: url(//jc.qqty.com/Public/Home/images/index/ft_bg.png) no-repeat center center; margin-bottom: 2px;}

/*搜索按钮*/
.search_btn{width: .4rem;height: .4rem;background: url(../images/header_search_btn.png) no-repeat left center;background-size: .4rem .4rem;position: absolute;right: 1rem;top: .25rem}
.search_btn a{display: block;height: .4rem;width: .4rem;}

/*无数据提示*/
.com_nodata{width: 3rem;height: 1.1rem;margin:0 auto;padding: 1rem 0 1.5rem 0;text-align: center;}
.com_nodata img{width: 1.1rem;height: 1.1rem;}
.com_nodata p{margin-top: .2rem;}

/*app下载*/ .app-bar{ overflow: hidden; position:fixed; left:0; bottom: 0; width:100%; height: 1.1rem; background: url(../images/app-bar1.png) no-repeat center center; background-size: 100%  100%; color:#FFF; z-index:777; font-size: 12px; font-family: "Microsoft Yahei";}
.app-bar .app-logo{float:left; width: .8rem; margin: .15rem 0 0 .5rem;}
.app-btn{ float:right; background-color: #ff7e00; border-radius: .08rem; width: 1.8rem; height: .68rem; line-height: .68rem; font-size: 0.34rem; text-align: center; margin: .21rem .2rem 0 0; color:#FFF;}
.app-close{ width: .38rem; height: .38rem; background: url(../images/app-close.png) no-repeat; background-size:100%; position: absolute; left: 0; top: 0;}
/*定位*/
.headFixed{width: 100%; position: fixed!important; left: 0; top: 0; z-index: 2;}
.navFixed{width: 100%; position: fixed; left: 0; top: .8rem; z-index: 10001;}
.contentPt{ padding-top: 1.6rem;}

.none{display: none!important}
.block{display: block!important}

/*弹框*/
.fixBox{ background: rgba(0,0,0,0.7); width: 100%; height: 100%; position: fixed; left:0; top: 0; z-index: 99999;}
.fixBoxIn{ width: 5.5rem; background: #fff; margin: 0 auto; margin-top: 40%;}
.fixBoxIn .tip{ height: 1.2rem;padding-top: .2rem; line-height: 0.4rem; text-align: center; border-bottom: 1px solid #ddd; font-size: .3rem;}
.fixBoxIn .tip p{font-size: .24rem}
.fixBoxIn .tip_btn{ display: block; height: .9rem; line-height: .9rem; text-align: center; color: #10af63;width: 50%;float: left;border-right: 1px solid #ddd}
/*.fixBoxIn .tip_btn:last-child{border-right: 0;color: red}*/
/*弹框END*/

.team_vs{padding-left: .85rem!important;}


/* 弹出层 */
.modal{display: none; position: fixed;  top: 30%;  left: 50%; width: 72%; margin-left: -36%; background-color: #fff;  z-index:100001;}
.modal-raduis{ border-radius: 5px;}
.modal-header{ padding: .2rem;}
.modal-header .modal-title{ line-height: .5rem; text-align: center; font-size: .36rem; font-weight: normal; margin-bottom: .2rem; padding: .1rem 0; border-bottom: 1px solid #e5e5e5;}
.modal-header p{ text-align: center; font-size: .3rem;}
.modal_ul li a{ display: block; height: .9rem; line-height: .9rem; color: #10af63; font-size: .34rem; text-align: center; border-top: 1px solid #e5e5e5;}
.modalBtn{ padding-top: .1rem; border-top: 1px solid #e5e5e5; margin-top: .2rem;}
.modalBtn a{ width: 50%; text-align: center; padding: .2rem 0;}
.btnDefaut{ background: #dbdbdb; color: #333;}
.btnGreen{ background: #01af63; color: #fff;}
.modal-backdrop {
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    background-color: #000000;
    opacity: 0.5;
    overflow-x: hidden;
}

/*改版index*/
.ntl_name{margin-top: -.1rem}
.ya_text{font-size: .24rem;color: #666666;margin-left: .1rem}
.ya_text i{font-style: normal;color: #ff8d06}
.ntl_per{margin-top: .05rem}
.ntl_per em{
    display: inline-block;
    background: #ff7f00;
    color: #fff;
    font-size: .2rem;
    height: .3rem;
    line-height: .3rem;
    border-radius: .2rem;
    padding: 0 .15rem;
    margin-right: .2rem;
    float: left;
  }
.ntl_per span{
    display: inline-block;
    background: url(../images/index/lians.png) no-repeat;
    background-size: 1.32rem .40rem;
    color: #fff;
    border-radius: .2rem;
    margin-right: .2rem;
    display: block;
    font-size: .22rem;
    text-align: center;
    text-indent: .2rem;
    width: 1.32rem;
    height: .40rem;
    line-height: .40rem;
  }

.posts{background: #f2f3f7}
.posts .list{background: #fff}
.n_top_right img{width:.9rem;height: .81rem }
/*比赛结果*/
.game_res{width: 1rem;height:.5rem;line-height: .5rem; text-align: center; color: #fff;border-radius: .5rem;position: absolute;right: .4rem;top: 1.6rem;background:#e3796e url(../images/index/ic_index_applaud.png) no-repeat .2rem center;background-size: .3rem .3rem;text-indent: .3rem }
.zou_res{background:#e3796e url(../images/index/ic_index_checked.png) no-repeat .2rem center;background-size: .3rem .3rem; }
.lose_res{background:#c8c8c8 url(../images/index/ic_index_notapplaud.png) no-repeat .2rem center;background-size: .3rem .3rem; }


/*查看推荐对话框*/
.com_tip{width: 80%;position: fixed; top: 35%;left: 10%;background: #fff;z-index: 9999;border-radius: .1rem;font-size: .32rem}
.tip_title{height: .8rem;line-height: .8rem;background: #00af62;text-align: center;color: #fff;border-radius: .1rem .1rem 0 0;font-weight: bold;}
.tip_con{min-height: .6rem;line-height: .6rem;text-align: center;padding: .4rem;}
.tip_btn{border-top:1px solid #ddd}
.tip_btn_com{width: 50%;float: left;text-align: center;height: 1rem;line-height: 1rem;}
.tip_btn_com:first-child{border-right: 1px solid #ddd}
.tip_btn_com:last-child{color: #ff8919}
.tip_sele{height: .8rem;line-height: .8rem;background: #ebebeb;text-align: center;color: #787878}

.match table tr .q-tr span:last-child{font-size: .24rem;font-weight: bold;}
.match table tr .q-tl span:first-child{font-size: .24rem;font-weight: bold;}
.mach_over{font-weight: bold;}
/*match js-data live_now ios_touch*/
/*match  js-data js-detail*/







