/*充值*/
.pay_con{padding: 40px;background: #fff;min-height: 700px;font-size: 16px}
.have_gold i{width:80px;display: inline-block;font-style:normal}
.have_gold .chenge-size{font-size:18px}
.pay_money{padding-left: 80px}
.pb_40{padding-bottom: 40px}
.free_pay span{color: #eb0000}
.free_pay input{width: 100px;height: 36px;font-size: 18px;padding-left: 5px;border:1px solid #e5e5e5}
/*充值金额*/
.pay_money ul li{float: left;width: 150px;height: 90px;border:1px solid #dddddd;margin-right: 30px;margin-bottom:10px;border-radius: 5px;background:url(../../images/quiz_hall/select.png) no-repeat -17px -17px; position: relative;}
.pay-money ul li a{display: block;width:100%;height:100%;}
.send{line-height:32px;margin-top:5px;font-size: 18px;color:#e45012;font-weight: bold}
.send span{display: block;width:20px;height:20px;border-radius: 50%;float: left;background: #ae3d0f;margin-left: 82px;font-size: 8px;text-align: center;color:#ffffff;line-height: 20px;margin-top:7px;margin-right: 3px;}
.recharge{ position: absolute; font-size: 10px;margin-left: 5px;color: #ffffff;line-height: 18px;font-size: 10px;color:#ffffff; top: 36px;}
.recharge i{font-style: normal;font-size: 32px;font-weight: 550}
/* .pay_money ul li:hover{border:1px solid #ff7e00;cursor: pointer;}
.pay_money ul li:hover a{color:#ff7e00;} */
.pay_money ul li.on{background:url(../../images/quiz_hall/selected.png) no-repeat -17px -17px}
/*支付方式*/
.pay_money_box b{font-weight:500;font-size: 14px;}
.pay-money-all{font-size: 24px;color:#eb371f;font-weight: bold}
.unit{font-style:normal;font-size: 16px;color:#eb371f;padding-left: 5px}
.pay_type {margin:30px 0 10px 0;}
.pay_type ul li{width: 177px;height: 50px;line-height: 50px;border: 1px dashed #ddd;float: left;margin-right: 20px;padding-left: 30px;background: url(../../images/quiz_hall/un.png) no-repeat 9px 19px;}
.hot-icon{float:right;width:35px;height:50px;display:inline-block;background:url(../../images/quiz_hall/recommend.png) no-repeat top right}
.pay_type ul li:hover{border:1px solid #ff7e00;cursor: pointer;}
.pay_type ul li img{margin-top: -3px}
.pay_type ul li.on{border:1px solid red; background: url(../../images/quiz_hall/on.png) no-repeat 9px 19px;}
.radio-style{margin:0 14px 0 7px!important}
.type{width:80px;display: inline-block;float: left;line-height: 42px;}
.accept{padding-left: 80px;font-size: 14px;color:#666666}
.accept a{text-decoration: underline!important;}
.form-group{margin-top: 10px;padding-bottom: 20px;font-size: 14px}
.pay_btn{margin:30px 0 0 80px}
.pay_btn input{width: 150px;height: 45px;background: #ff7e00;border:none;color: #fff;opacity: 0.9}
.pay_btn input:hover{opacity: 1}
.guize{width:690px;margin-left:80px;border:1px dashed #ccc;padding: 10px 0 12px 15px}
.guize p{font-size: 14px;line-height:25px;}
.guize p:first-child{font-size: 18px;font-weight: 550}
/* 微信支付的方式 */
.wx_pay_method{display:none;width:690px;height:430px;background:red;margin-left: 80px;margin-bottom:20px;background:url(../../images/quiz_hall/pay_wx_bg.png) no-repeat center center #eeeeee;background-size:690px 450px;background-position-y:-20px;}
.wx_block{display: block}
.btn_none{display: none}
.wx_pay_method_left{width:50%;height:100%;padding:50px;float: left;}
.wx_pay_method_top{display: inline-block;font-size: 14px;color:#999999;text-align: center;padding: 0 0 5px 20px;}
.wx_code{width:230px;height:230px;background:#ffffff no-repeat center center;display: inline-block}
.wx_code_small{width:230px;height:60px;background:url(../../images/quiz_hall/pay_wx_icon.jpg) no-repeat 10px center #eb4e3a;margin-top:20px;}
.wx_code_small span{display: inline-block;padding: 7px 0 0 70px;font-size:14px;color:#ffffff;line-height:14px }
.wx_code_small span:first-child{padding-top:12px}
/* 支付模态窗口开始 */
@media (min-width: 768px){
.modal-sms { width: 410px;}
} 
.modal { margin-left: -215px;}
.modal-header .close{ color: #10af63; opacity: 1;}
.modal-header .close:hover{ color: #ccc; opacity: 1;}
.modal-header h4{ color: #10af63;}
.modal-body{ padding: 20px 50px;}
.modal-body .pay-title{ height: 32px; line-height: 32px; font-size: 18px; color: #eb0000;}
.modal-body .pay-item-type span{ display: inline-block; height: 34px; line-height: 34px; padding-left: 34px;}
/* .modal-body .pay-item-su span{ background: url(../../images/quiz_hall/personal_center/pay-su-icon.png) no-repeat left center;}
.modal-body .pay-item-fa span{ background: url(../../images/quiz_hall/personal_center/pay-fa-icon.png) no-repeat left center;} */
.modal-body .pay-item-su{ margin-top: 10px; margin-bottom: 20px;}
.modal-body .pay-item-type .btn{ width: 90px; text-align: center; padding: 5px 12px; margin-left: 10px; border-radius: 3px;transition: all ease-out 0.2s}
.modal-body .pay-item-su .btn{  border: 1px solid #76db7b; background: #f2fff0; color: #01af63;}
.modal-body .pay-item-su .btn:hover{ background: #77db7b; border-color:#76db7b; color: #ffffff;}
.modal-body .pay-item-fa .btn{  border: 1px solid #e05353; background: #e05353; color: #ffffff;}
.modal-body .pay-item-fa .btn:hover{ background: #e03838; border-color:#e03838; color: #ffffff;}
.modal-body .pay-item-fa{ border-bottom: 1px dashed #e5e5e5; padding-bottom: 20px;}









