<extend name="Public:header"/>
<block name="seo">
    <title>全球体育_完场比分_足球比分_篮球比分_即时比分_比分直播_未来赛程_竞彩比分</title>
    <meta name="keywords" content="竞彩比分、足球比分、篮球比分、即时比分、完场比分、nba比分、zuqiubifen、bifenzhibo、2018世界杯"/>
    <meta name="description" content="全球体育网是2018足球世界杯比分、竞彩比分、足球比分、篮球比分、即时比分、完场比分、nba比分、zuqiubifen、bifenzhibo的大数据比分平台"/>
</block>

<block name="body">
    <body <if condition="$header neq ''">style="background: #ffffff;"</if>>
    <!--引入本页所需css-->
    <link rel="stylesheet" href="__PUBLIC__/Home/bkscore/css/scoreLive/scoreLive.css?20171024">
    <link rel="stylesheet" href="__PUBLIC__/Home/bkscore/css/scoreLive/baskLive.css">


    <div class="body">
        <if condition="$header eq ''">
            <include file="Public:top_score"/>
        </if>
        <!-- 主体内容开始 -->
        <div class="home clearfix">
            <!-- 导航开始 -->
            <include file="Public:bk_score_nav"/>
            <section class="main">
                <!-- 筛选功能选择开始 -->
                <div class="control-con">
                    <!-- 筛选导航 -->
                    <div class="control-box clearfix">
                        <div class="pull-left control-2">
                            <ul class="clearfix">
                                <li class="on"><a href="javascript:;"onclick="show()">完整</a></li>
                                <li><a href="javascript:;" class="type-li02">竞彩</a></li>
                                <li><a href="javascript:;" class="type-li03">NBA</a></li>
                            </ul>
                        </div>
                        <div class="pull-left control-l">
                            <ul class="control-ul clearfix">
                                <li class="control-li control-li01"><a href="javascript:;" class="mya pitch" type="block">保留选中</a></li>
                                <li class="control-li control-li02"><a href="javascript:;" class="mya pitch" type="none">隐藏选中</a></li>
                                <li class="control-li control-li03">
                                    <a href="javascript:;" class="mya dropdown event">
                                        赛事选择<span class="caret"></span>
                                    </a>
                                    <div class="box-list dropdown-menu">
                                        <div class="clearfix">
                                            <div class="pull-left box-title">赛事选择</div>
                                            <div class="pull-right box-title"><span>隐藏 <em class="text-red count menu_count" id="test2">0</em> 场</span></div>
                                        </div>
                                        <div class="box-team">
                                            <div class="box-rank clearfix">
                                                <ul class="rank-ul clearfix">
                                                    <li class="rank-ul-li01 unionLevel on"><a data-unionLevel="1" level="" href="javascript:;"><i class="iconType"></i><p>一级赛事</p></a></li>
                                                    <li class="rank-ul-li02 unionLevel on"><a data-unionLevel="2" href="javascript:;"><i class="iconType"></i><p>二级赛事</p></a></li>
                                                    <li class="rank-ul-li03 unionLevel on"><a data-unionLevel="3" href="javascript:;"><i class="iconType"></i><p>三级赛事</p></a></li>
                                                </ul>
                                            </div>
                                            <div id="menu_list">
                                                <ul class="clearfix match-team" menu_id="1">
                                                    <volist name="union" id="item">
                                                        <li style="border-color: {$item['union_color']};" match_level="{$item['grade']}">
                                                            <label class="inline">
                                                                <input type="checkbox" class="userid" id="" checked="" value="option1"  union_m="{$item['union_id']}">
                                                                <span class="bg-ac lang_cn">{$item['union_name'][3]}</span>
                                                                <span class="bg-ac lang_tw lang_css">{$item['union_name'][4]}</span>
                                                                <span class="bg-ac lang_en lang_css">{$item['union_name'][5]}</span>
                                                                <em>[{$item['num']}]</em>
                                                            </label>
                                                        </li>
                                                    </volist>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn-con clearfix">
                                            <input type="button" id="checkAll" class="btn btn-blue pull-left" value="全选">
                                            <input type="button" id="reverse" class="btn btn-red pull-left" value="反选" style="margin-left: 12px;">
                                            <input type="button" id="ensures" class="btn btn-blue pull-right" style="margin-left: 12px;" value="确定">
                                            <input type="button" id="removeAll" class="btn btn-default pull-right" value="关闭">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="pull-left input-append">
                            <input id="search_text" class="Colltext pull-left" type="text" placeholder="输入球队名/赛事名">
                            <a class="Colladd pull-left btn-orange" href="javascript:;" id="check">查看</a>
                        </div>
                        <div class="pull-right control-r clearfix">
                            <div class="dropdown pull-left odds-language">
                                <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                                    <span id="languageContent" language="1">简体</span>
                                    <i class="caret"></i>
                                </button>
                                <ul id="languageSle" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a role="menuitem" data-language="1" tabindex="-1" href="javascript:;">简体</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" data-language="2" tabindex="-1" href="javascript:;">繁体</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" data-language="3" tabindex="-1" href="javascript:;">EN</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right sh">
                            <span>隐藏 <em class="text-red count">0</em> 赛事</span>
                            <a href="javascript:;" onclick="show()">显示全部</a>
                        </div>

                    </div>
                </div>
                <!-- 筛选功能选择结束 -->

                <!-- 表格内容开始 -->

                <div class="loading_gif" style="text-align: center;">
                    <img src="https://bf.qqty.com//Public/Home/score/images/loading.gif" width="180">
                </div>
                <div class="mytable01" style="display:none;">
                    <table class="table now_title" <if condition="$status['ns'] neq 1">style="display:none;"</if>>
                        <tr bgcolor="#f2f2f7">
                            <td colspan="15" class="text-l p10 no-b-t liveTxt">
                                <span>正在进行中</span>
                            </td>
                        </tr>
                    </table>
                    <div class="now">
                        <if condition="$status['ns'] eq 1">
                            <volist name="list" id="item" key="k">
                                <if condition="$item[info][0]['game_status'] gt 0">
                                    <include file="BkScore:index_list_pack"/>
                                </if>
                            </volist>
                        </if>
                    </div>
                    <table class="table unopened_title" <if condition="$status['now'] neq 1">style="display:none;"</if>>
                        <tr bgcolor="#f2f2f7">
                            <td colspan="15" class="text-l p10 no-b-t notBeginTxt">
                                <span>未开始</span>
                            </td>
                        </tr>
                    </table>
                    <div class="unopened">
                        <if condition="$status['now'] eq 1">
                            <volist name="list" id="item" key="k">
                                <if condition="$item[info][0]['game_status'] eq 0">
                                    <include file="BkScore:index_list_pack"/>
                                </if>
                            </volist>
                        </if>
                    </div>
                    <table class="table over_title" <if condition="$status['over'] neq 1">style="display:none;"</if>>
                        <tr bgcolor="#f2f2f7">
                            <td colspan="15" class="text-l p10 no-b-t endTxt">
                                <span>已结束</span>
                            </td>
                        </tr>
                    </table>
                    <div class="over">
                        <if condition="$status['over'] eq 1">
                            <volist name="list" id="item" key="k">
                                <if condition="$item[info][0]['game_status'] lt 0">
                                    <include file="BkScore:index_list_pack"/>
                                </if>
                            </volist>
                        </if>
                    </div>
        </div>
        </section>
    </div>

    <!-- 主体内容开始 -->
    <if condition="$header eq ''">
        <!-- 梯口模块开始 -->
        <include file="Public:s_elevator"/>
        <include file="Public:footer"/>
    </if>
    </div>
    </body>
    </html>
    <!--引入本页所需js-->
    <script>
        var sprScore = {:json_encode(C('score'),JSON_UNESCAPED_UNICODE)};
        var company  = {:json_encode(C('DB_COMPANY_INFO'),JSON_UNESCAPED_UNICODE)};
        var mqHost = window.location.protocol == 'https:'? 'wss://'+'{$mqttOpt.ssl_host}'+':8084':'ws://'+'{$mqttOpt.host}'+':8083';
    </script>
    <script type="text/javascript" src="__PUBLIC__/Home/score/js/mqtt.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/bkscore/js/scoreLive.js"></script>
    <script type="text/javascript" src="/min/?b=Public/Home&f=backend_js/common/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/score/js/mqttConnect.js"></script>
</block>